Repository OpenRCT2/OpenRCT2, pull requests merged in 2018-05, with the labels that each got.

#7477 Clean up tile element usage, introduce struct methods
  src/openrct2-ui/windows/RideConstruction.cpp
  src/openrct2-ui/windows/Sign.cpp
  src/openrct2-ui/windows/TileInspector.cpp
  src/openrct2-ui/windows/TopToolbar.cpp
  src/openrct2/actions/MazeSetTrackAction.hpp
  src/openrct2/actions/PlaceParkEntranceAction.hpp
  src/openrct2/paint/tile_element/SmallScenery.cpp
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/RideRatings.cpp
  src/openrct2/ride/Track.cpp
  src/openrct2/ride/Track.h
  src/openrct2/ride/TrackDesign.cpp
  src/openrct2/world/Banner.cpp
  src/openrct2/world/Entrance.cpp
  src/openrct2/world/SmallScenery.h
  src/openrct2/world/TileElement.cpp
  src/openrct2/world/TileElement.h
  src/openrct2/world/TileInspector.cpp
  src/openrct2/world/Wall.h
  test/testpaint/TestTrack.cpp
Labels: refactor

#7481 Replace tile_element_get_type() with struct method
  src/openrct2-ui/windows/Banner.cpp
  src/openrct2-ui/windows/Footpath.cpp
  src/openrct2-ui/windows/Map.cpp
  src/openrct2-ui/windows/Ride.cpp
  src/openrct2-ui/windows/Sign.cpp
  src/openrct2-ui/windows/TileInspector.cpp
  src/openrct2/Cheats.cpp
  src/openrct2/EditorObjectSelectionSession.cpp
  src/openrct2/actions/RideDemolishAction.hpp
  src/openrct2/interface/Console.cpp
  src/openrct2/interface/ViewportInteraction.cpp
  src/openrct2/paint/VirtualFloor.cpp
  src/openrct2/paint/tile_element/TileElement.cpp
  src/openrct2/peep/Peep.cpp
  src/openrct2/peep/Staff.cpp
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/RideRatings.cpp
  src/openrct2/ride/Station.cpp
  src/openrct2/ride/Track.cpp
  src/openrct2/ride/TrackDesign.cpp
  src/openrct2/ride/TrackDesignSave.cpp
  src/openrct2/ride/Vehicle.cpp
  src/openrct2/ride/transport/Chairlift.cpp
  src/openrct2/scenario/Scenario.cpp
  src/openrct2/world/Banner.cpp
  src/openrct2/world/Entrance.cpp
  src/openrct2/world/Footpath.cpp
  src/openrct2/world/Fountain.cpp
  src/openrct2/world/Map.cpp
  src/openrct2/world/MapAnimation.cpp
  src/openrct2/world/Park.cpp
  src/openrct2/world/Scenery.cpp
  src/openrct2/world/SmallScenery.cpp
  src/openrct2/world/Sprite.cpp
  src/openrct2/world/TileElement.cpp
  src/openrct2/world/TileElement.h
  src/openrct2/world/TileInspector.cpp
  src/openrct2/world/Wall.cpp
  test/testpaint/Compat.cpp
Labels: on hold

#6936 Draw dropdown captions directly through widget
  data/language/en-GB.txt
  src/openrct2-ui/windows/Options.cpp
  src/openrct2/localisation/StringIds.h
Labels: interface, pending review

#7502 Refactor imaging and import
  OpenRCT2.xcodeproj/project.pbxproj
  src/openrct2-ui/Ui.cpp
  src/openrct2-ui/UiContext.cpp
  src/openrct2-ui/drawing/BitmapReader.cpp
  src/openrct2-ui/drawing/BitmapReader.h
  src/openrct2/CmdlineSprite.cpp
  src/openrct2/Context.cpp
  src/openrct2/Imaging.cpp
  src/openrct2/Imaging.h
  src/openrct2/core/Imaging.cpp
  src/openrct2/core/Imaging.h
  src/openrct2/core/String.cpp
  src/openrct2/core/String.hpp
  src/openrct2/drawing/ImageImporter.cpp
  src/openrct2/drawing/ImageImporter.h
  src/openrct2/interface/Screenshot.cpp
  src/openrct2/ui/DummyUiContext.cpp
  src/openrct2/ui/UiContext.h
  src/openrct2/world/MapGen.cpp
  test/tests/CMakeLists.txt
  test/tests/ImageImporterTests.cpp
  test/tests/testdata/images/logo.png
  test/tests/tests.vcxproj
Labels: refactor

#6807 GAME_COMMAND_REMOVE_WALL GameAction
  src/openrct2-ui/windows/Sign.cpp
  src/openrct2/Game.cpp
  src/openrct2/Game.h
  src/openrct2/actions/GameAction.cpp
  src/openrct2/actions/GameActionCompat.cpp
  src/openrct2/actions/GameActionRegistration.cpp
  src/openrct2/actions/WallRemoveAction.hpp
  src/openrct2/interface/ViewportInteraction.cpp
  src/openrct2/network/Network.cpp
  src/openrct2/ride/TrackDesign.cpp
  src/openrct2/world/Map.cpp
  src/openrct2/world/Map.h
  src/openrct2/world/Scenery.cpp
  src/openrct2/world/Wall.cpp
  src/openrct2/world/Wall.h
Labels: game actions, network version

#7407 Check Guest Tile When Placing New Staff
  distribution/changelog.txt
  src/openrct2/network/Network.cpp
  src/openrct2/peep/Staff.cpp
Labels: network version

#7510 Horizontal Clipping
  data/language/en-GB.txt
  distribution/changelog.txt
  src/openrct2-ui/windows/TopToolbar.cpp
  src/openrct2-ui/windows/ViewClipping.cpp
  src/openrct2/interface/Viewport.cpp
  src/openrct2/interface/Viewport.h
  src/openrct2/localisation/StringIds.h
  src/openrct2/paint/Paint.cpp
  src/openrct2/paint/Paint.h
  src/openrct2/paint/sprite/Sprite.cpp
  src/openrct2/paint/tile_element/Surface.cpp
  src/openrct2/paint/tile_element/TileElement.cpp
  test/testpaint/Compat.cpp
Labels: feature

#7519 Refactor code around object types
  src/openrct2-ui/windows/EditorObjectSelection.cpp
  src/openrct2/EditorObjectSelectionSession.cpp
  src/openrct2/interface/Window.h
  src/openrct2/object/ObjectJsonHelpers.cpp
  src/openrct2/object/ObjectManager.cpp
  src/openrct2/object/ObjectManager.h
  src/openrct2/object/ObjectRepository.cpp
  src/openrct2/object/ObjectRepository.h
  src/openrct2/object/RideObject.cpp
  src/openrct2/object/SceneryGroupObject.cpp
  src/openrct2/paint/tile_element/Surface.cpp
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/ride/TrackDesign.cpp
  src/openrct2/ride/TrackDesignRepository.cpp
Labels: refactor

#7380 Fix guest/staff speed when they enter a ride from a sloped path
  distribution/changelog.txt
  src/openrct2/network/Network.cpp
  src/openrct2/peep/Guest.cpp
  src/openrct2/peep/Peep.cpp
  src/openrct2/peep/Staff.cpp
Labels: network version

#7483 Fix #7418: Staff walk off paths with a connection but no adjacent path
  distribution/changelog.txt
  src/openrct2/network/Network.cpp
  src/openrct2/peep/Peep.cpp
Labels: network version

#7543 Create new Park class
  src/openrct2/Cheats.cpp
  src/openrct2/Context.cpp
  src/openrct2/Context.h
  src/openrct2/Game.cpp
  src/openrct2/actions/RideDemolishAction.hpp
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/scenario/Scenario.cpp
  src/openrct2/world/Park.cpp
  src/openrct2/world/Park.h
Labels: pending review, refactor

#7550 Fix park value regression
  src/openrct2/actions/RideDemolishAction.hpp
  src/openrct2/network/Network.cpp
Labels: network version

#3473 Added button to renew ride
  data/language/en-GB.txt
  distribution/changelog.txt
  src/openrct2-ui/WindowManager.cpp
  src/openrct2-ui/windows/DemolishRidePrompt.cpp
  src/openrct2-ui/windows/MazeConstruction.cpp
  src/openrct2-ui/windows/Ride.cpp
  src/openrct2-ui/windows/RideConstruction.cpp
  src/openrct2-ui/windows/RideList.cpp
  src/openrct2-ui/windows/Window.h
  src/openrct2/actions/GameActionCompat.cpp
  src/openrct2/actions/RideDemolishAction.hpp
  src/openrct2/interface/Window.h
  src/openrct2/localisation/StringIds.h
  src/openrct2/network/Network.cpp
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/Ride.h
  src/openrct2/ride/TrackDesign.cpp
  src/openrct2/ride/TrackDesignSave.cpp
Labels: network version, pending review, testing required

#7548 Tile Inspector UX Improvements
  distribution/changelog.txt
  src/openrct2-ui/WindowManager.cpp
  src/openrct2-ui/windows/TileInspector.cpp
  src/openrct2-ui/windows/Window.h
  src/openrct2/network/Network.cpp
  src/openrct2/windows/Intent.h
  src/openrct2/world/TileInspector.cpp
Labels: network version

#7582 Use ccache on travis
  .travis.yml
  CMakeLists.txt
  scripts/linux/build.sh
Labels: build

#7567 Improve performance of park loading
  distribution/changelog.txt
  src/openrct2-ui/windows/TitleEditor.cpp
  src/openrct2/Context.cpp
  src/openrct2/Editor.cpp
  src/openrct2/Game.cpp
  src/openrct2/Game.h
  src/openrct2/HandleParkLoad.h
  src/openrct2/ParkImporter.cpp
  src/openrct2/ParkImporter.h
  src/openrct2/object/Object.h
  src/openrct2/object/ObjectManager.cpp
  src/openrct2/object/ObjectManager.h
  src/openrct2/rct1/RCT1.h
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/rct12/SawyerChunkReader.cpp
  src/openrct2/rct12/SawyerChunkReader.h
  src/openrct2/rct2/S6Importer.cpp
  src/openrct2/scenario/Scenario.h
  src/openrct2/title/TitleScreen.cpp
  src/openrct2/title/TitleSequencePlayer.cpp
  test/tests/MultiLaunch.cpp
  test/tests/TileElements.cpp
Labels: refactor

#7577 Allow fine-tuning the virtual floor style
  data/language/en-GB.txt
  src/openrct2-ui/input/Input.cpp
  src/openrct2-ui/windows/Options.cpp
  src/openrct2-ui/windows/TopToolbar.cpp
  src/openrct2/config/Config.cpp
  src/openrct2/config/Config.h
  src/openrct2/localisation/StringIds.h
  src/openrct2/paint/VirtualFloor.cpp
  src/openrct2/paint/VirtualFloor.h
  src/openrct2/paint/tile_element/TileElement.cpp
Labels: changelog, pending review

#7580 Fix #7571 Track design ghost generates money
  distribution/changelog.txt
  src/openrct2/network/Network.cpp
  src/openrct2/world/Map.cpp
  src/openrct2/world/Map.h
Labels: network version

#7596 Check for ghost flag when removing track blocks
  distribution/changelog.txt
  src/openrct2-ui/windows/RideConstruction.cpp
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/Ride.h
  src/openrct2/ride/Track.cpp
  src/openrct2/ride/Vehicle.cpp
Labels: changelog

#5979 Create new GameState class
  OpenRCT2.xcodeproj/project.pbxproj
  src/openrct2/Cheats.cpp
  src/openrct2/Context.cpp
  src/openrct2/Context.h
  src/openrct2/Editor.cpp
  src/openrct2/Game.cpp
  src/openrct2/Game.h
  src/openrct2/GameState.cpp
  src/openrct2/GameState.h
  src/openrct2/actions/RideDemolishAction.hpp
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/rct2/S6Importer.cpp
  src/openrct2/scenario/Scenario.cpp
  src/openrct2/title/TitleScreen.cpp
  src/openrct2/title/TitleScreen.h
  src/openrct2/title/TitleSequencePlayer.cpp
  src/openrct2/title/TitleSequencePlayer.h
  src/openrct2/world/Park.cpp
  src/openrct2/world/Park.h
  test/tests/MultiLaunch.cpp
Labels: refactor
