Repository OpenRCT2/OpenRCT2, pull requests merged in 2018-06, with the labels that each got.

#7574 Fix #7568: Demolish button causes hang
  src/openrct2/network/Network.cpp
  src/openrct2/ride/Ride.cpp
Labels: network version

#7587 Fix #7505: Crash when building path off map edge
  distribution/changelog.txt
  src/openrct2/network/Network.cpp
  src/openrct2/world/Footpath.cpp
  src/openrct2/world/Map.cpp
  src/openrct2/world/Map.h
Labels: network version

#7579 Make widget spinners horizontal
  data/language/en-GB.txt
  distribution/changelog.txt
  src/openrct2-ui/windows/Cheats.cpp
  src/openrct2-ui/windows/CustomCurrency.cpp
  src/openrct2-ui/windows/EditorObjectiveOptions.cpp
  src/openrct2-ui/windows/EditorScenarioOptions.cpp
  src/openrct2-ui/windows/Finances.cpp
  src/openrct2-ui/windows/Map.cpp
  src/openrct2-ui/windows/MapGen.cpp
  src/openrct2-ui/windows/NewCampaign.cpp
  src/openrct2-ui/windows/Options.cpp
  src/openrct2-ui/windows/Park.cpp
  src/openrct2-ui/windows/Ride.cpp
  src/openrct2-ui/windows/RideConstruction.cpp
  src/openrct2-ui/windows/ServerStart.cpp
  src/openrct2-ui/windows/TileInspector.cpp
  src/openrct2-ui/windows/ViewClipping.cpp
  src/openrct2/interface/Widget.cpp
  src/openrct2/interface/Widget.h
Labels: interface, pending review

#7614 Improve scrolling behaviour in staff list
  distribution/changelog.txt
  src/openrct2-ui/windows/StaffList.cpp
Labels: interface

#7609 Refactor OpenSSL usage
  OpenRCT2.xcodeproj/project.pbxproj
  src/openrct2/Context.cpp
  src/openrct2/OpenRCT2.cpp
  src/openrct2/OpenRCT2.h
  src/openrct2/core/Crypt.OpenSSL.cpp
  src/openrct2/core/Crypt.h
  src/openrct2/core/File.cpp
  src/openrct2/core/File.h
  src/openrct2/core/IStream.hpp
  src/openrct2/core/Imaging.cpp
  src/openrct2/network/Network.cpp
  src/openrct2/network/NetworkKey.cpp
  src/openrct2/network/NetworkKey.h
  src/openrct2/network/network.h
  src/openrct2/platform/Platform.Win32.cpp
  src/openrct2/platform/Platform2.h
  src/openrct2/world/Sprite.cpp
  test/tests/CMakeLists.txt
  test/tests/CryptTests.cpp
  test/tests/testdata/keys/Player-56f4afb74622a23bd2539ee701fe1b2c13d7e6ba.pubkey
  test/tests/testdata/keys/Player.privkey
  test/tests/tests.vcxproj
Labels: refactor

#7607 Improve scrolling behaviour in object selection window
  src/openrct2-ui/windows/EditorObjectSelection.cpp
Labels: interface, pending review

#7621 Fix appearance of brake/booster speed widgets
  src/openrct2-ui/windows/RideConstruction.cpp
Labels: interface

#7604 Modify some commands to use CoordsXY
  src/openrct2/Cheats.cpp
  src/openrct2/actions/PlaceParkEntranceAction.hpp
  src/openrct2/actions/WallRemoveAction.hpp
  src/openrct2/peep/Peep.cpp
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/Vehicle.cpp
  src/openrct2/scenario/Scenario.cpp
  src/openrct2/world/Banner.cpp
  src/openrct2/world/Duck.cpp
  src/openrct2/world/Entrance.cpp
  src/openrct2/world/Footpath.cpp
  src/openrct2/world/Map.cpp
  src/openrct2/world/Map.h
  src/openrct2/world/Park.cpp
  src/openrct2/world/Park.h
  src/openrct2/world/SmallScenery.cpp
  src/openrct2/world/TileInspector.cpp
  src/openrct2/world/Wall.cpp
Labels: refactor

#7627 Allow scrolling on spinners/steppers
  distribution/changelog.txt
  src/openrct2-ui/windows/ClearScenery.cpp
  src/openrct2-ui/windows/Land.cpp
  src/openrct2-ui/windows/LandRights.cpp
  src/openrct2-ui/windows/Map.cpp
  src/openrct2-ui/windows/ViewClipping.cpp
  src/openrct2-ui/windows/Water.cpp
  src/openrct2/interface/Window.cpp
  src/openrct2/interface/Window.h
Labels: interface, testing required

#7598 Mark unused arguments in the libopenrct2 project
  src/openrct2/audio/DummyAudioContext.cpp
  src/openrct2/audio/NullAudioSource.cpp
  src/openrct2/config/IniReader.cpp
  src/openrct2/drawing/TTFSDLPort.cpp
  src/openrct2/drawing/X8DrawingEngine.cpp
  src/openrct2/interface/InteractiveConsole.cpp
  src/openrct2/network/DiscordService.cpp
  src/openrct2/network/Network.cpp
  src/openrct2/object/Object.h
  src/openrct2/object/ObjectFactory.cpp
  src/openrct2/object/ObjectRepository.cpp
  src/openrct2/object/RideObject.cpp
  src/openrct2/object/WaterObject.cpp
  src/openrct2/paint/Paint.cpp
  src/openrct2/peep/GuestPathfinding.cpp
  src/openrct2/peep/Peep.cpp
  src/openrct2/peep/Staff.cpp
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/rct2/S6Importer.cpp
  src/openrct2/ui/DummyUiContext.cpp
  src/openrct2/ui/DummyWindowManager.cpp
  src/openrct2/windows/_legacy.cpp
Labels: refactor

#7611 Prevent changelog window from painting lines out of view
  distribution/changelog.txt
  src/openrct2-ui/windows/Changelog.cpp
Labels: interface

#7639 Enable more warnings in Xcode project
  OpenRCT2.xcodeproj/project.pbxproj
  OpenRCT2.xcodeproj/xcshareddata/xcschemes/OpenRCT2.xcscheme
  OpenRCT2.xcodeproj/xcshareddata/xcschemes/PaintTest.xcscheme
  src/openrct2/core/FileIndex.hpp
Labels: pending review

#7642 Fix #7434: Allow deletion of isolated diagonal track
  contributors.md
  distribution/changelog.txt
  src/openrct2-ui/windows/RideConstruction.cpp
  src/openrct2/windows/_legacy.cpp
Labels: changelog

#7647 Allow holding down spinners in tile inspector
  src/openrct2-ui/windows/TileInspector.cpp
Labels: interface

#6998 Railway crossing behaviour for peeps and vehicles
  data/language/en-GB.txt
  distribution/changelog.txt
  src/openrct2-ui/input/KeyboardShortcut.cpp
  src/openrct2-ui/windows/DebugPaint.cpp
  src/openrct2/localisation/StringIds.h
  src/openrct2/network/Network.cpp
  src/openrct2/paint/Paint.cpp
  src/openrct2/paint/Paint.h
  src/openrct2/paint/Supports.cpp
  src/openrct2/paint/tile_element/Paint.Path.cpp
  src/openrct2/peep/Guest.cpp
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/Ride.h
  src/openrct2/ride/TrackPaint.cpp
  src/openrct2/ride/TrackPaint.h
  src/openrct2/ride/Vehicle.cpp
  src/openrct2/world/Footpath.cpp
  src/openrct2/world/Footpath.h
  src/openrct2/world/Location.hpp
  src/openrct2/world/TileElement.h
Labels: changelog, network version

#6284 Compiler warnings
  CMakeLists.txt
  src/openrct2-ui/CMakeLists.txt
  src/openrct2-ui/interface/Window.cpp
  src/openrct2-ui/title/TitleSequencePlayer.cpp
  src/openrct2/Game.cpp
  src/openrct2/config/Config.cpp
  src/openrct2/core/FileScanner.h
  src/openrct2/drawing/TTF.cpp
  src/openrct2/drawing/TTFSDLPort.cpp
  src/openrct2/interface/Window.cpp
  src/openrct2/management/NewsItem.cpp
  src/openrct2/paint/tile_element/Paint.Path.cpp
  src/openrct2/paint/tile_element/Paint.Surface.cpp
  src/openrct2/peep/Peep.cpp
  src/openrct2/rct12/SawyerChunkWriter.h
  src/openrct2/ride/TrackDesign.cpp
  src/openrct2/ride/TrackDesignRepository.cpp
  src/openrct2/ride/gentle/CrookedHouse.cpp
  src/openrct2/scenario/ScenarioRepository.cpp
  src/openrct2/world/Map.cpp
  src/openrct2/world/TileInspector.cpp
Labels: help wanted

#7586 Banner code cleanups
  src/openrct2-ui/interface/ViewportInteraction.cpp
  src/openrct2-ui/windows/Sign.cpp
  src/openrct2-ui/windows/TileInspector.cpp
  src/openrct2/actions/BannerSetNameAction.hpp
  src/openrct2/actions/RideDemolishAction.hpp
  src/openrct2/actions/SignSetNameAction.hpp
  src/openrct2/common.h
  src/openrct2/interface/InteractiveConsole.cpp
  src/openrct2/network/Network.cpp
  src/openrct2/paint/tile_element/Paint.LargeScenery.cpp
  src/openrct2/paint/tile_element/Paint.Wall.cpp
  src/openrct2/scenario/Scenario.cpp
  src/openrct2/world/Banner.cpp
  src/openrct2/world/Banner.h
  src/openrct2/world/LargeScenery.cpp
  src/openrct2/world/LargeScenery.h
  src/openrct2/world/Map.cpp
  src/openrct2/world/TileElement.cpp
  src/openrct2/world/TileElement.h
  src/openrct2/world/TileInspector.cpp
  src/openrct2/world/Wall.cpp
Labels: network version, refactor

#7679 Fix #7643: No Money scenarios can have funding set to zero
  distribution/changelog.txt
  src/openrct2/management/Research.cpp
  src/openrct2/network/Network.cpp
Labels: network version

#7683 Stop ride type dropdown state sharing among ride windows
  distribution/changelog.txt
  src/openrct2-ui/windows/Ride.cpp
Labels: changelog

#7684 Move rain window loop to libopenrct2ui
  src/openrct2-ui/UiContext.cpp
  src/openrct2/drawing/Rain.cpp
  src/openrct2/ui/DummyUiContext.cpp
  src/openrct2/ui/UiContext.h
Labels: refactor

#5993 Make ride window prices allow text input
  distribution/changelog.txt
  src/openrct2-ui/windows/Cheats.cpp
  src/openrct2-ui/windows/Ride.cpp
  src/openrct2/localisation/Localisation.cpp
  src/openrct2/localisation/Localisation.h
Labels: changelog, interface

#7697 Fix AddRange to avoid duplicates in EntryList
  distribution/changelog.txt
  src/openrct2/rct1/S4Importer.cpp
Labels: changelog, rct1 import

#7702 Fix #7701: Strings overflow in drawing debug windows
  src/openrct2-ui/windows/DebugPaint.cpp
Labels: pending review

#7703 Allocate the windows on the heap
  src/openrct2-ui/UiContext.cpp
  src/openrct2-ui/WindowManager.cpp
  src/openrct2-ui/input/MouseInput.cpp
  src/openrct2-ui/interface/Theme.cpp
  src/openrct2-ui/interface/Window.cpp
  src/openrct2/interface/Viewport.cpp
  src/openrct2/interface/Window.cpp
  src/openrct2/interface/Window.h
  src/openrct2/interface/Window_internal.h
  src/openrct2/ui/DummyWindowManager.cpp
  src/openrct2/ui/WindowManager.h
Labels: refactor

#6771 Compile Android builds with network support
  src/openrct2-android/app/src/main/CMakeLists.txt
  src/openrct2/network/NetworkServerAdvertiser.cpp
Labels: Android (OS), build

#6752 Fix #6751: Android CLI client is missing
  src/openrct2-android/app/build.gradle
  src/openrct2-android/app/src/main/CMakeLists.txt
Labels: Android (OS), build

#7736 Fix #7707: Opening scenario editor closes game
  src/openrct2-ui/input/MouseInput.cpp
Labels: changelog
