Repository OpenRCT2/OpenRCT2, pull requests merged in 2018-07, with the labels that each got.

#7788 Fix #7773: Stop research bill after all items have been researched.
  contributors.md
  distribution/changelog.txt
  src/openrct2/management/Research.cpp
Labels: changelog, testing required

#7794 Fix #7793: Duplicate private keys generated
  distribution/changelog.txt
  src/openrct2/network/NetworkKey.cpp
Labels: changelog

#7775 Don't lock resolutions based on aspect ratio
  src/openrct2-ui/UiContext.cpp
Labels: pending improvement

#7797 Add sprite font glyphs for Æ and Ø
  resources/g2/font/ae-bold.png
  resources/g2/font/ae-small.png
  resources/g2/font/ae-tiny.png
  resources/g2/font/ae-uc-bold.png
  resources/g2/font/ae-uc-small.png
  resources/g2/font/ae-uc-tiny.png
  resources/g2/font/o-stroke-bold.png
  resources/g2/font/o-stroke-small.png
  resources/g2/font/o-stroke-tiny.png
  resources/g2/font/o-stroke-uc-bold.png
  resources/g2/font/o-stroke-uc-small.png
  resources/g2/font/o-stroke-uc-tiny.png
  resources/g2/sprites.json
  src/openrct2/CmdlineSprite.cpp
  src/openrct2/drawing/Font.cpp
  src/openrct2/drawing/ScrollingText.cpp
  src/openrct2/localisation/FormatCodes.h
  src/openrct2/sprites.h
Labels: help wanted, work in progress
