Repository OpenRCT2/OpenRCT2, pull requests merged in 2018-12, with the labels that each got.

#8375 Fix 8358, freezing the game when using mouse wheel on the vehicle's num - Moving UpdateWindows out of paint
  distribution/changelog.txt
  src/openrct2-ui/drawing/engines/opengl/OpenGLDrawingEngine.cpp
  src/openrct2/Context.cpp
  src/openrct2/drawing/IDrawingEngine.h
  src/openrct2/drawing/X8DrawingEngine.cpp
  src/openrct2/drawing/X8DrawingEngine.h
  src/openrct2/network/Network.cpp
Labels: testing required

#8491 Use different colours for entrance/exit on track design previews.
  distribution/changelog.txt
  src/openrct2-ui/windows/TrackDesignPlace.cpp
  src/openrct2/interface/Colour.h
Labels: changelog

#8506 Add ride type check
  src/openrct2/peep/Guest.cpp
Labels: bug
