Repository OpenRCT2/OpenRCT2, pull requests merged in 2018-04, with the labels that each got.

#7310 Add support for new JSON object format
  .vscode/launch.json
  CMakeLists.txt
  OpenRCT2.xcodeproj/project.pbxproj
  data/language/en-GB.txt
  openrct2.proj
  src/openrct2-android/app/build.gradle
  src/openrct2-ui/windows/EditorObjectSelection.cpp
  src/openrct2-ui/windows/Ride.cpp
  src/openrct2/Context.cpp
  src/openrct2/core/String.cpp
  src/openrct2/drawing/Drawing.h
  src/openrct2/drawing/Sprite.cpp
  src/openrct2/localisation/Language.cpp
  src/openrct2/localisation/Language.h
  src/openrct2/object/BannerObject.cpp
  src/openrct2/object/BannerObject.h
  src/openrct2/object/EntranceObject.cpp
  src/openrct2/object/EntranceObject.h
  src/openrct2/object/FootpathItemObject.cpp
  src/openrct2/object/FootpathItemObject.h
  src/openrct2/object/FootpathObject.cpp
  src/openrct2/object/FootpathObject.h
  src/openrct2/object/ImageTable.cpp
  src/openrct2/object/ImageTable.h
  src/openrct2/object/LargeSceneryObject.cpp
  src/openrct2/object/LargeSceneryObject.h
  src/openrct2/object/Object.cpp
  src/openrct2/object/Object.h
  src/openrct2/object/ObjectFactory.cpp
  src/openrct2/object/ObjectFactory.h
  src/openrct2/object/ObjectJsonHelpers.cpp
  src/openrct2/object/ObjectJsonHelpers.h
  src/openrct2/object/ObjectRepository.cpp
  src/openrct2/object/RideObject.cpp
  src/openrct2/object/RideObject.h
  src/openrct2/object/SceneryGroupObject.cpp
  src/openrct2/object/SceneryGroupObject.h
  src/openrct2/object/SceneryObject.cpp
  src/openrct2/object/SceneryObject.h
  src/openrct2/object/SmallSceneryObject.cpp
  src/openrct2/object/SmallSceneryObject.h
  src/openrct2/object/StexObject.cpp
  src/openrct2/object/StringTable.cpp
  src/openrct2/object/StringTable.h
  src/openrct2/object/WallObject.cpp
  src/openrct2/object/WallObject.h
  src/openrct2/object/WaterObject.cpp
  src/openrct2/object/WaterObject.h
  src/openrct2/paint/tile_element/LargeScenery.cpp
  src/openrct2/peep/Peep.cpp
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/Ride.h
  src/openrct2/ride/RideData.cpp
  src/openrct2/ride/RideGroupManager.cpp
  src/openrct2/ride/Track.cpp
  src/openrct2/ride/Vehicle.h
  src/openrct2/sprites.h
  src/openrct2/world/Map.cpp
  src/openrct2/world/Scenery.h
  src/openrct2/world/Wall.cpp
Labels: testing required

#7340 Give context the ownership of repositories and the object manager
  src/openrct2-ui/windows/NewRide.cpp
  src/openrct2-ui/windows/TrackList.cpp
  src/openrct2/Context.cpp
  src/openrct2/Context.h
  src/openrct2/ParkImporter.cpp
  src/openrct2/localisation/Language.cpp
  src/openrct2/network/Network.cpp
  src/openrct2/object/ObjectList.cpp
  src/openrct2/object/ObjectManager.cpp
  src/openrct2/object/ObjectManager.h
  src/openrct2/object/ObjectRepository.cpp
  src/openrct2/object/ObjectRepository.h
  src/openrct2/object/SceneryGroupObject.cpp
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/rct2/S6Exporter.cpp
  src/openrct2/rct2/S6Importer.cpp
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/TrackDesignRepository.cpp
  src/openrct2/ride/TrackDesignRepository.h
  src/openrct2/scenario/ScenarioRepository.h
  src/openrct2/world/Footpath.cpp
  src/openrct2/world/Scenery.cpp
Labels: refactor

#7225 Refactor peep update
  src/openrct2-ui/windows/Guest.cpp
  src/openrct2-ui/windows/GuestList.cpp
  src/openrct2/management/Award.cpp
  src/openrct2/object/RideObject.cpp
  src/openrct2/object/RideObject.h
  src/openrct2/peep/Peep.cpp
  src/openrct2/peep/Peep.h
  src/openrct2/peep/Staff.cpp
  src/openrct2/rct1/RCT1.h
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/RideData.cpp
  src/openrct2/ride/Vehicle.cpp
  src/openrct2/ride/Vehicle.h
  src/openrct2/world/Location.hpp
  src/openrct2/world/Park.cpp
Labels: testing required

#7411 Add option to auto-rotate shops to face footpaths (#1675)
  contributors.md
  distribution/changelog.txt
  src/openrct2-ui/windows/RideConstruction.cpp
  src/openrct2/world/Footpath.cpp
  src/openrct2/world/Footpath.h
Labels: discussion, pending improvement

#7421 Rename vehicle_is_boat_on_water to better reflect the actual functionality
  src/openrct2/ride/Vehicle.cpp
Labels: testing required

#7414 Refactor string conversion between RCT2 and UTF8
  .travis.yml
  CMakeLists.txt
  src/openrct2/Game.cpp
  src/openrct2/core/IStream.cpp
  src/openrct2/core/String.cpp
  src/openrct2/core/String.hpp
  src/openrct2/drawing/Font.cpp
  src/openrct2/localisation/ConversionTables.cpp
  src/openrct2/localisation/ConversionTables.h
  src/openrct2/localisation/Convert.cpp
  src/openrct2/localisation/FormatCodes.h
  src/openrct2/localisation/Language.cpp
  src/openrct2/localisation/Language.h
  src/openrct2/localisation/Localisation.h
  src/openrct2/object/StringTable.cpp
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/rct2/S6Exporter.cpp
  src/openrct2/rct2/S6Importer.cpp
  test/tests/CMakeLists.txt
  test/tests/Localisation.cpp
  test/tests/StringTest.cpp
  test/tests/helpers/StringHelpers.hpp
  test/tests/tests.vcxproj
Labels: refactor

#7449 Fix #7436: Only the first 32 vehicles of a train can be painted
  distribution/changelog.txt
  src/openrct2-ui/windows/Ride.cpp
  src/openrct2/network/Network.cpp
  src/openrct2/ride/Ride.h
Labels: network version

#7435 Use multiple threads to generate object index cache.
  OpenRCT2.xcodeproj/project.pbxproj
  distribution/changelog.txt
  src/openrct2/Diagnostic.cpp
  src/openrct2/core/Console.cpp
  src/openrct2/core/FileIndex.hpp
  src/openrct2/core/JobPool.hpp
  src/openrct2/core/String.cpp
  src/openrct2/core/String.hpp
  test/testpaint/CMakeLists.txt
Labels: c++17, changelog
