Repository OpenRCT2/OpenRCT2, pull requests merged in 2018-09, with the labels that each got.

#7988 Change tile elements to use the OpenLoco structure
  src/openrct2-ui/interface/ViewportInteraction.cpp
  src/openrct2-ui/windows/TileInspector.cpp
  src/openrct2-ui/windows/TopToolbar.cpp
  src/openrct2/Cheats.cpp
  src/openrct2/EditorObjectSelectionSession.cpp
  src/openrct2/paint/tile_element/Paint.SmallScenery.cpp
  src/openrct2/peep/Staff.cpp
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/ride/TrackDesignSave.cpp
  src/openrct2/ride/Vehicle.cpp
  src/openrct2/world/Map.cpp
  src/openrct2/world/MapAnimation.cpp
  src/openrct2/world/MapGen.cpp
  src/openrct2/world/Scenery.cpp
  src/openrct2/world/Scenery.h
  src/openrct2/world/SmallScenery.cpp
  src/openrct2/world/SmallScenery.h
  src/openrct2/world/TileElement.cpp
  src/openrct2/world/TileElement.h
  src/openrct2/world/Wall.cpp
  test/testpaint/Compat.cpp
Labels: pending review

#7994 Allow assigning a keyboard shortcut for opening the tile inspector
  data/language/en-GB.txt
  distribution/changelog.txt
  src/openrct2-ui/input/KeyboardShortcut.cpp
  src/openrct2-ui/input/KeyboardShortcuts.cpp
  src/openrct2-ui/input/KeyboardShortcuts.h
  src/openrct2-ui/windows/ShortcutKeys.cpp
  src/openrct2/localisation/StringIds.h
Labels: changelog

#7992 More tile element stuff
  src/openrct2-ui/interface/ViewportInteraction.cpp
  src/openrct2-ui/windows/Footpath.cpp
  src/openrct2-ui/windows/Map.cpp
  src/openrct2-ui/windows/Ride.cpp
  src/openrct2-ui/windows/RideConstruction.cpp
  src/openrct2-ui/windows/Scenery.cpp
  src/openrct2-ui/windows/Sign.cpp
  src/openrct2-ui/windows/TileInspector.cpp
  src/openrct2-ui/windows/TopToolbar.cpp
  src/openrct2-ui/windows/TrackDesignPlace.cpp
  src/openrct2/Cheats.cpp
  src/openrct2/EditorObjectSelectionSession.cpp
  src/openrct2/Game.cpp
  src/openrct2/actions/FootpathRemoveAction.hpp
  src/openrct2/actions/PlaceParkEntranceAction.hpp
  src/openrct2/actions/PlacePeepSpawnAction.hpp
  src/openrct2/actions/RideDemolishAction.hpp
  src/openrct2/interface/InteractiveConsole.cpp
  src/openrct2/paint/VirtualFloor.cpp
  src/openrct2/paint/tile_element/Paint.Entrance.cpp
  src/openrct2/paint/tile_element/Paint.LargeScenery.cpp
  src/openrct2/paint/tile_element/Paint.Path.cpp
  src/openrct2/paint/tile_element/Paint.Surface.cpp
  src/openrct2/paint/tile_element/Paint.TileElement.cpp
  src/openrct2/peep/Guest.cpp
  src/openrct2/peep/GuestPathfinding.cpp
  src/openrct2/peep/Peep.cpp
  src/openrct2/peep/Staff.cpp
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/RideRatings.cpp
  src/openrct2/ride/Track.cpp
  src/openrct2/ride/TrackDesign.cpp
  src/openrct2/ride/TrackDesignSave.cpp
  src/openrct2/ride/Vehicle.cpp
  src/openrct2/ride/gentle/MiniGolf.cpp
  src/openrct2/ride/thrill/Enterprise.cpp
  src/openrct2/ride/transport/Chairlift.cpp
  src/openrct2/world/Duck.cpp
  src/openrct2/world/Entrance.cpp
  src/openrct2/world/Footpath.cpp
  src/openrct2/world/LargeScenery.cpp
  src/openrct2/world/LargeScenery.h
  src/openrct2/world/Map.cpp
  src/openrct2/world/MapAnimation.cpp
  src/openrct2/world/MapGen.cpp
  src/openrct2/world/MapHelpers.cpp
  src/openrct2/world/Park.cpp
  src/openrct2/world/Scenery.cpp
  src/openrct2/world/Scenery.h
  src/openrct2/world/SmallScenery.cpp
  src/openrct2/world/Surface.cpp
  src/openrct2/world/Surface.h
  src/openrct2/world/TileElement.cpp
  src/openrct2/world/TileElement.h
  src/openrct2/world/TileInspector.cpp
  src/openrct2/world/Wall.cpp
  test/testpaint/Compat.cpp
Labels: pending review, testing required

#8001 Port Wall elements to new tile element structure; remove some access to ->type
  src/openrct2-ui/interface/ViewportInteraction.cpp
  src/openrct2-ui/windows/Sign.cpp
  src/openrct2-ui/windows/TileInspector.cpp
  src/openrct2-ui/windows/TopToolbar.cpp
  src/openrct2/EditorObjectSelectionSession.cpp
  src/openrct2/actions/FootpathRemoveAction.hpp
  src/openrct2/paint/tile_element/Paint.SmallScenery.cpp
  src/openrct2/paint/tile_element/Paint.Wall.cpp
  src/openrct2/peep/Guest.cpp
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/ride/TrackDesign.cpp
  src/openrct2/ride/TrackDesignSave.cpp
  src/openrct2/ride/Vehicle.cpp
  src/openrct2/world/Map.cpp
  src/openrct2/world/MapAnimation.cpp
  src/openrct2/world/SmallScenery.cpp
  src/openrct2/world/TileElement.cpp
  src/openrct2/world/TileElement.h
  src/openrct2/world/TileInspector.cpp
  src/openrct2/world/Wall.cpp
  src/openrct2/world/Wall.h
Labels: pending review, testing required
