Repository OpenRCT2/OpenRCT2, pull requests merged in 2018-03, with the labels that each got.

#7207 Refactor ride->entrances and ride->exits
  OpenRCT2.xcodeproj/project.pbxproj
  src/openrct2-ui/windows/Ride.cpp
  src/openrct2/Game.cpp
  src/openrct2/actions/RideCreateAction.hpp
  src/openrct2/network/Network.cpp
  src/openrct2/peep/Peep.cpp
  src/openrct2/peep/Staff.cpp
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/rct2/S6Exporter.cpp
  src/openrct2/rct2/S6Importer.cpp
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/Ride.h
  src/openrct2/ride/RideRatings.cpp
  src/openrct2/ride/Station.cpp
  src/openrct2/ride/Station.h
  src/openrct2/ride/TrackDesignSave.cpp
  src/openrct2/ride/TrackPaint.cpp
  src/openrct2/ride/Vehicle.cpp
  src/openrct2/world/Entrance.cpp
  src/openrct2/world/Entrance.h
  src/openrct2/world/Footpath.cpp
  src/openrct2/world/Location.hpp
  src/openrct2/world/Map.h
  src/openrct2/world/TileInspector.cpp
  test/testpaint/Compat.cpp
Labels: network version, pathfinding, refactor

#7240 Fix #7239: Remove all guests cheat crashes with ferris wheel
  src/openrct2/Cheats.cpp
  src/openrct2/network/Network.cpp
Labels: network version

#7252 Fix #7251 "Own ALL Land" Cheat is broken
  src/openrct2/Cheats.cpp
  src/openrct2/network/Network.cpp
Labels: network version

#7227 Sink some arrays
  src/openrct2/paint/VirtualFloor.cpp
  src/openrct2/paint/tile_element/SmallScenery.cpp
Labels: refactor

#7291 Make Travis do Android builds on master and ^android branches
  .travis.yml
Labels: Android (OS), build

#7293 Improve track preview window with OpenGL renderer
  data/language/en-GB.txt
  src/openrct2-ui/windows/TrackList.cpp
  src/openrct2/localisation/StringIds.h
Labels: OpenGL, interface

#7297 Fix mistake in repeated ride use.
  distribution/changelog.txt
  src/openrct2/network/Network.cpp
  src/openrct2/peep/Peep.cpp
Labels: network version

#7286 Implement some more basic game actions
  src/openrct2-ui/WindowManager.cpp
  src/openrct2-ui/windows/Finances.cpp
  src/openrct2-ui/windows/NewCampaign.cpp
  src/openrct2-ui/windows/Research.cpp
  src/openrct2-ui/windows/StaffList.cpp
  src/openrct2/Cheats.cpp
  src/openrct2/Game.cpp
  src/openrct2/Game.h
  src/openrct2/actions/GameAction.h
  src/openrct2/actions/GameActionRegistration.cpp
  src/openrct2/actions/ParkMarketingAction.hpp
  src/openrct2/actions/ParkSetLoanAction.hpp
  src/openrct2/actions/ParkSetResearchFundingAction.hpp
  src/openrct2/actions/StaffSetColourAction.hpp
  src/openrct2/management/Finance.cpp
  src/openrct2/management/Finance.h
  src/openrct2/management/Marketing.cpp
  src/openrct2/management/Marketing.h
  src/openrct2/management/Research.cpp
  src/openrct2/management/Research.h
  src/openrct2/peep/Staff.cpp
  src/openrct2/peep/Staff.h
  src/openrct2/windows/Intent.h
Labels: refactor

#7201 Fix pending breakdown interfering with mechanic heading to inspection
  src/openrct2/network/Network.cpp
  src/openrct2/peep/Peep.cpp
  src/openrct2/ride/Ride.cpp
Labels: network version

#7348 Add large half loops to the Vertical Drop Roller Coaster
  distribution/changelog.txt
  src/openrct2/ride/TrackData.cpp
Labels: feature
