Repository OpenRCT2/OpenRCT2, pull requests merged in 2018-10, with the labels that each got.

#8045 Fix invalid access to font descriptor
  distribution/changelog.txt
  src/openrct2/drawing/TTF.cpp
Labels: changelog

#7957 AppImage build scripts
  scripts/linux/build-appimage-docker.sh
  scripts/linux/build-appimage.sh
  src/openrct2/platform/Platform.Linux.cpp
Labels: Linux (OS), build

#7945 Correct client IP address not being propagated/stored
  distribution/changelog.txt
  src/openrct2/network/TcpSocket.cpp
Labels: pending improvement

#8046 Port path elements to new structure, part 1
  src/openrct2-ui/interface/ViewportInteraction.cpp
  src/openrct2-ui/windows/Footpath.cpp
  src/openrct2-ui/windows/RideConstruction.cpp
  src/openrct2-ui/windows/TileInspector.cpp
  src/openrct2-ui/windows/TopToolbar.cpp
  src/openrct2/Cheats.cpp
  src/openrct2/EditorObjectSelectionSession.cpp
  src/openrct2/paint/tile_element/Paint.Path.cpp
  src/openrct2/peep/Guest.cpp
  src/openrct2/peep/GuestPathfinding.cpp
  src/openrct2/peep/Peep.cpp
  src/openrct2/peep/Staff.cpp
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/ride/RideRatings.cpp
  src/openrct2/ride/TrackDesignSave.cpp
  src/openrct2/world/Footpath.cpp
  src/openrct2/world/Footpath.h
  src/openrct2/world/Fountain.cpp
  src/openrct2/world/Map.cpp
  src/openrct2/world/Map.h
  src/openrct2/world/MapAnimation.cpp
  src/openrct2/world/Scenery.cpp
  src/openrct2/world/TileElement.h
  src/openrct2/world/TileInspector.cpp
  test/tests/TileElements.cpp
Labels: pending review, testing required

#8094 Fix #8090: Bug with maze design saving
  distribution/changelog.txt
  src/openrct2/ride/TrackDesignSave.cpp
Labels: changelog

#8130 Fix #8064: Check clearance height before alignment on correct z.
  distribution/changelog.txt
  src/openrct2/network/Network.cpp
  src/openrct2/ride/Track.cpp
Labels: changelog
