Repository OpenRCT2/OpenRCT2, pull requests merged in 2019-08, with the labels that each got.

#9723 Fix #7690: Problem with guests freezing on certain tiles of path
  distribution/changelog.txt
  src/openrct2/network/Network.cpp
  src/openrct2/ride/Vehicle.cpp
Labels: network version

#9531 refactor CoordsXY(ZD)
  src/openrct2-ui/interface/ViewportInteraction.cpp
  src/openrct2-ui/windows/Ride.cpp
  src/openrct2-ui/windows/Sign.cpp
  src/openrct2/actions/ClearAction.hpp
  src/openrct2/actions/FootpathRemoveAction.hpp
  src/openrct2/actions/GameActionCompat.cpp
  src/openrct2/actions/LargeSceneryRemoveAction.hpp
  src/openrct2/actions/MazeSetTrackAction.hpp
  src/openrct2/actions/PlaceParkEntranceAction.hpp
  src/openrct2/actions/RideDemolishAction.hpp
  src/openrct2/actions/RideSetColourScheme.hpp
  src/openrct2/actions/SmallSceneryRemoveAction.hpp
  src/openrct2/actions/WallRemoveAction.hpp
  src/openrct2/network/Network.cpp
  src/openrct2/ride/TrackDesign.cpp
  src/openrct2/world/Footpath.cpp
  src/openrct2/world/Map.cpp
  src/openrct2/world/Scenery.cpp
Labels: network version

#9742 Fix 9729
  distribution/changelog.txt
  src/openrct2/network/Network.cpp
  src/openrct2/peep/GuestPathfinding.cpp
Labels: network version

#9753 Clean up some litter in the codebase
  src/openrct2/Game.cpp
  src/openrct2/Game.h
  src/openrct2/GameState.cpp
  src/openrct2/peep/Guest.cpp
  src/openrct2/rct2/S6Exporter.cpp
  src/openrct2/rct2/S6Importer.cpp
  src/openrct2/ride/Ride.cpp
  src/openrct2/world/Park.cpp
Labels: refactor

#9868 Make replays only downloadable when configured with tests
  CMakeLists.txt
Labels: build

#9901 Fix #9533: Door sounds not playing
  CMakeLists.txt
  OpenRCT2.xcodeproj/project.pbxproj
  distribution/changelog.txt
  openrct2.proj
  shell.nix
  src/openrct2-android/app/build.gradle
  src/openrct2/object/WallObject.cpp
Labels: changelog
