Repository OpenRCT2/OpenRCT2, pull requests merged in 2019-02, with the labels that each got.

#8666 Implement game action for sign set style
  OpenRCT2.xcodeproj/project.pbxproj
  src/openrct2-ui/windows/Sign.cpp
  src/openrct2/Game.cpp
  src/openrct2/Game.h
  src/openrct2/actions/GameActionRegistration.cpp
  src/openrct2/actions/SignSetStyleAction.hpp
  src/openrct2/network/Network.cpp
  src/openrct2/world/Map.cpp
  src/openrct2/world/Map.h
Labels: game actions, network version

#8668 Implement Game Action Staff Set Order
  OpenRCT2.xcodeproj/project.pbxproj
  src/openrct2-ui/windows/Staff.cpp
  src/openrct2/Game.cpp
  src/openrct2/Game.h
  src/openrct2/actions/GameActionRegistration.cpp
  src/openrct2/actions/StaffSetCostumeAction.hpp
  src/openrct2/actions/StaffSetOrdersAction.hpp
  src/openrct2/interface/InteractiveConsole.cpp
  src/openrct2/network/Network.cpp
  src/openrct2/network/NetworkAction.cpp
  src/openrct2/peep/Staff.cpp
  src/openrct2/peep/Staff.h
Labels: game actions, network version

#8678 Fix #7987: Broken track designs increase money by MONEY32_UNDEFINED
  distribution/changelog.txt
  src/openrct2/network/Network.cpp
  src/openrct2/ride/TrackDesign.cpp
Labels: changelog, network version

#8676 Move Ride Set Appearance into Game Action framework
  OpenRCT2.xcodeproj/project.pbxproj
  src/openrct2-ui/windows/Ride.cpp
  src/openrct2/Game.cpp
  src/openrct2/Game.h
  src/openrct2/actions/GameActionRegistration.cpp
  src/openrct2/actions/RideSetAppearanceAction.hpp
  src/openrct2/network/Network.cpp
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/Ride.h
Labels: game actions, network version

#8671 Link targets with platform specific libs
  CMakeLists.txt
  cmake/platform.cmake
  src/openrct2-cli/CMakeLists.txt
  src/openrct2-ui/CMakeLists.txt
  test/tests/CMakeLists.txt
Labels: build

#8689 Move Land Set Height into GameAction Framework
  OpenRCT2.xcodeproj/project.pbxproj
  src/openrct2/Game.cpp
  src/openrct2/Game.h
  src/openrct2/actions/GameActionRegistration.cpp
  src/openrct2/actions/LandSetHeightAction.hpp
  src/openrct2/core/DataSerialiserTraits.h
  src/openrct2/network/Network.cpp
  src/openrct2/world/Map.cpp
  src/openrct2/world/Map.h
Labels: Xcode Fix Required, game actions, network version

#8693 Refactor Ride Set Price to game actions.
  OpenRCT2.xcodeproj/project.pbxproj
  src/openrct2-ui/windows/Ride.cpp
  src/openrct2/Game.cpp
  src/openrct2/Game.h
  src/openrct2/actions/GameActionRegistration.cpp
  src/openrct2/actions/RideSetPriceAction.hpp
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/Ride.h
Labels: game actions, network version

#8690 Move Pause Toggle into the GameAction framework
  OpenRCT2.xcodeproj/project.pbxproj
  src/openrct2-ui/windows/TopToolbar.cpp
  src/openrct2/Game.cpp
  src/openrct2/Game.h
  src/openrct2/actions/GameActionRegistration.cpp
  src/openrct2/actions/PauseToggleAction.hpp
  src/openrct2/network/Network.cpp
Labels: game actions, network version

#8708 Reduce usage of ride_id_t
  src/openrct2-ui/WindowManager.cpp
  src/openrct2-ui/interface/ViewportInteraction.cpp
  src/openrct2-ui/windows/DemolishRidePrompt.cpp
  src/openrct2-ui/windows/MazeConstruction.cpp
  src/openrct2-ui/windows/Ride.cpp
  src/openrct2-ui/windows/RideConstruction.cpp
  src/openrct2-ui/windows/RideList.cpp
  src/openrct2-ui/windows/TrackDesignPlace.cpp
  src/openrct2-ui/windows/Window.h
  src/openrct2/actions/GameActionCompat.cpp
  src/openrct2/actions/MazeSetTrackAction.hpp
  src/openrct2/actions/RideDemolishAction.hpp
  src/openrct2/actions/RideSetStatus.hpp
  src/openrct2/audio/Audio.cpp
  src/openrct2/peep/Guest.cpp
  src/openrct2/peep/GuestPathfinding.cpp
  src/openrct2/peep/Peep.cpp
  src/openrct2/peep/Peep.h
  src/openrct2/peep/Staff.cpp
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/Ride.h
  src/openrct2/ride/RideRatings.cpp
  src/openrct2/ride/Station.cpp
  src/openrct2/ride/Station.h
  src/openrct2/ride/Track.cpp
  src/openrct2/ride/TrackDesign.cpp
  src/openrct2/ride/TrackDesign.h
  src/openrct2/ride/TrackDesignSave.cpp
  src/openrct2/ride/Vehicle.cpp
  src/openrct2/windows/_legacy.cpp
  src/openrct2/world/Entrance.cpp
  src/openrct2/world/Footpath.cpp
  src/openrct2/world/TileElement.cpp
Labels: refactor

#8703 GameAction cleanup part 1
  src/openrct2/Game.cpp
  src/openrct2/actions/FootpathRemoveAction.hpp
  src/openrct2/actions/GameAction.cpp
  src/openrct2/actions/LandSetHeightAction.hpp
  src/openrct2/management/Finance.cpp
  src/openrct2/management/Finance.h
  src/openrct2/network/Network.cpp
Labels: network version

#8694 Start moving track place into GameAction framework
  OpenRCT2.xcodeproj/project.pbxproj
  src/openrct2-ui/windows/RideConstruction.cpp
  src/openrct2/Game.cpp
  src/openrct2/Game.h
  src/openrct2/ReplayManager.cpp
  src/openrct2/actions/GameActionRegistration.cpp
  src/openrct2/actions/TrackPlaceAction.hpp
  src/openrct2/core/DataSerialiserTraits.h
  src/openrct2/network/Network.cpp
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/Ride.h
  src/openrct2/ride/Track.cpp
  src/openrct2/ride/Track.h
  src/openrct2/ride/TrackDesign.cpp
  src/openrct2/windows/_legacy.cpp
  src/openrct2/world/Location.hpp
Labels: game actions, network version, testing required

#8716 Refactor marketing to be a single vector
  src/openrct2-ui/windows/Finances.cpp
  src/openrct2/actions/ParkMarketingAction.hpp
  src/openrct2/interface/InteractiveConsole.cpp
  src/openrct2/management/Marketing.cpp
  src/openrct2/management/Marketing.h
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/rct2/S6Exporter.cpp
  src/openrct2/rct2/S6Exporter.h
  src/openrct2/rct2/S6Importer.cpp
  src/openrct2/scenario/Scenario.cpp
  src/openrct2/world/Park.cpp
Labels: refactor

#8733 Fix pause
  src/openrct2/management/Finance.cpp
  src/openrct2/network/Network.cpp
Labels: network version

#8730 Add TrackRemoveAction
  OpenRCT2.xcodeproj/project.pbxproj
  src/openrct2-ui/windows/RideConstruction.cpp
  src/openrct2/Game.cpp
  src/openrct2/Game.h
  src/openrct2/actions/GameActionRegistration.cpp
  src/openrct2/actions/RideDemolishAction.hpp
  src/openrct2/actions/TrackRemoveAction.hpp
  src/openrct2/network/Network.cpp
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/Ride.h
  src/openrct2/ride/Track.cpp
  src/openrct2/ride/Track.h
  src/openrct2/ride/TrackDesign.cpp
Labels: game actions, network version

#8759 Fix for Issue#8725: refactoring _currentTrackBegin and _previousTrackPiece in Ride.cpp to use CoordsXYZ struct
  src/openrct2-ui/windows/MazeConstruction.cpp
  src/openrct2-ui/windows/RideConstruction.cpp
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/Ride.h
  src/openrct2/windows/_legacy.cpp
Labels: refactor

#8761 Fix being unable to refund when in negative money.
  src/openrct2/management/Finance.cpp
  src/openrct2/network/Network.cpp
Labels: network version

#8751 utf8* string refactor.
  src/openrct2-ui/windows/ServerList.cpp
  src/openrct2-ui/windows/ServerStart.cpp
  src/openrct2/Context.cpp
  src/openrct2/OpenRCT2.h
  src/openrct2/cmdline/RootCommands.cpp
  src/openrct2/cmdline/UriHandler.cpp
  src/openrct2/config/Config.cpp
  src/openrct2/config/Config.h
  src/openrct2/network/Network.cpp
  src/openrct2/network/NetworkServerAdvertiser.cpp
  src/openrct2/network/TcpSocket.cpp
  src/openrct2/network/TcpSocket.h
  src/openrct2/network/network.h
Labels: refactor

#8737 Add LoadOrQuitAction
  src/openrct2-ui/input/KeyboardShortcut.cpp
  src/openrct2-ui/windows/EditorObjectSelection.cpp
  src/openrct2-ui/windows/TitleMenu.cpp
  src/openrct2-ui/windows/TopToolbar.cpp
  src/openrct2/Game.cpp
  src/openrct2/Game.h
  src/openrct2/actions/GameActionRegistration.cpp
  src/openrct2/actions/LoadOrQuitAction.hpp
  src/openrct2/network/Network.cpp
Labels: Xcode Fix Required, game actions

#8735 Refactor sprite import / export
  src/openrct2/rct1/RCT1.h
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/rct12/RCT12.h
  src/openrct2/rct2/RCT2.h
  src/openrct2/rct2/S6Exporter.cpp
  src/openrct2/rct2/S6Exporter.h
  src/openrct2/rct2/S6Importer.cpp
  src/openrct2/scenario/Scenario.h
Labels: refactor

#8722 Quarter tile refactor
  src/openrct2-ui/windows/RideConstruction.cpp
  src/openrct2-ui/windows/TrackDesignPlace.cpp
  src/openrct2/actions/ClearAction.hpp
  src/openrct2/actions/LandSetHeightAction.hpp
  src/openrct2/actions/LargeSceneryRemoveAction.hpp
  src/openrct2/actions/MazeSetTrackAction.hpp
  src/openrct2/actions/PlaceParkEntranceAction.hpp
  src/openrct2/actions/TrackPlaceAction.hpp
  src/openrct2/peep/Peep.cpp
  src/openrct2/peep/Staff.cpp
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/RideRatings.cpp
  src/openrct2/ride/Station.cpp
  src/openrct2/ride/Track.h
  src/openrct2/ride/TrackData.cpp
  src/openrct2/ride/TrackDesign.cpp
  src/openrct2/world/Entrance.cpp
  src/openrct2/world/Footpath.cpp
  src/openrct2/world/Map.cpp
  src/openrct2/world/Map.h
  src/openrct2/world/SmallScenery.cpp
  src/openrct2/world/TileElement.cpp
  src/openrct2/world/TileElement.h
Labels: refactor

#8738 Implement RideSetVehicleAction
  src/openrct2/Game.cpp
  src/openrct2/Game.h
  src/openrct2/actions/GameAction.h
  src/openrct2/actions/GameActionRegistration.cpp
  src/openrct2/actions/RideSetVehiclesAction.hpp
  src/openrct2/network/Network.cpp
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/TrackDesign.cpp
Labels: Xcode Fix Required, game actions, network version

#8740 Ride Set Setting GameAction
  OpenRCT2.xcodeproj/project.pbxproj
  src/openrct2-ui/windows/Ride.cpp
  src/openrct2/Game.cpp
  src/openrct2/Game.h
  src/openrct2/ReplayManager.cpp
  src/openrct2/actions/GameActionRegistration.cpp
  src/openrct2/actions/RideSetSetting.hpp
  src/openrct2/interface/InteractiveConsole.cpp
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/Ride.h
  src/openrct2/ride/TrackDesign.cpp
Labels: game actions, network version

#8772 Refactor in-game sprite structs
  src/openrct2/Editor.cpp
  src/openrct2/peep/Guest.cpp
  src/openrct2/peep/Peep.h
  src/openrct2/peep/Staff.cpp
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/ride/CableLift.cpp
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/Vehicle.cpp
  src/openrct2/ride/Vehicle.h
  src/openrct2/ride/water/SplashBoats.cpp
  src/openrct2/world/Sprite.cpp
  src/openrct2/world/Sprite.h
  src/openrct2/world/SpriteBase.h
Labels: refactor

#8715 Fix #8264: Rides and scenery placeable outside of map with ZC and Sandbox mode enabled
  distribution/changelog.txt
  src/openrct2/actions/PlaceParkEntranceAction.hpp
  src/openrct2/actions/TrackPlaceAction.hpp
  src/openrct2/network/Network.cpp
  src/openrct2/world/Entrance.cpp
  src/openrct2/world/Footpath.cpp
  src/openrct2/world/Map.cpp
  src/openrct2/world/SmallScenery.cpp
Labels: network version, testing required

#8781 Flag refactor
  src/openrct2-ui/interface/ViewportInteraction.cpp
  src/openrct2-ui/windows/TileInspector.cpp
  src/openrct2/Cheats.cpp
  src/openrct2/actions/ClearAction.hpp
  src/openrct2/actions/LargeSceneryRemoveAction.hpp
  src/openrct2/actions/TrackRemoveAction.hpp
  src/openrct2/paint/tile_element/Paint.Path.cpp
  src/openrct2/peep/Guest.cpp
  src/openrct2/peep/Peep.cpp
  src/openrct2/peep/Staff.cpp
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/Station.cpp
  src/openrct2/ride/Track.cpp
  src/openrct2/ride/Vehicle.cpp
  src/openrct2/ride/coaster/JuniorRollerCoaster.cpp
  src/openrct2/scenario/Scenario.cpp
  src/openrct2/world/Footpath.cpp
  src/openrct2/world/LargeScenery.cpp
  src/openrct2/world/Map.cpp
  src/openrct2/world/MapAnimation.cpp
  src/openrct2/world/SmallScenery.cpp
  src/openrct2/world/Surface.cpp
  src/openrct2/world/TileElement.h
  test/testpaint/Compat.cpp
Labels: refactor

#8773 Implement SmallSceneryPlaceAction
  OpenRCT2.xcodeproj/project.pbxproj
  src/openrct2-ui/windows/TopToolbar.cpp
  src/openrct2/Game.cpp
  src/openrct2/Game.h
  src/openrct2/actions/GameActionRegistration.cpp
  src/openrct2/actions/SmallSceneryPlaceAction.hpp
  src/openrct2/network/Network.cpp
  src/openrct2/ride/TrackDesign.cpp
  src/openrct2/world/Map.h
  src/openrct2/world/SmallScenery.cpp
Labels: game actions, network version

#8762 Entrance Exit Remove GameAction
  OpenRCT2.xcodeproj/project.pbxproj
  src/openrct2/Game.cpp
  src/openrct2/Game.h
  src/openrct2/actions/GameActionRegistration.cpp
  src/openrct2/actions/RideEntranceExitRemoveAction.hpp
  src/openrct2/network/Network.cpp
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/Ride.h
  src/openrct2/world/Entrance.cpp
Labels: game actions, network version
