Repository OpenRCT2/OpenRCT2, pull requests merged in 2019-07, with the labels that each got.

#9550 Update Xcode project
  OpenRCT2.entitlements
  OpenRCT2.xcodeproj/project.pbxproj
  OpenRCT2.xcodeproj/xcshareddata/xcschemes/OpenRCT2.xcscheme
  OpenRCT2.xcodeproj/xcshareddata/xcschemes/PaintTest.xcscheme
Labels: build, macOS (OS)

#9589 Do not store park name as user string
  src/openrct2-ui/interface/ViewportInteraction.cpp
  src/openrct2-ui/windows/EditorObjectiveOptions.cpp
  src/openrct2-ui/windows/Finances.cpp
  src/openrct2-ui/windows/Guest.cpp
  src/openrct2-ui/windows/LoadSave.cpp
  src/openrct2-ui/windows/Park.cpp
  src/openrct2/GameState.cpp
  src/openrct2/actions/ParkSetNameAction.hpp
  src/openrct2/drawing/ScrollingText.cpp
  src/openrct2/interface/Screenshot.cpp
  src/openrct2/localisation/Localisation.cpp
  src/openrct2/localisation/Localisation.h
  src/openrct2/network/DiscordService.cpp
  src/openrct2/paint/tile_element/Paint.Entrance.cpp
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/rct2/S6Exporter.cpp
  src/openrct2/rct2/S6Exporter.h
  src/openrct2/rct2/S6Importer.cpp
  src/openrct2/scenario/Scenario.cpp
  src/openrct2/world/Park.cpp
  src/openrct2/world/Park.h
Labels: refactor

#9637 Remove conversion from UTF-8 to widechar and back again
  distribution/changelog.txt
  src/openrct2/platform/Posix.cpp
Labels: Linux (OS), macOS (OS)

#9632 Fix #9625: Show correct cost in scenery selection
  distribution/changelog.txt
  src/openrct2-ui/windows/TopToolbar.cpp
Labels: changelog

#9667 Fix #8136. Fix incorrect calculation of excessive lateral G penalty.
  distribution/changelog.txt
  src/openrct2/network/Network.cpp
  src/openrct2/ride/RideRatings.cpp
Labels: network version
