Repository OpenRCT2/OpenRCT2, pull requests merged in 2019-04, with the labels that each got.

#8966 Implement wall place game action
  src/openrct2-ui/windows/TopToolbar.cpp
  src/openrct2/Game.cpp
  src/openrct2/Game.h
  src/openrct2/actions/GameActionRegistration.cpp
  src/openrct2/actions/WallPlaceAction.hpp
  src/openrct2/network/Network.cpp
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/ride/TrackDesign.cpp
  src/openrct2/world/Map.h
  src/openrct2/world/Wall.cpp
Labels: Xcode Fix Required, game actions, network version

#8481 Implement partial multicore rendering
  data/language/en-GB.txt
  distribution/changelog.txt
  src/openrct2-ui/drawing/engines/opengl/TextureCache.cpp
  src/openrct2-ui/drawing/engines/opengl/TextureCache.h
  src/openrct2-ui/windows/Options.cpp
  src/openrct2/Context.cpp
  src/openrct2/Context.h
  src/openrct2/config/Config.cpp
  src/openrct2/config/Config.h
  src/openrct2/core/JobPool.hpp
  src/openrct2/drawing/Drawing.cpp
  src/openrct2/drawing/Drawing.h
  src/openrct2/drawing/ScrollingText.cpp
  src/openrct2/interface/Viewport.cpp
  src/openrct2/localisation/Localisation.cpp
  src/openrct2/localisation/Localisation.h
  src/openrct2/localisation/StringIds.h
  src/openrct2/paint/Paint.cpp
  src/openrct2/paint/Paint.h
  src/openrct2/paint/Painter.cpp
  src/openrct2/paint/Painter.h
  src/openrct2/paint/sprite/Paint.Litter.cpp
  src/openrct2/paint/sprite/Paint.Misc.cpp
  src/openrct2/paint/sprite/Paint.Peep.cpp
  src/openrct2/paint/sprite/Paint.Sprite.cpp
  src/openrct2/paint/tile_element/Paint.Banner.cpp
  src/openrct2/paint/tile_element/Paint.Entrance.cpp
  src/openrct2/paint/tile_element/Paint.LargeScenery.cpp
  src/openrct2/paint/tile_element/Paint.Path.cpp
  src/openrct2/paint/tile_element/Paint.SmallScenery.cpp
  src/openrct2/paint/tile_element/Paint.Surface.cpp
  src/openrct2/paint/tile_element/Paint.TileElement.cpp
  src/openrct2/ride/TrackPaint.cpp
  src/openrct2/ride/VehiclePaint.cpp
  src/openrct2/ride/coaster/VirginiaReel.cpp
  src/openrct2/ride/gentle/HauntedHouse.cpp
  src/openrct2/ride/gentle/MerryGoRound.cpp
  src/openrct2/ride/gentle/MiniGolf.cpp
  src/openrct2/ride/gentle/SpiralSlide.cpp
  src/openrct2/ride/thrill/Enterprise.cpp
  src/openrct2/ride/thrill/LaunchedFreefall.cpp
  src/openrct2/ride/thrill/MagicCarpet.cpp
  src/openrct2/ride/thrill/PirateShip.cpp
  src/openrct2/ride/thrill/TopSpin.cpp
  src/openrct2/ride/thrill/Twist.cpp
  src/openrct2/ride/water/RiverRapids.cpp
  test/testpaint/TestPaint.cpp
Labels: changelog

#9017 Hungarian Forint OpenRCT2#8029
  data/language/en-GB.txt
  distribution/changelog.txt
  src/openrct2/localisation/Currency.cpp
  src/openrct2/localisation/Currency.h
  src/openrct2/localisation/StringIds.h
Labels: changelog

#8983 Refactor track
  src/openrct2-ui/windows/Footpath.cpp
  src/openrct2-ui/windows/LandRights.cpp
  src/openrct2-ui/windows/Map.cpp
  src/openrct2-ui/windows/RideConstruction.cpp
  src/openrct2-ui/windows/TopToolbar.cpp
  src/openrct2-ui/windows/TrackDesignPlace.cpp
  src/openrct2/Game.cpp
  src/openrct2/Game.h
  src/openrct2/actions/FootpathSceneryPlaceAction.hpp
  src/openrct2/actions/GameAction.cpp
  src/openrct2/actions/GameAction.h
  src/openrct2/actions/MazeSetTrackAction.hpp
  src/openrct2/actions/RideDemolishAction.hpp
  src/openrct2/actions/TrackPlaceAction.hpp
  src/openrct2/management/Finance.cpp
  src/openrct2/paint/VirtualFloor.cpp
  src/openrct2/paint/tile_element/Paint.Surface.cpp
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/TrackDesign.cpp
  src/openrct2/ride/TrackDesign.h
  src/openrct2/windows/_legacy.cpp
  src/openrct2/world/Footpath.cpp
  src/openrct2/world/Map.cpp
  src/openrct2/world/Map.h
  src/openrct2/world/Scenery.cpp
Labels: refactor

#9064 Scenery Set Colour Game Actions
  src/openrct2-ui/windows/Banner.cpp
  src/openrct2-ui/windows/TopToolbar.cpp
  src/openrct2/Game.cpp
  src/openrct2/Game.h
  src/openrct2/actions/BannerSetColourAction.hpp
  src/openrct2/actions/BannerSetStyleAction.hpp
  src/openrct2/actions/GameActionRegistration.cpp
  src/openrct2/actions/LargeScenerySetColourAction.hpp
  src/openrct2/actions/SmallScenerySetColourAction.hpp
  src/openrct2/actions/WallSetColourAction.hpp
  src/openrct2/network/Network.cpp
  src/openrct2/world/Banner.cpp
  src/openrct2/world/Map.cpp
  src/openrct2/world/Map.h
  src/openrct2/world/SmallScenery.cpp
  src/openrct2/world/Wall.cpp
Labels: Xcode Fix Required, game actions, network version

#9055 LargeSceneryPlaceAction
  src/openrct2-ui/windows/TopToolbar.cpp
  src/openrct2/Game.cpp
  src/openrct2/Game.h
  src/openrct2/actions/GameActionRegistration.cpp
  src/openrct2/actions/LargeSceneryPlaceAction.hpp
  src/openrct2/network/Network.cpp
  src/openrct2/ride/TrackDesign.cpp
  src/openrct2/world/Map.cpp
  src/openrct2/world/Map.h
Labels: Xcode Fix Required, game actions, network version

#9070 Fix #9068: Unable to place staff or peeps during multiplayer
  src/openrct2/network/Network.cpp
Labels: network version

#9140 Create ShopItemDescriptor
  src/openrct2-ui/windows/Finances.cpp
  src/openrct2-ui/windows/Guest.cpp
  src/openrct2-ui/windows/NewCampaign.cpp
  src/openrct2-ui/windows/Ride.cpp
  src/openrct2/actions/RideCreateAction.hpp
  src/openrct2/management/Marketing.cpp
  src/openrct2/peep/Guest.cpp
  src/openrct2/peep/Peep.cpp
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/ShopItem.cpp
  src/openrct2/ride/ShopItem.h
Labels: refactor
