Repository OpenRCT2/OpenRCT2, pull requests merged in 2019-05, with the labels that each got.

#9072 PlayerSetGroupAction
  src/openrct2-ui/windows/Player.cpp
  src/openrct2/Game.cpp
  src/openrct2/Game.h
  src/openrct2/actions/GameActionRegistration.cpp
  src/openrct2/actions/PlayerSetGroupAction.hpp
  src/openrct2/network/Network.cpp
  src/openrct2/network/network.h
Labels: Xcode Fix Required, game actions, network version

#9154 Change map toolbar icon with current rotation
  distribution/changelog.txt
  resources/g2/icons/map_east.png
  resources/g2/icons/map_east_pressed.png
  resources/g2/icons/map_north.png
  resources/g2/icons/map_north_pressed.png
  resources/g2/icons/map_south.png
  resources/g2/icons/map_south_pressed.png
  resources/g2/icons/map_west.png
  resources/g2/icons/map_west_pressed.png
  resources/g2/sprites.json
  src/openrct2-ui/windows/TopToolbar.cpp
  src/openrct2/sprites.h
Labels: pending review

#9186 Fix track and screenshot rendering for OpenGL drawing engine
  distribution/changelog.txt
  src/openrct2-ui/drawing/engines/opengl/OpenGLDrawingEngine.cpp
  src/openrct2-ui/windows/InstallTrack.cpp
  src/openrct2-ui/windows/TrackList.cpp
  src/openrct2/drawing/Drawing.Sprite.cpp
  src/openrct2/drawing/Drawing.cpp
  src/openrct2/drawing/Drawing.h
  src/openrct2/drawing/LightFX.cpp
  src/openrct2/drawing/NewDrawing.cpp
  src/openrct2/drawing/ScrollingText.cpp
  src/openrct2/drawing/X8DrawingEngine.cpp
  src/openrct2/interface/Screenshot.cpp
  src/openrct2/interface/Viewport.cpp
  src/openrct2/interface/Window.cpp
  src/openrct2/ride/TrackDesign.cpp
Labels: changelog

#8687 Multiplayer dropdown additions
  contributors.md
  data/language/en-GB.txt
  distribution/changelog.txt
  resources/g2/icons/multiplayer_desync.png
  resources/g2/icons/multiplayer_sync.png
  resources/g2/icons/multiplayer_toolbar.png
  resources/g2/icons/multiplayer_toolbar_pressed.png
  resources/g2/sprites.json
  src/openrct2-ui/windows/TopToolbar.cpp
  src/openrct2/localisation/StringIds.h
  src/openrct2/network/Network.cpp
  src/openrct2/network/network.h
  src/openrct2/sprites.h
Labels: interface

#8990 Implement SetCheatAction.
  src/openrct2-ui/windows/Cheats.cpp
  src/openrct2-ui/windows/TopToolbar.cpp
  src/openrct2/Cheats.cpp
  src/openrct2/Cheats.h
  src/openrct2/Game.cpp
  src/openrct2/ReplayManager.cpp
  src/openrct2/actions/GameActionRegistration.cpp
  src/openrct2/actions/SetCheatAction.hpp
  src/openrct2/core/DataSerialiserTraits.h
  src/openrct2/interface/InteractiveConsole.cpp
  src/openrct2/interface/Screenshot.cpp
  src/openrct2/network/Network.cpp
  src/openrct2/network/NetworkTypes.h
  src/openrct2/peep/Peep.h
Labels: game actions, network version

#8819 Gamestate snapshots
  OpenRCT2.xcodeproj/project.pbxproj
  data/language/en-GB.txt
  src/openrct2/Context.cpp
  src/openrct2/Context.h
  src/openrct2/Game.cpp
  src/openrct2/GameState.cpp
  src/openrct2/GameState.h
  src/openrct2/GameStateSnapshots.cpp
  src/openrct2/GameStateSnapshots.h
  src/openrct2/PlatformEnvironment.cpp
  src/openrct2/PlatformEnvironment.h
  src/openrct2/config/Config.cpp
  src/openrct2/config/Config.h
  src/openrct2/core/CircularBuffer.h
  src/openrct2/core/DataSerialiserTraits.h
  src/openrct2/core/MemoryStream.cpp
  src/openrct2/core/MemoryStream.h
  src/openrct2/interface/InteractiveConsole.cpp
  src/openrct2/localisation/StringIds.h
  src/openrct2/network/Network.cpp
  src/openrct2/network/NetworkTypes.h
  src/openrct2/network/network.h
Labels: enhancement, network version, testing required

#9233 Fix #2294: Clients crashing the server with invalid object selection
  distribution/changelog.txt
  src/openrct2/actions/RideCreateAction.hpp
  src/openrct2/network/Network.cpp
Labels: changelog, network version

#9242 Fix GameAction use during pause
  src/openrct2/actions/BannerSetColourAction.hpp
  src/openrct2/actions/BannerSetStyleAction.hpp
  src/openrct2/actions/LargeScenerySetColourAction.hpp
  src/openrct2/actions/SmallScenerySetColourAction.hpp
  src/openrct2/network/Network.cpp
Labels: network version

#8914 Add landset/buyrights action
  OpenRCT2.xcodeproj/project.pbxproj
  src/openrct2-ui/windows/LandRights.cpp
  src/openrct2-ui/windows/Map.cpp
  src/openrct2/Editor.cpp
  src/openrct2/Game.cpp
  src/openrct2/Game.h
  src/openrct2/actions/GameActionRegistration.cpp
  src/openrct2/actions/LandBuyRightsAction.hpp
  src/openrct2/actions/LandSetRightsAction.hpp
  src/openrct2/network/Network.cpp
  src/openrct2/world/Footpath.cpp
  src/openrct2/world/Map.cpp
  src/openrct2/world/Map.h
  src/openrct2/world/Park.cpp
  src/openrct2/world/Park.h
Labels: game actions, network version, testing required

#9243 Protect FileStream opening directories on unix/linux systems
  distribution/changelog.txt
  src/openrct2/core/FileStream.hpp
Labels: changelog

#9162 Feature #8791: Tile inspector improvements
  data/language/en-GB.txt
  distribution/changelog.txt
  src/openrct2-ui/windows/TileInspector.cpp
  src/openrct2/localisation/StringIds.h
  src/openrct2/world/Map.cpp
  src/openrct2/world/TileInspector.cpp
  src/openrct2/world/TileInspector.h
Labels: network version

#9250 Implement BalloonPressAction
  src/openrct2-ui/interface/ViewportInteraction.cpp
  src/openrct2/Game.cpp
  src/openrct2/Game.h
  src/openrct2/actions/BalloonPressAction.hpp
  src/openrct2/actions/GameActionRegistration.cpp
  src/openrct2/network/Network.cpp
  src/openrct2/world/Balloon.cpp
  src/openrct2/world/Sprite.h
Labels: Xcode Fix Required, game actions, network version

#9244 Implement Modify Group and Kick Player Actions.
  src/openrct2-ui/windows/Multiplayer.cpp
  src/openrct2-ui/windows/Player.cpp
  src/openrct2/Game.cpp
  src/openrct2/Game.h
  src/openrct2/actions/GameActionRegistration.cpp
  src/openrct2/actions/NetworkModifyGroupAction.hpp
  src/openrct2/actions/PlayerKickAction.hpp
  src/openrct2/network/Network.cpp
  src/openrct2/network/network.h
Labels: Xcode Fix Required, game actions, network version

#9129 Fix #9124: Disconnected clients crashing the server
  distribution/changelog.txt
  src/openrct2/network/Network.cpp
  src/openrct2/network/NetworkConnection.h
Labels: changelog, network version

#9271 fix: Staff patrol areas getting clobbered when hiring new staff
  src/openrct2/actions/StaffHireNewAction.hpp
  src/openrct2/network/Network.cpp
Labels: network version

#9259 Implement ScenarioSetSetting game action
  src/openrct2-ui/windows/EditorScenarioOptions.cpp
  src/openrct2/Editor.cpp
  src/openrct2/Editor.h
  src/openrct2/Game.cpp
  src/openrct2/Game.h
  src/openrct2/actions/GameActionRegistration.cpp
  src/openrct2/actions/ScenarioSetSettingAction.hpp
Labels: Xcode Fix Required, game actions, network version

#9302 fix: Unable to use second skyscraper terrain edge style
  src/openrct2/actions/SurfaceSetStyleAction.hpp
  src/openrct2/network/Network.cpp
Labels: network version
