Repository OpenRCT2/OpenRCT2, pull requests merged in 2019-10, with the labels that each got.

#9743 Fix #8584: Duck spawn search now uses entire map
  distribution/changelog.txt
  src/openrct2/network/Network.cpp
  src/openrct2/scenario/Scenario.cpp
  src/openrct2/world/Duck.cpp
  src/openrct2/world/Sprite.h
Labels: changelog, network version

#10041 Fix #9953: Crash when hacked rides attempt to find the closest mechanic
  distribution/changelog.txt
  src/openrct2/ride/Station.cpp
Labels: changelog

#10059 Create TrackDesignMazeElement struct
  src/openrct2/rct1/T4Importer.cpp
  src/openrct2/rct2/T6Importer.cpp
  src/openrct2/ride/TrackDesign.cpp
  src/openrct2/ride/TrackDesign.h
Labels: pending rebase

#10092 Remapped keypad Enter to return scancode
  distribution/changelog.txt
  src/openrct2-ui/TextComposition.cpp
Labels: changelog

#10107 Fix #10106: Reset number of circuits if unsupported
  distribution/changelog.txt
  src/openrct2/actions/RideSetSetting.hpp
  src/openrct2/network/Network.cpp
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/Ride.h
Labels: changelog, network version

#10076 Use white colour for labels in Tile Inspector
  src/openrct2-ui/windows/TileInspector.cpp
Labels: interface

#10097 Duck improvements and fixes
  data/language/en-GB.txt
  src/openrct2-ui/windows/Cheats.cpp
  src/openrct2/Cheats.h
  src/openrct2/actions/SetCheatAction.hpp
  src/openrct2/localisation/StringIds.h
  src/openrct2/network/Network.cpp
  src/openrct2/paint/sprite/Paint.Misc.cpp
  src/openrct2/scenario/Scenario.cpp
  src/openrct2/scenario/Scenario.h
  src/openrct2/world/Duck.cpp
Labels: changelog, network version

#10125 Pass SDL_WINDOW_ALLOW_HIGHDPI to SDL_CreateWindow
  distribution/changelog.txt
  src/openrct2-ui/UiContext.cpp
  src/openrct2-ui/drawing/engines/opengl/OpenGLFramebuffer.cpp
Labels: changelog

#10149 Fix desync in headless mode with rides that create smoke particles
  distribution/changelog.txt
  src/openrct2/network/Network.cpp
  src/openrct2/ride/Ride.cpp
Labels: changelog, network version

#10119 Maze Place Track Game Action
  src/openrct2/Game.cpp
  src/openrct2/Game.h
  src/openrct2/actions/GameActionRegistration.cpp
  src/openrct2/actions/MazePlaceTrackAction.hpp
  src/openrct2/ride/TrackDesign.cpp
  src/openrct2/ride/TrackDesign.h
Labels: Xcode Fix Required, game actions
