Repository OpenRCT2/OpenRCT2, pull requests merged in 2019-06, with the labels that each got.

#9399 Fix #8859: Network gCheatsEnableAllDrawableTrackPieces
  src/openrct2/network/Network.cpp
Labels: network version

#9400 Fix #9388: Crash using set grass length cheat
  src/openrct2/actions/SetCheatAction.hpp
  src/openrct2/network/Network.cpp
Labels: network version

#9264 Tile Modify GameAction
  src/openrct2-ui/windows/TileInspector.cpp
  src/openrct2/Game.cpp
  src/openrct2/Game.h
  src/openrct2/ReplayManager.cpp
  src/openrct2/actions/GameActionRegistration.cpp
  src/openrct2/actions/TileModifyAction.hpp
  src/openrct2/core/DataSerialiserTraits.h
  src/openrct2/network/Network.cpp
  src/openrct2/world/Map.cpp
  src/openrct2/world/Map.h
  src/openrct2/world/TileInspector.cpp
  src/openrct2/world/TileInspector.h
Labels: Xcode Fix Required, game actions, network version

#9414 Fix #8602: Wall piece collision detection deviates from vanilla
  distribution/changelog.txt
  src/openrct2/paint/tile_element/Paint.Wall.cpp
Labels: changelog

#9413 Fix campaign bugs (#9402 and #9411)
  distribution/changelog.txt
  src/openrct2/actions/ParkMarketingAction.hpp
  src/openrct2/rct2/S6Exporter.cpp
Labels: network version

#9403 Fix #9396. Pass the ghost flag to banner remove to prevent invalid removal
  src/openrct2/actions/FootpathRemoveAction.hpp
  src/openrct2/network/Network.cpp
Labels: network version

#9424 Fix crash with truetype fonts and multi threading
  distribution/changelog.txt
  src/openrct2/drawing/TTF.cpp
Labels: changelog

#9443 Do not apply Discord Rich Presence in headless mode
  distribution/changelog.txt
  src/openrct2/Context.cpp
Labels: changelog

#9448 Fix marketing/money effect bugs
  src/openrct2/management/Marketing.h
  src/openrct2/network/Network.cpp
  src/openrct2/rct2/S6Exporter.cpp
  src/openrct2/rct2/S6Importer.cpp
  src/openrct2/world/MoneyEffect.cpp
Labels: network version

#9392 Peep Pickup Game Action
  src/openrct2-ui/windows/Guest.cpp
  src/openrct2-ui/windows/Staff.cpp
  src/openrct2/Game.cpp
  src/openrct2/Game.h
  src/openrct2/actions/GameActionRegistration.cpp
  src/openrct2/actions/PeepPickupAction.hpp
  src/openrct2/interface/Window.h
  src/openrct2/network/Network.cpp
  src/openrct2/peep/Peep.cpp
  src/openrct2/peep/Peep.h
  src/openrct2/peep/Staff.cpp
  src/openrct2/peep/Staff.h
  src/openrct2/windows/_legacy.cpp
Labels: Xcode Fix Required, game actions, network version

#9489 Fix #9485: Staff cannot be hired in pause mode
  src/openrct2/actions/StaffHireNewAction.hpp
  src/openrct2/network/Network.cpp
Labels: network version
