Repository OpenRCT2/OpenRCT2, pull requests merged in 2020-09, with the labels that each got.

#12840 Add Park.entranceFee to the plugin API
  distribution/changelog.txt
  distribution/openrct2.d.ts
  src/openrct2/scripting/ScPark.hpp
  src/openrct2/scripting/ScriptEngine.cpp
Labels: changelog, plugin api version

#12848 Fix #12845: Cancel marketing campaigns for demolished rides
  distribution/changelog.txt
  src/openrct2/actions/RideDemolishAction.hpp
  src/openrct2/management/Marketing.cpp
  src/openrct2/management/Marketing.h
  src/openrct2/network/NetworkBase.cpp
Labels: changelog, network version

#12712 Plugin: Add API for listening and communicating over TCP
  distribution/changelog.txt
  distribution/openrct2.d.ts
  distribution/scripting.md
  src/openrct2/libopenrct2.vcxproj
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/network/Socket.cpp
  src/openrct2/network/Socket.h
  src/openrct2/scripting/Duktape.hpp
  src/openrct2/scripting/ScNetwork.hpp
  src/openrct2/scripting/ScSocket.hpp
  src/openrct2/scripting/ScriptEngine.cpp
  src/openrct2/scripting/ScriptEngine.h
Labels: plug-in

#12832 Fix #12818 - ignore ride price in free-rides parks
  distribution/changelog.txt
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/world/Park.cpp
Labels: changelog, network version

#12888 Fix #5753: Entertainers make themselves happy instead of the guests
  contributors.md
  distribution/changelog.txt
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/peep/Peep.h
  src/openrct2/peep/Staff.cpp
Labels: changelog, network version

#12384 Make all game actions take an ObjectEntryIndex where applicable
  CMakeLists.txt
  openrct2.proj
  src/openrct2/actions/FootpathPlaceFromTrackAction.hpp
  src/openrct2/actions/FootpathSceneryPlaceAction.hpp
  src/openrct2/actions/RideCreateAction.hpp
  src/openrct2/actions/SmallSceneryPlaceAction.hpp
  src/openrct2/actions/WallPlaceAction.hpp
  src/openrct2/network/NetworkBase.cpp
Labels: network version

#12708 Make all GameAction types accessible to plugins
  contributors.md
  distribution/changelog.txt
  distribution/openrct2.d.ts
  src/openrct2/scripting/ScriptEngine.cpp
Labels: plugin api version

#12890 Add stroke to lowercase 'L' to differentiate from capital 'I'
  distribution/changelog.txt
  resources/g2/font/latin/l-bold.png
  resources/g2/font/latin/l-small.png
  resources/g2/font/latin/l-tiny.png
  resources/g2/sprites.json
  src/openrct2/drawing/Font.cpp
  src/openrct2/localisation/FormatCodes.h
  src/openrct2/sprites.h
Labels: changelog, squash merge

#12886 Add visitors for all scenery placement and removes
  distribution/changelog.txt
  src/openrct2/actions/BannerPlaceAction.hpp
  src/openrct2/actions/BannerRemoveAction.hpp
  src/openrct2/actions/FootpathPlaceAction.hpp
  src/openrct2/actions/FootpathRemoveAction.hpp
  src/openrct2/actions/FootpathSceneryPlaceAction.hpp
  src/openrct2/actions/FootpathSceneryRemoveAction.hpp
  src/openrct2/actions/GameAction.h
  src/openrct2/actions/LargeSceneryPlaceAction.hpp
  src/openrct2/actions/LargeSceneryRemoveAction.hpp
  src/openrct2/actions/SmallSceneryRemoveAction.hpp
  src/openrct2/actions/WallPlaceAction.hpp
  src/openrct2/actions/WallRemoveAction.hpp
  src/openrct2/scripting/ScriptEngine.cpp
Labels: plug-in

#12902 Fix #12900: Garbled/distorted date lines in file browser
  src/openrct2-ui/windows/LoadSave.cpp
Labels: squash merge

#12921 Add quadrants and scenario info to plugin API
  distribution/changelog.txt
  distribution/openrct2.d.ts
  src/openrct2/libopenrct2.vcxproj
  src/openrct2/scripting/ScPark.hpp
  src/openrct2/scripting/ScScenario.hpp
  src/openrct2/scripting/ScTile.hpp
  src/openrct2/scripting/ScriptEngine.cpp
Labels: plug-in

#12906 Part of #12097: Use ScreenRect on gfx_fill_rect_inset in Widget.cpp
  src/openrct2-ui/interface/Widget.cpp
Labels: squash merge

#12908 Refactor PeepSittingSubState
  src/openrct2/peep/Guest.cpp
  src/openrct2/peep/Peep.h
Labels: squash merge

#12922 Let it snow2
  data/language/en-GB.txt
  distribution/changelog.txt
  src/openrct2-ui/UiContext.cpp
  src/openrct2-ui/audio/AudioContext.cpp
  src/openrct2-ui/drawing/engines/opengl/OpenGLDrawingEngine.cpp
  src/openrct2-ui/windows/Cheats.cpp
  src/openrct2/actions/SetCheatAction.hpp
  src/openrct2/audio/Audio.cpp
  src/openrct2/audio/AudioContext.h
  src/openrct2/audio/DummyAudioContext.cpp
  src/openrct2/audio/audio.h
  src/openrct2/drawing/IDrawingEngine.h
  src/openrct2/drawing/Weather.cpp
  src/openrct2/drawing/Weather.h
  src/openrct2/drawing/X8DrawingEngine.cpp
  src/openrct2/drawing/X8DrawingEngine.h
  src/openrct2/interface/Screenshot.cpp
  src/openrct2/localisation/StringIds.h
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/paint/Painter.cpp
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/rct2/S6Exporter.cpp
  src/openrct2/rct2/S6Importer.cpp
  src/openrct2/scenario/Scenario.h
  src/openrct2/sprites.h
  src/openrct2/title/TitleScreen.cpp
  src/openrct2/ui/DummyUiContext.cpp
  src/openrct2/ui/UiContext.h
  src/openrct2/world/Climate.cpp
  src/openrct2/world/Climate.h
  src/openrct2/world/Scenery.cpp
Labels: changelog, network version

#12937 Add rpstester to list of Bug Fixes
  contributors.md
Labels: squash merge

#12938 Part of #12097: Use ScreenRect on gfx_fill_rect_inset (1)
  src/openrct2-ui/windows/NewRide.cpp
  src/openrct2-ui/windows/News.cpp
  src/openrct2-ui/windows/Park.cpp
  src/openrct2-ui/windows/Ride.cpp
  src/openrct2-ui/windows/Scenery.cpp
  src/openrct2-ui/windows/TextInput.cpp
  src/openrct2-ui/windows/Themes.cpp
  src/openrct2/interface/Chat.cpp
Labels: squash merge

#12837 Windows: FriBidi for Bidi and shaping
  OpenRCT2.xcodeproj/project.pbxproj
  openrct2.common.props
  openrct2.proj
  src/openrct2/core/RTL.FriBidi.cpp
  src/openrct2/core/RTL.ICU.cpp
  src/openrct2/core/RTL.h
  src/openrct2/libopenrct2.vcxproj
  src/openrct2/localisation/LanguagePack.cpp
  test/tests/CMakeLists.txt
Labels: changelog, pending rebase

#12980 Don't use empty resolutions
  src/openrct2-ui/UiContext.cpp
Labels: Android (OS)

#13012 Define NDEBUG for Xcode release targets
  OpenRCT2.xcodeproj/project.pbxproj
  distribution/changelog.txt
Labels: squash merge

#12907 Staff code cleanup
  src/openrct2/peep/GuestPathfinding.cpp
  src/openrct2/peep/Peep.h
  src/openrct2/peep/Staff.cpp
  src/openrct2/peep/Staff.h
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/Ride.h
  src/openrct2/scenario/Scenario.cpp
  src/openrct2/world/Location.hpp
Labels: refactor

#12972 Remove Formatter::Common where not required
  src/openrct2-ui/interface/Graph.cpp
  src/openrct2-ui/scripting/CustomListView.cpp
  src/openrct2-ui/windows/About.cpp
  src/openrct2-ui/windows/Cheats.cpp
  src/openrct2-ui/windows/CustomCurrency.cpp
  src/openrct2-ui/windows/DemolishRidePrompt.cpp
  src/openrct2-ui/windows/EditorObjectSelection.cpp
  src/openrct2-ui/windows/EditorObjectiveOptions.cpp
  src/openrct2-ui/windows/Finances.cpp
  src/openrct2-ui/windows/GameBottomToolbar.cpp
  src/openrct2-ui/windows/Guest.cpp
  src/openrct2-ui/windows/GuestList.cpp
  src/openrct2-ui/windows/InstallTrack.cpp
  src/openrct2/Game.cpp
  src/openrct2/paint/tile_element/Paint.Banner.cpp
  src/openrct2/paint/tile_element/Paint.Entrance.cpp
  src/openrct2/paint/tile_element/Paint.LargeScenery.cpp
  src/openrct2/paint/tile_element/Paint.Path.cpp
  src/openrct2/paint/tile_element/Paint.Wall.cpp
  src/openrct2/peep/Guest.cpp
  src/openrct2/peep/Peep.cpp
Labels: refactor

#13000 Allow opening Objective options via console
  distribution/changelog.txt
  src/openrct2/interface/InteractiveConsole.cpp
Labels: changelog

#13017 Refactor PARK_AWARD to use strong enum
  src/openrct2/management/Award.cpp
  src/openrct2/management/Award.h
Labels: squash merge

#13029 Fix: Not all Junior RC pieces shown with "Show all track pieces" on
  distribution/changelog.txt
  src/openrct2/ride/coaster/meta/ClassicMiniRollerCoaster.h
  src/openrct2/ride/coaster/meta/JuniorRollerCoaster.h
Labels: changelog

#12967 Refactor PeepRideSubState to enum class fix #12390
  src/openrct2/peep/Guest.cpp
  src/openrct2/peep/Peep.cpp
  src/openrct2/peep/Peep.h
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/Vehicle.cpp
Labels: pending rebase
