Repository OpenRCT2/OpenRCT2, pull requests merged in 2020-05, with the labels that each got.

#11573 Fixed logic with returned screamId. Refactored to use enums.
  CMakeLists.txt
  contributors.md
  distribution/changelog.txt
  openrct2.proj
  src/openrct2-ui/windows/Scenery.cpp
  src/openrct2/Editor.cpp
  src/openrct2/EditorObjectSelectionSession.cpp
  src/openrct2/actions/BannerPlaceAction.hpp
  src/openrct2/actions/FootpathPlaceAction.hpp
  src/openrct2/actions/LargeSceneryPlaceAction.hpp
  src/openrct2/actions/RideDemolishAction.hpp
  src/openrct2/actions/SmallSceneryRemoveAction.hpp
  src/openrct2/actions/SmallScenerySetColourAction.hpp
  src/openrct2/actions/WallPlaceAction.hpp
  src/openrct2/interface/InteractiveConsole.cpp
  src/openrct2/network/Network.cpp
  src/openrct2/object/BannerObject.cpp
  src/openrct2/object/FootpathItemObject.cpp
  src/openrct2/object/ObjectList.h
  src/openrct2/object/WallObject.cpp
  src/openrct2/peep/Guest.cpp
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/rct12/RCT12.h
  src/openrct2/rct2/RCT2.h
  src/openrct2/ride/Vehicle.cpp
  src/openrct2/world/Banner.h
  src/openrct2/world/Footpath.cpp
  src/openrct2/world/Fountain.cpp
  src/openrct2/world/Scenery.cpp
  src/openrct2/world/Scenery.h
  src/openrct2/world/ScenerySelection.h
  src/openrct2/world/TileElement.h
Labels: changelog, network version

#11611 Fix #11450: Can't open rides with "Enable all drawable track pieces"
  distribution/changelog.txt
  src/openrct2/ride/Ride.cpp
Labels: network version

#11651 Fix #1013: negative length in Ride window
  data/language/en-GB.txt
  distribution/changelog.txt
  src/openrct2-ui/windows/Ride.cpp
  src/openrct2/localisation/Localisation.cpp
Labels: changelog

#11619 Part of #9473: Create Vehicle::TryReconnectBoatToTrack()
  src/openrct2/ride/Vehicle.cpp
  src/openrct2/ride/Vehicle.h
Labels: work in progress

#11155 Avoid duplicate starting points and remove starting point with path
  distribution/changelog.txt
  src/openrct2/actions/FootpathRemoveAction.hpp
  src/openrct2/actions/PlacePeepSpawnAction.hpp
  src/openrct2/network/Network.cpp
  src/openrct2/world/Map.cpp
Labels: network version, work in progress

#11594 Extract function gNewsItems_first_open_slot
  src/openrct2/management/NewsItem.cpp
Labels: work in progress

#11708 Add missing return type to typescript definitions
  distribution/openrct2.d.ts
Labels: plug-in

#11704 Fix #11695. Mechanics walking to 0,0 on entrance only
  distribution/changelog.txt
  src/openrct2/network/Network.cpp
  src/openrct2/world/Location.hpp
Labels: network version

#11758 Fix peeps leaving shop at upward slope.
  CMakeLists.txt
  distribution/changelog.txt
  openrct2.proj
  src/openrct2/network/Network.cpp
  src/openrct2/peep/Guest.cpp
Labels: changelog, network version

#11797 Create command to export images from .DAT file
  distribution/changelog.txt
  src/openrct2/CmdlineSprite.cpp
  src/openrct2/cmdline/SpriteCommands.cpp
  src/openrct2/object/Object.h
Labels: changelog

#11820 Remove (almost) non-functional Twitch integration
  CMakeLists.txt
  OpenRCT2.xcodeproj/project.pbxproj
  contributors.md
  data/language/en-GB.txt
  distribution/changelog.txt
  resources/g2/icons/twitch.png
  resources/g2/sprites.json
  src/openrct2-android/app/src/main/CMakeLists.txt
  src/openrct2-ui/windows/Options.cpp
  src/openrct2-ui/windows/TopToolbar.cpp
  src/openrct2/Context.cpp
  src/openrct2/config/Config.cpp
  src/openrct2/config/Config.h
  src/openrct2/interface/InteractiveConsole.cpp
  src/openrct2/localisation/StringIds.h
  src/openrct2/network/Twitch.cpp
  src/openrct2/network/Twitch.h
  src/openrct2/peep/Peep.h
  src/openrct2/ride/coaster/JuniorRollerCoaster.cpp
  src/openrct2/sprites.h
Labels: changelog
