Repository OpenRCT2/OpenRCT2, pull requests merged in 2020-10, with the labels that each got.

#13072 Close #12435: Refactor FILEDIALOG_TYPE to use strong enum
  src/openrct2-ui/windows/LoadSave.cpp
  src/openrct2/platform/platform.h
Labels: squash merge

#13074 Fix entrance and exit ghosts not being removed for mazes
  distribution/changelog.txt
  src/openrct2/ride/Ride.cpp
Labels: changelog, squash merge

#13025 Fixed console cursor rendering.
  distribution/changelog.txt
  src/openrct2-ui/TextComposition.cpp
  src/openrct2-ui/interface/InGameConsole.cpp
  src/openrct2-ui/interface/InGameConsole.h
Labels: changelog, squash merge

#13126 Fix #4041: Garbled park option on scenario editor with custom theme
  distribution/changelog.txt
  src/openrct2-ui/windows/EditorScenarioOptions.cpp
Labels: squash merge

#13129 Fix missing error message on ride graph
  distribution/changelog.txt
  src/openrct2-ui/interface/Theme.cpp
  src/openrct2/ride/Ride.cpp
Labels: changelog, squash merge

#13132 Fix #7748. Move tooltip timeout reset to correct location
  distribution/changelog.txt
  src/openrct2-ui/input/MouseInput.cpp
Labels: changelog

#13138 Fix logical sort
  distribution/changelog.txt
  src/openrct2/util/Util.cpp
Labels: changelog

#13128 Fix #13125, make initial RCT2 directory picking not be hardcoded
  contributors.md
  data/language/en-GB.txt
  distribution/changelog.txt
  src/openrct2/Context.cpp
  src/openrct2/config/Config.cpp
  src/openrct2/localisation/Language.cpp
  src/openrct2/localisation/LocalisationService.cpp
  src/openrct2/localisation/LocalisationService.h
  src/openrct2/localisation/StringIds.h
Labels: changelog, squash merge

#13098 Entrance/exit construction state fixes in ride and maze construction
  distribution/changelog.txt
  src/openrct2-ui/windows/MazeConstruction.cpp
  src/openrct2-ui/windows/RideConstruction.cpp
Labels: changelog

#13097 Construction arrow pulse improvements
  distribution/changelog.txt
  src/openrct2-ui/windows/Footpath.cpp
  src/openrct2-ui/windows/RideConstruction.cpp
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/Ride.h
  src/openrct2/windows/_legacy.cpp
Labels: changelog

#13186 Improve park cheats tab layout
  data/language/en-GB.txt
  distribution/changelog.txt
  src/openrct2-ui/windows/Cheats.cpp
  src/openrct2/Cheats.cpp
  src/openrct2/localisation/StringIds.h
Labels: squash merge

#13095 Fix #4022: Mac cursor offset on launch
  distribution/changelog.txt
  src/openrct2-ui/UiContext.cpp
Labels: changelog, squash merge

#13205 Fix #7518 : Water isn't cut down by view clipping tool
  distribution/changelog.txt
  src/openrct2/paint/tile_element/Paint.Surface.cpp
Labels: changelog

#13231 Fix for no error being shown when loading corrupted park save (#13226)
  distribution/changelog.txt
  src/openrct2/Context.cpp
Labels: changelog

#13239 Fix #13222 : Vehicle Collision causes negative number of passengers
  distribution/changelog.txt
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/ride/Vehicle.cpp
Labels: network version

#13243 Close #4865: Offer an option to disable inhibiting the monitor power
  data/language/en-GB.txt
  distribution/changelog.txt
  src/openrct2-ui/UiContext.cpp
  src/openrct2-ui/interface/Window.cpp
  src/openrct2-ui/interface/Window.h
  src/openrct2-ui/windows/Options.cpp
  src/openrct2/config/Config.cpp
  src/openrct2/config/Config.h
  src/openrct2/localisation/StringIds.h
Labels: changelog, squash merge

#13211 Change GL_TEXTURE_RECTANGLE to NPOT GL_TEXTURE_2D
  data/shaders/applytransparency.frag
  data/shaders/drawrect.frag
  distribution/changelog.txt
  src/openrct2-ui/drawing/engines/opengl/ApplyTransparencyShader.cpp
  src/openrct2-ui/drawing/engines/opengl/OpenGLDrawingEngine.cpp
  src/openrct2-ui/drawing/engines/opengl/TextureCache.cpp
Labels: changelog

#13252 Fix #12368: Don't modify station properties when placing or removing ghost tiles
  src/openrct2/actions/TrackPlaceAction.hpp
  src/openrct2/actions/TrackRemoveAction.hpp
Labels: changelog, network version

#13278 Fix desync caused due to ghost tiles changing the ride mode
  src/openrct2/actions/TrackPlaceAction.hpp
  src/openrct2/actions/TrackRemoveAction.hpp
Labels: changelog, network version

#13316 Fix: #13292: Impossible excitement rating requirements...
  contributors.md
  distribution/changelog.txt
  src/openrct2-ui/windows/EditorObjectiveOptions.cpp
Labels: changelog, squash merge
