Repository OpenRCT2/OpenRCT2, pull requests merged in 2020-03, with the labels that each got.

#10905 Fix #10904: RCT1/LL-scenarios with red water won't open
  distribution/changelog.txt
  src/openrct2/rct1/S4Importer.cpp
Labels: changelog

#10884 Axis labels and horizontal guides for park window
  data/language/en-GB.txt
  distribution/changelog.txt
  src/openrct2-ui/windows/Park.cpp
  src/openrct2/localisation/StringIds.h
Labels: changelog

#10863 Feature: Add console command for removing all floating objects
  src/openrct2/interface/InteractiveConsole.cpp
  src/openrct2/world/Duck.cpp
  src/openrct2/world/Sprite.cpp
  src/openrct2/world/Sprite.h
Labels: changelog

#10970 Light Effects for rides reintegrated with less lag and option to turn off.
  data/language/en-GB.txt
  distribution/changelog.txt
  src/openrct2-ui/windows/Options.cpp
  src/openrct2/config/Config.cpp
  src/openrct2/config/Config.h
  src/openrct2/drawing/LightFX.cpp
  src/openrct2/drawing/LightFX.h
  src/openrct2/localisation/StringIds.h
  src/openrct2/paint/sprite/Paint.Sprite.cpp
Labels: changelog

#10967 Refactor the ride type to entry map
  src/openrct2-ui/windows/NewRide.cpp
  src/openrct2-ui/windows/Ride.cpp
  src/openrct2/actions/RideSetVehiclesAction.hpp
  src/openrct2/actions/TrackDesignAction.cpp
  src/openrct2/object/ObjectManager.cpp
  src/openrct2/object/ObjectManager.h
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/Ride.h
  src/openrct2/ride/RideGroupManager.cpp
Labels: refactor

#10981 Fix #8151: Game freezes upon demolishing mazes at odd heights
  distribution/changelog.txt
  src/openrct2/actions/MazeSetTrackAction.hpp
  src/openrct2/network/Network.cpp
Labels: network version

#11031 Fix #6123: Cannot build some track designs with 4 stations
  distribution/changelog.txt
  src/openrct2-ui/windows/RideConstruction.cpp
  src/openrct2/actions/TrackPlaceAction.hpp
  src/openrct2/network/Network.cpp
  src/openrct2/ride/Track.cpp
  src/openrct2/ride/Track.h
  src/openrct2/ride/TrackDesign.cpp
  src/openrct2/windows/_legacy.cpp
Labels: network version

#11013 Simple implementation of copy input to clipboard (Ctrl+C)
  data/language/en-GB.txt
  distribution/changelog.txt
  src/openrct2-ui/TextComposition.cpp
  src/openrct2/localisation/StringIds.h
Labels: changelog

#11067 Add missing check for valid scenery type
  src/openrct2/management/Research.cpp
Labels: bug

#11012 Fix #11005: Company value overflows
  distribution/changelog.txt
  src/openrct2/network/Network.cpp
  src/openrct2/world/Park.cpp
Labels: network version

#10925 Show hovered values on finance charts
  distribution/changelog.txt
  src/openrct2-ui/interface/Graph.cpp
  src/openrct2-ui/interface/Graph.h
  src/openrct2/drawing/Drawing.h
  src/openrct2/drawing/NewDrawing.cpp
  src/openrct2/drawing/Text.cpp
Labels: changelog

#11088 Remove peep sort
  src/openrct2/Game.cpp
  src/openrct2/actions/GuestSetNameAction.hpp
  src/openrct2/actions/StaffHireNewAction.hpp
  src/openrct2/actions/StaffSetNameAction.hpp
  src/openrct2/network/Network.cpp
  src/openrct2/peep/Peep.cpp
  src/openrct2/peep/Peep.h
  src/openrct2/rct1/S4Importer.cpp
Labels: network version

#11178 Fix #11063: Exchange hack for call to update_scroll
  distribution/changelog.txt
  src/openrct2-ui/windows/Scenery.cpp
Labels: changelog

#11184 Fix mistake made in #10579
  src/openrct2/network/Network.cpp
  src/openrct2/ride/TrackDesign.cpp
Labels: network version
