Repository OpenRCT2/OpenRCT2, pull requests merged in 2020-07, with the labels that each got.

#12091 Fix #12062: Add chain lift to Flying Coaster pieces when inverted
  distribution/changelog.txt
  src/openrct2/ride/coaster/FlyingRollerCoaster.cpp
Labels: changelog

#12129 Fix #12123: Long server descriptions are not cut off properly
  src/openrct2-ui/windows/ServerList.cpp
Labels: squash merge

#12127 Clarify CoordsRange-derived interface methods
  src/openrct2/core/DataSerialiserTraits.h
  src/openrct2/drawing/NewDrawing.cpp
  src/openrct2/world/Location.hpp
Labels: squash merge

#11909 Use more constants/specific types
  CMakeLists.txt
  openrct2.proj
  src/openrct2-ui/windows/Guest.cpp
  src/openrct2/Game.cpp
  src/openrct2/GameStateSnapshots.cpp
  src/openrct2/actions/RideDemolishAction.hpp
  src/openrct2/management/Marketing.cpp
  src/openrct2/management/Marketing.h
  src/openrct2/network/Network.cpp
  src/openrct2/peep/Guest.cpp
  src/openrct2/peep/GuestPathfinding.cpp
  src/openrct2/peep/Peep.cpp
  src/openrct2/peep/Peep.h
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/rct2/S6Exporter.cpp
  src/openrct2/rct2/S6Importer.cpp
  src/openrct2/ride/RideData.h
  src/openrct2/ride/ShopItem.h
  src/openrct2/world/Entrance.h
  test/tests/S6ImportExportTests.cpp
Labels: network version

#12172 Part of #11389: Use Formatter on Ride::FormatStatusTo
  src/openrct2-ui/windows/Ride.cpp
  src/openrct2-ui/windows/RideList.cpp
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/Ride.h
Labels: squash merge

#12178 Close #12177: Extract patrol offset and index calculation into method
  src/openrct2/peep/Staff.cpp
Labels: squash merge

#12210 Fix load game showing edge of map
  src/openrct2/interface/Viewport.cpp
Labels: squash merge

#12222 Fix #12221: Map generation tool doesn't place any trees
  distribution/changelog.txt
  src/openrct2/world/MapGen.cpp
Labels: changelog, squash merge

#12180 Part of #12166: remove switch-case in bolliger_mabillard_track_flat
  src/openrct2/ride/coaster/BolligerMabillardTrack.cpp
Labels: squash merge

#12264 Use MakeWidget for most Title windows and the ToolTip
  src/openrct2-ui/windows/TitleExit.cpp
  src/openrct2-ui/windows/TitleLogo.cpp
  src/openrct2-ui/windows/TitleMenu.cpp
  src/openrct2-ui/windows/TitleScenarioSelect.cpp
  src/openrct2-ui/windows/Tooltip.cpp
Labels: squash merge

#12251 Part of #12243: Use coords for MazeRemoveTrack
  src/openrct2/actions/RideDemolishAction.hpp
  src/openrct2/network/Network.cpp
Labels: network version

#12275 Refactor more widgets definitions into new format
  src/openrct2-ui/windows/About.cpp
  src/openrct2-ui/windows/EditorBottomToolbar.cpp
  src/openrct2-ui/windows/EditorInventionsList.cpp
  src/openrct2-ui/windows/EditorObjectSelection.cpp
  src/openrct2-ui/windows/Error.cpp
  src/openrct2-ui/windows/Finances.cpp
  src/openrct2-ui/windows/Footpath.cpp
  src/openrct2-ui/windows/GameBottomToolbar.cpp
  src/openrct2-ui/windows/GuestList.cpp
  src/openrct2-ui/windows/NetworkStatus.cpp
  src/openrct2-ui/windows/News.cpp
  src/openrct2-ui/windows/NewsOptions.cpp
  src/openrct2-ui/windows/Player.cpp
  src/openrct2-ui/windows/Research.cpp
  src/openrct2-ui/windows/StaffList.cpp
  src/openrct2-ui/windows/TitleOptions.cpp
  src/openrct2/interface/Widget.h
Labels: squash merge

#11893 Part of #11159 (purge malloc() & free())
  contributors.md
  src/openrct2/CmdlineSprite.cpp
  src/openrct2/EditorObjectSelectionSession.cpp
  src/openrct2/object/ObjectManager.cpp
  src/openrct2/object/ObjectManager.h
Labels: pending rebase

#12316 Refactor options window widget definitions into new format
  src/openrct2-ui/windows/Options.cpp
Labels: squash merge

#12340 Refactor more widget definitions
  src/openrct2-ui/windows/About.cpp
  src/openrct2-ui/windows/Banner.cpp
  src/openrct2-ui/windows/Changelog.cpp
  src/openrct2-ui/windows/CustomCurrency.cpp
  src/openrct2-ui/windows/DebugPaint.cpp
  src/openrct2-ui/windows/DemolishRidePrompt.cpp
  src/openrct2-ui/windows/Finances.cpp
  src/openrct2-ui/windows/SavePrompt.cpp
Labels: squash merge

#12346 Refactor ResearchItem Type to an enum class
  src/openrct2-ui/windows/EditorInventionsList.cpp
  src/openrct2-ui/windows/NewRide.cpp
  src/openrct2-ui/windows/Research.cpp
  src/openrct2/EditorObjectSelectionSession.cpp
  src/openrct2/management/NewsItem.cpp
  src/openrct2/management/Research.cpp
  src/openrct2/management/Research.h
  src/openrct2/rct1/S4Importer.cpp
Labels: squash merge

#12362 Change ObjectEntryIndex null value to 0xFFFF
  CMakeLists.txt
  openrct2.proj
  src/openrct2-ui/interface/LandTool.cpp
  src/openrct2-ui/interface/LandTool.h
  src/openrct2/actions/SurfaceSetStyleAction.hpp
  src/openrct2/network/Network.cpp
  src/openrct2/object/Object.h
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/rct12/RCT12.cpp
  src/openrct2/rct12/RCT12.h
  src/openrct2/rct2/S6Exporter.cpp
  src/openrct2/rct2/S6Importer.cpp
  src/openrct2/ride/Vehicle.cpp
  src/openrct2/ride/Vehicle.h
  src/openrct2/scenario/Scenario.cpp
Labels: network version

#12462 Fix #11804: Some RCT1 fences are imported at the wrong height
  distribution/changelog.txt
  src/openrct2/rct1/S4Importer.cpp
Labels: squash merge

#12382 Reduce use of get_sprite
  src/openrct2/GameStateSnapshots.cpp
  src/openrct2/scripting/ScEntity.hpp
  src/openrct2/world/Sprite.cpp
  test/tests/S6ImportExportTests.cpp
Labels: squash merge

#12373 Improve connecting to servers
  data/language/en-GB.txt
  src/openrct2/localisation/StringIds.h
  src/openrct2/network/Network.cpp
  src/openrct2/network/NetworkPacket.cpp
  src/openrct2/network/NetworkTypes.h
Labels: network version

#12470 Fix #11623: Erratic zoom behavior when pointing outside of the map
  distribution/changelog.txt
  src/openrct2/interface/Window.cpp
Labels: changelog

#12354 Refactor more widget definitions
  src/openrct2-ui/windows/Dropdown.cpp
  src/openrct2-ui/windows/EditorMain.cpp
  src/openrct2-ui/windows/EditorScenarioOptions.cpp
  src/openrct2-ui/windows/Guest.cpp
  src/openrct2-ui/windows/InstallTrack.cpp
  src/openrct2-ui/windows/LandRights.cpp
  src/openrct2-ui/windows/LoadSave.cpp
  src/openrct2-ui/windows/Main.cpp
  src/openrct2-ui/windows/Map.cpp
Labels: squash merge

#12480 Close #12458 : Refactor STARTUP_ACTION to use strong enum
  src/openrct2/Context.cpp
  src/openrct2/OpenRCT2.cpp
  src/openrct2/OpenRCT2.h
  src/openrct2/cmdline/RootCommands.cpp
Labels: pending rebase

#12502 Fix #12486: `set-rct2` has a broken g1.dat check
  contributors.md
  distribution/changelog.txt
  src/openrct2/cmdline/RootCommands.cpp
Labels: changelog

#12508 Fix #12505: Stores can only have the first product advertised
  distribution/changelog.txt
  src/openrct2-ui/windows/NewCampaign.cpp
Labels: squash merge

#12503 Refactor another set of widget definitions
  src/openrct2-ui/windows/TextInput.cpp
  src/openrct2-ui/windows/Themes.cpp
  src/openrct2-ui/windows/TitleCommandEditor.cpp
  src/openrct2-ui/windows/TitleEditor.cpp
  src/openrct2-ui/windows/TopToolbar.cpp
  src/openrct2-ui/windows/TrackDesignManage.cpp
  src/openrct2-ui/windows/TrackDesignPlace.cpp
  src/openrct2-ui/windows/TrackList.cpp
  src/openrct2-ui/windows/ViewClipping.cpp
  src/openrct2-ui/windows/Viewport.cpp
Labels: squash merge
