Repository OpenRCT2/OpenRCT2, pull requests merged in 2020-11, with the labels that each got.

#13256 Fix #13250. Crash when opening parks with new ride types
  data/language/en-GB.txt
  src/openrct2-ui/windows/Ride.cpp
  src/openrct2/Context.cpp
  src/openrct2/ParkImporter.h
  src/openrct2/actions/TrackRemoveAction.hpp
  src/openrct2/localisation/StringIds.h
  src/openrct2/rct2/S6Importer.cpp
  src/openrct2/ride/RideRatings.cpp
  src/openrct2/ride/TrackPaint.cpp
  src/openrct2/ride/Vehicle.cpp
Labels: squash merge

#13335 Fix: [#13334] Uninitialised variables in CustomTabDesc
  distribution/changelog.txt
  src/openrct2-ui/scripting/CustomWindow.cpp
Labels: pending rebase

#12917 Debunch peeps
  CMakeLists.txt
  distribution/changelog.txt
  openrct2.proj
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/peep/GuestPathfinding.cpp
  test/tests/Pathfinding.cpp
Labels: changelog, network version

#13389 Fix #12895: Prevent Mechanics from fixing just fixed rides
  distribution/changelog.txt
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/peep/Staff.cpp
Labels: changelog, network version

#13423 Remove built-in explode guests cheat
  data/language/en-GB.txt
  distribution/changelog.txt
  src/openrct2-ui/windows/Cheats.cpp
  src/openrct2/Cheats.cpp
  src/openrct2/Cheats.h
  src/openrct2/actions/SetCheatAction.hpp
  src/openrct2/localisation/StringIds.h
  src/openrct2/network/NetworkBase.cpp
Labels: network version

#13457 Fix #13427: Newly created Go-Karts show "Race won by <blank>"
  distribution/changelog.txt
  src/openrct2/ride/Ride.cpp
Labels: changelog, squash merge

#13483 Add pause button to the Track Designer
  distribution/changelog.txt
  src/openrct2-ui/windows/TopToolbar.cpp
Labels: changelog
