Repository OpenRCT2/OpenRCT2, pull requests merged in 2020-08, with the labels that each got.

#12521 Refactor the last sets of widget definitions
  src/openrct2-ui/windows/MapGen.cpp
  src/openrct2-ui/windows/MapTooltip.cpp
  src/openrct2-ui/windows/MazeConstruction.cpp
  src/openrct2-ui/windows/Multiplayer.cpp
  src/openrct2-ui/windows/MusicCredits.cpp
  src/openrct2-ui/windows/Network.cpp
  src/openrct2-ui/windows/NewCampaign.cpp
  src/openrct2-ui/windows/NewRide.cpp
  src/openrct2-ui/windows/ObjectLoadError.cpp
  src/openrct2-ui/windows/Park.cpp
  src/openrct2-ui/windows/Ride.cpp
  src/openrct2-ui/windows/Sign.cpp
  src/openrct2-ui/windows/Staff.cpp
  src/openrct2-ui/windows/StaffFirePrompt.cpp
Labels: squash merge

#12546 Change maze pathfinding to not prefer a direction
  CMakeLists.txt
  distribution/changelog.txt
  openrct2.proj
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/peep/Guest.cpp
Labels: changelog, network version

#12615 Fix #11085: Handle player list before game actions during map load
  distribution/changelog.txt
  src/openrct2/network/NetworkBase.cpp
Labels: changelog

#12630 Fix #12611: Bad check for pay-per-ride ability
  distribution/changelog.txt
  src/openrct2-ui/windows/EditorObjectiveOptions.cpp
  src/openrct2/management/Award.cpp
Labels: squash merge

#12636 Use a 16-bit integer for track type in more places
  src/openrct2-ui/windows/RideConstruction.cpp
  src/openrct2/actions/TrackPlaceAction.hpp
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/rct12/RCT12.cpp
  src/openrct2/rct2/S6Importer.cpp
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/Track.cpp
  src/openrct2/ride/Track.h
  src/openrct2/ride/TrackDesign.cpp
  src/openrct2/ride/Vehicle.cpp
  src/openrct2/windows/_legacy.cpp
  src/openrct2/world/TileElement.h
Labels: refactor

#12659 Fix #11968: Maze height is higher than it should be
  distribution/changelog.txt
  src/openrct2/actions/MazePlaceTrackAction.hpp
  src/openrct2/network/NetworkBase.cpp
Labels: network version

#12347 Pester users to update every so often
  data/language/en-GB.txt
  distribution/changelog.txt
  src/openrct2-ui/WindowManager.cpp
  src/openrct2-ui/windows/About.cpp
  src/openrct2-ui/windows/Changelog.cpp
  src/openrct2-ui/windows/TitleMenu.cpp
  src/openrct2-ui/windows/TopToolbar.cpp
  src/openrct2-ui/windows/Window.h
  src/openrct2/Context.cpp
  src/openrct2/Context.h
  src/openrct2/Version.cpp
  src/openrct2/Version.h
  src/openrct2/config/Config.cpp
  src/openrct2/config/Config.h
  src/openrct2/interface/Window.cpp
  src/openrct2/interface/Window.h
  src/openrct2/localisation/StringIds.h
Labels: changelog

#12709 Fix #12701 Disable upgrade pop-up at slient install
  distribution/changelog.txt
  distribution/windows/install.nsi
Labels: changelog

#12707 Fix: Incomplete loop collision box allowed overlap (original bug)
  contributors.md
  distribution/changelog.txt
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/ride/TrackData.cpp
Labels: changelog, network version

#12738 Fix #12737: Space Rings draw the same vehicle 4 times
  distribution/changelog.txt
  src/openrct2/ride/gentle/SpaceRings.cpp
Labels: changelog

#12771 Fix #12764: Rides don't start aged anymore
  distribution/changelog.txt
  src/openrct2-ui/windows/Finances.cpp
  src/openrct2/GameState.cpp
  src/openrct2/localisation/Date.h
  src/openrct2/localisation/Localisation.Date.cpp
  src/openrct2/management/NewsItem.cpp
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/rct1/RCT1.h
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/rct2/RCT2.h
  src/openrct2/rct2/S6Exporter.cpp
  src/openrct2/rct2/S6Importer.cpp
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/Ride.h
  src/openrct2/scenario/Scenario.cpp
  src/openrct2/scripting/ScDate.hpp
  src/openrct2/scripting/ScRide.hpp
  src/openrct2/world/Climate.cpp
Labels: network version

#12676 Fix #7037: saving rides starting with sloped turn
  distribution/changelog.txt
  src/openrct2/ride/Ride.cpp
Labels: testing required

#10807 Add two new zoom in levels
  distribution/changelog.txt
  src/openrct2-ui/drawing/engines/opengl/OpenGLDrawingEngine.cpp
  src/openrct2/Context.cpp
  src/openrct2/drawing/Drawing.Sprite.BMP.cpp
  src/openrct2/drawing/Drawing.Sprite.RLE.cpp
  src/openrct2/drawing/Drawing.cpp
  src/openrct2/drawing/Drawing.h
  src/openrct2/interface/Viewport.cpp
  src/openrct2/interface/Window.cpp
  src/openrct2/interface/Window.h
  src/openrct2/interface/ZoomLevel.hpp
  src/openrct2/paint/Paint.cpp
Labels: pending rebase

#12749 Downgrade Mac build requirements of OpenRCT2 to macOS 10.13
  OpenRCT2.xcodeproj/project.pbxproj
  distribution/changelog.txt
  src/openrct2-ui/interface/Window.cpp
Labels: squash merge

#12821 Fix #12820: Title menu buttons not invalidating properly
  distribution/changelog.txt
  src/openrct2-ui/windows/TitleMenu.cpp
Labels: changelog, squash merge
