Repository OpenRCT2/OpenRCT2, pull requests merged in 2020-12, with the labels that each got.

#13558 Fix #6677: Add discord RPC to macOS builds
  OpenRCT2.xcodeproj/project.pbxproj
  distribution/changelog.txt
  scripts/get-discord-rpc
Labels: changelog

#13592 Fix #13567: Added ability for peeps to stop eating certain food constanly
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/util/Util.cpp
  src/openrct2/util/Util.h
Labels: network version

#13587 Enhanced track designer with ability to add/remove scenery and footpaths
  distribution/changelog.txt
  src/openrct2-ui/windows/EditorObjectSelection.cpp
  src/openrct2-ui/windows/Ride.cpp
  src/openrct2-ui/windows/TopToolbar.cpp
  src/openrct2/EditorObjectSelectionSession.cpp
  src/openrct2/object/DefaultObjects.cpp
  src/openrct2/object/DefaultObjects.h
Labels: changelog

#13633 Paint Setup refactor
  src/openrct2/paint/Paint.cpp
Labels: squash merge

#13647 Close #13637: refactor sprite compiler for filesystem efficiency
  src/openrct2/CmdlineSprite.cpp
  test/tests/CLITests.cpp
  test/tests/testdata/sprites/badManifest.json
  test/tests/testdata/sprites/example.dat
  test/tests/testdata/sprites/manifest.json
  test/tests/testdata/sprites/result.dat
  test/tests/tests.vcxproj
Labels: squash merge

#13593 [Plugin] Add track progress property to vehicles
  distribution/changelog.txt
  distribution/openrct2.d.ts
  src/openrct2/ride/Vehicle.cpp
  src/openrct2/ride/Vehicle.h
  src/openrct2/scripting/ScEntity.hpp
  src/openrct2/scripting/ScriptEngine.cpp
Labels: pending rebase

#13657 Close #13624: Refactor ViewportInteractionItem to use strong enum
  src/openrct2-ui/interface/ViewportInteraction.cpp
  src/openrct2-ui/scripting/CustomMenu.cpp
  src/openrct2-ui/windows/Footpath.cpp
  src/openrct2-ui/windows/Guest.cpp
  src/openrct2-ui/windows/Ride.cpp
  src/openrct2-ui/windows/RideConstruction.cpp
  src/openrct2-ui/windows/Staff.cpp
  src/openrct2-ui/windows/TileInspector.cpp
  src/openrct2-ui/windows/TitleCommandEditor.cpp
  src/openrct2-ui/windows/TopToolbar.cpp
  src/openrct2/drawing/LightFX.cpp
  src/openrct2/interface/Viewport.cpp
  src/openrct2/interface/Viewport.h
  src/openrct2/paint/Paint.cpp
  src/openrct2/paint/Paint.h
  src/openrct2/paint/VirtualFloor.cpp
  src/openrct2/paint/sprite/Paint.Sprite.cpp
  src/openrct2/paint/tile_element/Paint.Banner.cpp
  src/openrct2/paint/tile_element/Paint.Entrance.cpp
  src/openrct2/paint/tile_element/Paint.LargeScenery.cpp
  src/openrct2/paint/tile_element/Paint.Path.cpp
  src/openrct2/paint/tile_element/Paint.SmallScenery.cpp
  src/openrct2/paint/tile_element/Paint.Surface.cpp
  src/openrct2/paint/tile_element/Paint.TileElement.cpp
  src/openrct2/paint/tile_element/Paint.Wall.cpp
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/TrackDesign.h
  src/openrct2/ride/TrackDesignSave.cpp
  src/openrct2/ride/TrackPaint.cpp
  src/openrct2/ride/gentle/Circus.cpp
  src/openrct2/ride/gentle/CrookedHouse.cpp
  src/openrct2/ride/gentle/FerrisWheel.cpp
  src/openrct2/ride/gentle/HauntedHouse.cpp
  src/openrct2/ride/gentle/MerryGoRound.cpp
  src/openrct2/ride/gentle/SpaceRings.cpp
  src/openrct2/ride/thrill/3dCinema.cpp
  src/openrct2/ride/thrill/Enterprise.cpp
  src/openrct2/ride/thrill/MagicCarpet.cpp
  src/openrct2/ride/thrill/MotionSimulator.cpp
  src/openrct2/ride/thrill/SwingingInverterShip.cpp
  src/openrct2/ride/thrill/SwingingShip.cpp
  src/openrct2/ride/thrill/TopSpin.cpp
  src/openrct2/ride/thrill/Twist.cpp
  src/openrct2/world/Footpath.cpp
  test/testpaint/TestPaint.cpp
Labels: squash merge
