Repository OpenRCT2/OpenRCT2, pull requests merged in 2020-04, with the labels that each got.

#11186 Fix #11126: Cannot place Frightmare track design
  distribution/changelog.txt
  src/openrct2/actions/TrackPlaceAction.hpp
  src/openrct2/network/Network.cpp
Labels: network version

#11232 Fix #11230: Seat Rotation not imported correctly for hacked rides
  distribution/changelog.txt
  src/openrct2/network/Network.cpp
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/rct2/S6Exporter.cpp
  src/openrct2/rct2/S6Importer.cpp
  src/openrct2/ride/Track.h
Labels: network version

#11226 Fix track design replays.
  distribution/changelog.txt
  src/openrct2/actions/TrackDesignAction.cpp
  src/openrct2/network/Network.cpp
  src/openrct2/ride/TrackDesign.cpp
  src/openrct2/ride/TrackDesign.h
Labels: network version

#11246 Fix Various Import/Export issues
  distribution/changelog.txt
  src/openrct2/GameStateSnapshots.cpp
  src/openrct2/network/Network.cpp
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/rct2/S6Exporter.cpp
  src/openrct2/rct2/S6Importer.cpp
  src/openrct2/ride/CableLift.cpp
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/Vehicle.cpp
  src/openrct2/world/Balloon.cpp
  src/openrct2/world/Location.hpp
Labels: changelog, network version

#11252 Change the spatial insert to make it ordered
  src/openrct2/network/Network.cpp
  src/openrct2/world/Sprite.cpp
Labels: network version, refactor

#11267 Fix #10372, #10509, #10806. Lift base sections did not export correctly
  distribution/changelog.txt
  src/openrct2/network/Network.cpp
  src/openrct2/rct12/RCT12.cpp
Labels: network version

#11289 Use utf8_remove_format_codes to remove format codes from user strings
  distribution/changelog.txt
  src/openrct2/network/Network.cpp
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/rct12/RCT12.cpp
  src/openrct2/rct12/RCT12.h
  src/openrct2/rct2/S6Importer.cpp
Labels: changelog, network version

#11301 Add reverse-incline launched shuttle and powered launch modes to Stand-up Roller Coaster
  distribution/changelog.txt
  src/openrct2/network/Network.cpp
  src/openrct2/ride/RideData.cpp
Labels: changelog, network version

#11273 Make casualty notifications optional
  data/language/en-GB.txt
  distribution/changelog.txt
  src/openrct2-ui/windows/NewsOptions.cpp
  src/openrct2/config/Config.cpp
  src/openrct2/config/Config.h
  src/openrct2/localisation/StringIds.h
  src/openrct2/ride/Vehicle.cpp
Labels: changelog

#11231 Change shortcut window list order
  data/language/en-GB.txt
  distribution/changelog.txt
  src/openrct2-ui/input/KeyboardShortcuts.h
  src/openrct2-ui/windows/ShortcutKeyChange.cpp
  src/openrct2-ui/windows/ShortcutKeys.cpp
  src/openrct2-ui/windows/Window.h
Labels: changelog

#11179 Fix #11072: Land and water tools work out of bounds
  distribution/changelog.txt
  src/openrct2-ui/windows/TopToolbar.cpp
Labels: pending rebase

#11317 Fix #11315: Never opened ride shown as favourite ride of 74 guests
  CMakeLists.txt
  distribution/changelog.txt
  openrct2.proj
  src/openrct2/actions/StaffHireNewAction.hpp
  src/openrct2/network/Network.cpp
  src/openrct2/ride/Ride.cpp
Labels: changelog, network version

#11206 Fix #9029: Set animation frame on doors using the tile inspector
  data/language/en-GB.txt
  distribution/changelog.txt
  src/openrct2-ui/windows/TileInspector.cpp
  src/openrct2/actions/TileModifyAction.hpp
  src/openrct2/localisation/StringIds.h
  src/openrct2/network/Network.cpp
  src/openrct2/world/TileInspector.cpp
  src/openrct2/world/TileInspector.h
Labels: pending rebase

#11274 Fix #11075 SpriteListHead Refactor
  contributors.md
  src/openrct2/actions/SetCheatAction.hpp
  src/openrct2/actions/StaffSetColourAction.hpp
  src/openrct2/peep/Peep.cpp
  src/openrct2/peep/Staff.cpp
Labels: work in progress

#11181 Fix #6530: Make land tools work consistently on park borders
  distribution/changelog.txt
  src/openrct2/actions/LandLowerAction.hpp
  src/openrct2/actions/LandRaiseAction.hpp
  src/openrct2/actions/WaterLowerAction.hpp
  src/openrct2/actions/WaterRaiseAction.hpp
  src/openrct2/network/Network.cpp
  src/openrct2/world/Map.cpp
Labels: enhancement, network version, pending rebase

#11306 Changing footpath type won't remove the elements on it.
  distribution/changelog.txt
  src/openrct2/actions/FootpathPlaceAction.hpp
  src/openrct2/network/Network.cpp
Labels: changelog, network version, work in progress

#11348 openrct2-ui cast fixes
  src/openrct2-ui/drawing/engines/opengl/OpenGLShaderProgram.cpp
  src/openrct2-ui/drawing/engines/opengl/TextureCache.cpp
  src/openrct2-ui/interface/Theme.cpp
  src/openrct2-ui/title/TitleSequencePlayer.cpp
  src/openrct2-ui/windows/Cheats.cpp
  src/openrct2-ui/windows/Dropdown.cpp
  src/openrct2-ui/windows/EditorObjectSelection.cpp
  src/openrct2-ui/windows/MapGen.cpp
  src/openrct2-ui/windows/MapTooltip.cpp
  src/openrct2-ui/windows/Options.cpp
  src/openrct2-ui/windows/Ride.cpp
  src/openrct2-ui/windows/RideList.cpp
  src/openrct2-ui/windows/TitleEditor.cpp
Labels: refactor

#11346 Fixing .vscode/c_cpp_properties.json paths for Windows
  .vscode/c_cpp_properties.json
Labels: work in progress

#11358 Switch tile inspector copy paste button placement
  distribution/changelog.txt
  src/openrct2-ui/windows/TileInspector.cpp
Labels: changelog

#11395 Close #11209: Show a warning when the user is running OpenRCT2 in Wine
  data/language/en-GB.txt
  distribution/changelog.txt
  src/openrct2/Context.cpp
  src/openrct2/localisation/StringIds.h
  src/openrct2/platform/Platform.Posix.cpp
  src/openrct2/platform/Platform.Win32.cpp
  src/openrct2/platform/Platform2.h
Labels: changelog

#11260 Fix consistency issues in capitalization and punctuation
  data/language/en-GB.txt
Labels: work in progress

#11010 Fix: Object selector x button behaviour
  distribution/changelog.txt
  src/openrct2-ui/windows/EditorBottomToolbar.cpp
  src/openrct2-ui/windows/EditorObjectSelection.cpp
  src/openrct2/EditorObjectSelectionSession.cpp
  src/openrct2/EditorObjectSelectionSession.h
Labels: work in progress

#11243 Removed redundant comparison
  src/openrct2/ride/Station.cpp
Labels: work in progress

#11440 Use ObjectEntryIndex in more places
  src/openrct2/management/Research.cpp
  src/openrct2/object/Object.h
  src/openrct2/object/ObjectList.cpp
  src/openrct2/rct12/RCT12.h
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/Ride.h
  src/openrct2/world/LargeScenery.cpp
  src/openrct2/world/LargeScenery.h
  src/openrct2/world/SmallScenery.cpp
  src/openrct2/world/SmallScenery.h
  src/openrct2/world/TileElement.h
  test/testpaint/Compat.cpp
Labels: refactor

#11188 Cheat: Allow placing track at any height
  data/language/en-GB.txt
  distribution/changelog.txt
  src/openrct2-ui/windows/Cheats.cpp
  src/openrct2/Cheats.cpp
  src/openrct2/Cheats.h
  src/openrct2/actions/SetCheatAction.hpp
  src/openrct2/actions/TrackPlaceAction.hpp
  src/openrct2/localisation/StringIds.h
  src/openrct2/network/Network.cpp
Labels: changelog

#11290 Avoid fast-forwarding peep to ride as it may not have funds to pay
  CMakeLists.txt
  distribution/changelog.txt
  openrct2.proj
  src/openrct2/network/Network.cpp
  src/openrct2/peep/Guest.cpp
  src/openrct2/ride/Ride.h
  test/tests/CMakeLists.txt
  test/tests/PlayTests.cpp
  test/tests/testdata/parks/small_park_car_ride_one_car.sv6
  test/tests/testdata/parks/small_park_with_ferris_wheel.sv6
  test/tests/tests.vcxproj
Labels: changelog, network version
