Repository OpenRCT2/OpenRCT2, pull requests merged in 2021-09, with the labels that each got.

#15335 Fix ownership of loaded object data
  src/openrct2/object/ObjectManager.cpp
  src/openrct2/object/ObjectManager.h
  src/openrct2/object/ObjectRepository.cpp
  src/openrct2/object/ObjectRepository.h
  src/openrct2/object/SceneryGroupObject.cpp
Labels: testing required

#15327 Some housekeeping
  src/openrct2-ui/windows/MazeConstruction.cpp
  src/openrct2-ui/windows/RideConstruction.cpp
  src/openrct2/actions/MazeSetTrackAction.cpp
  src/openrct2/actions/RideDemolishAction.cpp
  src/openrct2/actions/RideSetColourSchemeAction.cpp
  src/openrct2/actions/TrackPlaceAction.cpp
  src/openrct2/actions/TrackRemoveAction.cpp
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/Ride.h
  src/openrct2/ride/RideConstruction.cpp
  src/openrct2/ride/Track.h
  src/openrct2/ride/TrackDesign.cpp
Labels: testing required

#14651 Fix issues with Image Importer
  distribution/changelog.txt
  src/openrct2/drawing/ImageImporter.cpp
  src/openrct2/drawing/ImageImporter.h
Labels: testing required, changelog

#14391 Close #13407: Allow building covered lift hill chain when cheat on
  distribution/changelog.txt
  src/openrct2-ui/windows/RideConstruction.cpp
  src/openrct2/windows/_legacy.cpp
Labels: testing required, changelog

#15324 Enable parallel builds for debug configuration
  openrct2.common.props
Labels: build, Windows (OS)

#15167 Convert ride_id_t to a strong type
  CMakeLists.txt
  openrct2.proj
  src/openrct2-ui/WindowManager.cpp
  src/openrct2-ui/windows/DemolishRidePrompt.cpp
  src/openrct2-ui/windows/EditorObjectiveOptions.cpp
  src/openrct2-ui/windows/Guest.cpp
  src/openrct2-ui/windows/GuestList.cpp
  src/openrct2-ui/windows/MazeConstruction.cpp
  src/openrct2-ui/windows/NewCampaign.cpp
  src/openrct2-ui/windows/Ride.cpp
  src/openrct2-ui/windows/RideConstruction.cpp
  src/openrct2-ui/windows/RideList.cpp
  src/openrct2-ui/windows/TileInspector.cpp
  src/openrct2-ui/windows/TrackDesignPlace.cpp
  src/openrct2/EditorObjectSelectionSession.cpp
  src/openrct2/actions/ParkMarketingAction.cpp
  src/openrct2/actions/RideDemolishAction.cpp
  src/openrct2/actions/RideEntranceExitPlaceAction.cpp
  src/openrct2/actions/RideEntranceExitRemoveAction.cpp
  src/openrct2/actions/RideSetAppearanceAction.cpp
  src/openrct2/actions/RideSetPriceAction.cpp
  src/openrct2/actions/RideSetSettingAction.cpp
  src/openrct2/actions/RideSetStatusAction.cpp
  src/openrct2/actions/RideSetVehicleAction.cpp
  src/openrct2/actions/TrackPlaceAction.cpp
  src/openrct2/core/DataSerialiserTraits.h
  src/openrct2/interface/InteractiveConsole.cpp
  src/openrct2/interface/Window_internal.h
  src/openrct2/localisation/Formatter.h
  src/openrct2/management/NewsItem.cpp
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/network/NetworkTypes.h
  src/openrct2/peep/Guest.cpp
  src/openrct2/peep/GuestPathfinding.cpp
  src/openrct2/peep/Peep.h
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/rct12/RCT12.cpp
  src/openrct2/rct12/RCT12.h
  src/openrct2/rct2/S6Exporter.cpp
  src/openrct2/rct2/S6Importer.cpp
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/RideConstruction.cpp
  src/openrct2/ride/RideRatings.cpp
  src/openrct2/ride/RideTypes.h
  src/openrct2/ride/TrackDesign.cpp
  src/openrct2/ride/TrackDesign.h
  src/openrct2/ride/Vehicle.cpp
  src/openrct2/scripting/ScriptEngine.cpp
  src/openrct2/scripting/ScriptEngine.h
  src/openrct2/scripting/bindings/entity/ScVehicle.cpp
  src/openrct2/scripting/bindings/entity/ScVehicle.hpp
  src/openrct2/scripting/bindings/ride/ScRide.cpp
  src/openrct2/scripting/bindings/world/ScTileElement.cpp
  src/openrct2/scripting/bindings/world/ScTileElement.hpp
  test/tests/Pathfinding.cpp
Labels: network version, plugin api version

#15383 Make smart follow functions easier to follow
  src/openrct2/interface/Viewport.cpp
  src/openrct2/interface/Viewport.h
  src/openrct2/rct2/S6Exporter.h
Labels: refactor

#15162 Feature #7682: Lock camera to vehicle in main window
  data/language/en-GB.txt
  distribution/changelog.txt
  src/openrct2-ui/windows/Guest.cpp
  src/openrct2-ui/windows/Ride.cpp
  src/openrct2-ui/windows/Staff.cpp
  src/openrct2/interface/Viewport.cpp
  src/openrct2/localisation/StringIds.h
Labels: pending rebase

#15407 Make use of std::optional strict
  OpenRCT2.xcodeproj/project.pbxproj
  src/openrct2-ui/drawing/engines/opengl/TextureCache.cpp
  src/openrct2-ui/input/ShortcutInput.cpp
  src/openrct2-ui/input/ShortcutManager.cpp
  src/openrct2-ui/windows/GameBottomToolbar.cpp
  src/openrct2-ui/windows/LandRights.cpp
  src/openrct2-ui/windows/Map.cpp
  src/openrct2-ui/windows/News.cpp
  src/openrct2-ui/windows/Player.cpp
  src/openrct2-ui/windows/Ride.cpp
  src/openrct2-ui/windows/RideConstruction.cpp
  src/openrct2-ui/windows/TileInspector.cpp
  src/openrct2-ui/windows/TopToolbar.cpp
  src/openrct2-ui/windows/ViewClipping.cpp
  src/openrct2/CmdlineSprite.cpp
  src/openrct2/core/String.cpp
  src/openrct2/core/Zip.cpp
  src/openrct2/drawing/Drawing.Sprite.cpp
  src/openrct2/drawing/Drawing.String.cpp
  src/openrct2/drawing/Drawing.cpp
  src/openrct2/drawing/X8DrawingEngine.cpp
  src/openrct2/interface/Screenshot.cpp
  src/openrct2/interface/Viewport.cpp
  src/openrct2/interface/Window.cpp
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/object/Object.cpp
  src/openrct2/object/ObjectManager.cpp
  src/openrct2/object/SceneryGroupObject.cpp
  src/openrct2/peep/Guest.cpp
  src/openrct2/peep/Peep.cpp
  src/openrct2/peep/Staff.cpp
  src/openrct2/platform/Crash.cpp
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/rct2/S6Exporter.cpp
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/RideConstruction.cpp
  src/openrct2/ride/TrackDesign.cpp
  src/openrct2/ride/TrackDesignSave.cpp
  src/openrct2/ride/Vehicle.cpp
  src/openrct2/world/MoneyEffect.cpp
Labels: macOS (OS)

#15336 Prepare footpath handling for surfaces and railings (from NSF)
  CMakeLists.txt
  openrct2.proj
  src/openrct2-ui/windows/EditorMain.cpp
  src/openrct2-ui/windows/Footpath.cpp
  src/openrct2-ui/windows/Main.cpp
  src/openrct2-ui/windows/Window.h
  src/openrct2/actions/FootpathPlaceAction.cpp
  src/openrct2/actions/FootpathPlaceAction.h
  src/openrct2/actions/FootpathPlaceFromTrackAction.cpp
  src/openrct2/actions/FootpathPlaceFromTrackAction.h
  src/openrct2/actions/PlaceParkEntranceAction.cpp
  src/openrct2/object/FootpathRailingsObject.cpp
  src/openrct2/paint/Paint.h
  src/openrct2/paint/Supports.cpp
  src/openrct2/paint/Supports.h
  src/openrct2/paint/tile_element/Paint.Path.cpp
  src/openrct2/ride/TrackDesign.cpp
  src/openrct2/ride/TrackDesign.h
  src/openrct2/world/Footpath.cpp
  src/openrct2/world/Footpath.h
  src/openrct2/world/Map.cpp
Labels: testing required, network version

#15419 Fix sv6 export not adding all objects
  src/openrct2/rct2/S6Exporter.cpp
Labels: crash, regression

#15457 Add missing headers to VS project file
  src/openrct2/libopenrct2.vcxproj
Labels: build

#15429 Remove scenario ticks and adjust export/import
  CMakeLists.txt
  openrct2.proj
  src/openrct2-ui/windows/Guest.cpp
  src/openrct2-ui/windows/GuestList.cpp
  src/openrct2/Context.cpp
  src/openrct2/GameState.cpp
  src/openrct2/drawing/Weather.cpp
  src/openrct2/localisation/Localisation.Date.cpp
  src/openrct2/management/Research.cpp
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/peep/Guest.cpp
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/rct2/S6Exporter.cpp
  src/openrct2/rct2/S6Importer.cpp
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/TrackPaint.cpp
  src/openrct2/ride/water/RiverRapids.cpp
  src/openrct2/scenario/Scenario.cpp
  src/openrct2/scenario/Scenario.h
  src/openrct2/world/Litter.cpp
  src/openrct2/world/Park.cpp
Labels: testing required, network version, replay update

#15460 Check for nullptr explicitly in operct2-ui
  src/openrct2-ui/input/MouseInput.cpp
  src/openrct2-ui/windows/Changelog.cpp
  src/openrct2-ui/windows/Guest.cpp
  src/openrct2-ui/windows/Options.cpp
  src/openrct2-ui/windows/Ride.cpp
  src/openrct2-ui/windows/RideConstruction.cpp
  src/openrct2-ui/windows/SavePrompt.cpp
  src/openrct2-ui/windows/Staff.cpp
  src/openrct2-ui/windows/TopToolbar.cpp
Labels: refactor

#15385 Fix #15322: Circus Music Not Playing
  src/openrct2/ride/Ride.cpp
Labels: testing required, network version

#15312 Fix #14474: Map size can be synced in multiplayer
  OpenRCT2.xcodeproj/project.pbxproj
  src/openrct2-ui/windows/Map.cpp
  src/openrct2/Game.h
  src/openrct2/actions/ChangeMapSizeAction.cpp
  src/openrct2/actions/ChangeMapSizeAction.h
  src/openrct2/actions/GameActionRegistration.cpp
  src/openrct2/libopenrct2.vcxproj
  src/openrct2/network/NetworkAction.cpp
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/world/Map.cpp
Labels: network version

#15482 Fix of sv6 export
  distribution/changelog.txt
  src/openrct2/rct2/S6Exporter.cpp
  src/openrct2/rct2/S6Exporter.h
Labels: testing required, changelog

#15470 Fix #15213: Freeze when reading a partially cut unicode character
  distribution/changelog.txt
  src/openrct2/drawing/Text.cpp
  src/openrct2/drawing/Text.h
Labels: testing required

#15436 Small Staff Refactor from NSF
  src/openrct2-ui/windows/Staff.cpp
  src/openrct2-ui/windows/StaffList.cpp
  src/openrct2/actions/StaffFireAction.cpp
  src/openrct2/actions/StaffHireNewAction.cpp
  src/openrct2/actions/StaffSetPatrolAreaAction.cpp
  src/openrct2/peep/Peep.cpp
  src/openrct2/peep/Peep.h
  src/openrct2/peep/Staff.cpp
  src/openrct2/peep/Staff.h
  src/openrct2/rct1/S4Importer.cpp
Labels: testing required

#15477 Update entities xyz to int32_t
  CMakeLists.txt
  openrct2.proj
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/rct2/S6Exporter.cpp
  src/openrct2/world/EntityBase.h
Labels: network version, replay update
