Repository OpenRCT2/OpenRCT2, pull requests merged in 2021-07, with the labels that each got.

#14832 Adding check to match RCTC save games with RCT2 scenarios
  contributors.md
  distribution/changelog.txt
  src/openrct2/scenario/ScenarioRepository.cpp
Labels: testing required

#15043 Fix #15028, #15042. Crash when placing large scenery
  distribution/changelog.txt
  src/openrct2-ui/windows/TopToolbar.cpp
  src/openrct2/actions/LargeSceneryPlaceAction.cpp
  src/openrct2/actions/LargeSceneryPlaceAction.h
Labels: changelog

#14788 Banner Refactor from NSF
  src/openrct2-ui/interface/ViewportInteraction.cpp
  src/openrct2-ui/windows/Banner.cpp
  src/openrct2-ui/windows/Sign.cpp
  src/openrct2-ui/windows/TileInspector.cpp
  src/openrct2-ui/windows/TopToolbar.cpp
  src/openrct2/Editor.cpp
  src/openrct2/actions/BannerPlaceAction.cpp
  src/openrct2/actions/BannerPlaceAction.h
  src/openrct2/actions/BannerRemoveAction.cpp
  src/openrct2/actions/BannerSetColourAction.cpp
  src/openrct2/actions/BannerSetNameAction.cpp
  src/openrct2/actions/BannerSetStyleAction.cpp
  src/openrct2/actions/LargeSceneryPlaceAction.cpp
  src/openrct2/actions/LargeSceneryPlaceAction.h
  src/openrct2/actions/RideDemolishAction.cpp
  src/openrct2/actions/SignSetNameAction.cpp
  src/openrct2/actions/SignSetStyleAction.cpp
  src/openrct2/actions/WallPlaceAction.cpp
  src/openrct2/actions/WallPlaceAction.h
  src/openrct2/interface/InteractiveConsole.cpp
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/paint/tile_element/Paint.Wall.cpp
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/rct2/S6Exporter.cpp
  src/openrct2/rct2/S6Importer.cpp
  src/openrct2/world/Banner.cpp
  src/openrct2/world/Banner.h
  src/openrct2/world/TileElement.cpp
  src/openrct2/world/TileInspector.cpp
Labels: network version

#15101 Dump crash dumps into a different directory and include version in reports
  src/openrct2/Context.cpp
  src/openrct2/PlatformEnvironment.cpp
  src/openrct2/PlatformEnvironment.h
  src/openrct2/platform/Crash.cpp
Labels: changelog

#15123 Fix #14316: Closing the Track Designs Manager window causes broken state
  contributors.md
  distribution/changelog.txt
  src/openrct2-ui/windows/EditorObjectSelection.cpp
Labels: changelog, squash merge

#15084 Add hook for vehicle crashes to plugin api
  contributors.md
  distribution/changelog.txt
  distribution/openrct2.d.ts
  src/openrct2/ride/Vehicle.cpp
  src/openrct2/scripting/HookEngine.cpp
  src/openrct2/scripting/HookEngine.h
  src/openrct2/scripting/ScriptEngine.h
Labels: changelog, plugin api version
