Repository OpenRCT2/OpenRCT2, pull requests merged in 2021-12, with the labels that each got.

#16080 Fix #16007: Scenario Editor "Entry Price" appears to the right of the value field
  distribution/changelog.txt
  src/openrct2-ui/windows/EditorScenarioOptions.cpp
Labels: changelog

#16098 Refactor ImageId and use in more functions
  src/openrct2-ui/drawing/engines/opengl/OpenGLDrawingEngine.cpp
  src/openrct2-ui/drawing/engines/opengl/TextureCache.cpp
  src/openrct2-ui/drawing/engines/opengl/TextureCache.h
  src/openrct2-ui/windows/EditorObjectSelection.cpp
  src/openrct2-ui/windows/NewRide.cpp
  src/openrct2/drawing/Drawing.Sprite.cpp
  src/openrct2/drawing/Drawing.h
  src/openrct2/drawing/IDrawingContext.h
  src/openrct2/drawing/ImageId.hpp
  src/openrct2/drawing/NewDrawing.cpp
  src/openrct2/drawing/X8DrawingEngine.cpp
  src/openrct2/drawing/X8DrawingEngine.h
  src/openrct2/interface/Colour.h
  src/openrct2/object/RideObject.cpp
  src/openrct2/object/RideObject.h
  src/openrct2/paint/Paint.cpp
  src/openrct2/paint/Paint.h
  src/openrct2/paint/Supports.cpp
Labels: testing required

#16077 Only add RCT1 land objects to imported SV6 if they are used
  src/openrct2/libopenrct2.vcxproj
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/rct12/EntryList.h
  src/openrct2/rct12/RCT12.cpp
  src/openrct2/rct12/RCT12.h
  src/openrct2/rct2/RCT2.cpp
  src/openrct2/rct2/RCT2.h
  src/openrct2/rct2/S6Importer.cpp
Labels: changelog, squash merge

#16116 Make track designs NSF map size safe
  src/openrct2/core/DataSerialiserTraits.h
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/rct2/T6Exporter.cpp
  src/openrct2/rct2/T6Importer.cpp
  src/openrct2/ride/TrackDesign.cpp
  src/openrct2/ride/TrackDesign.h
  src/openrct2/ride/TrackDesignSave.cpp
Labels: testing required, network version

#16148 Replace many GetType() calls with GetTypeN()
  src/openrct2-ui/interface/ViewportInteraction.cpp
  src/openrct2-ui/windows/Footpath.cpp
  src/openrct2-ui/windows/Map.cpp
  src/openrct2-ui/windows/Ride.cpp
  src/openrct2-ui/windows/TileInspector.cpp
  src/openrct2/ParkFile.cpp
  src/openrct2/actions/ClearAction.cpp
  src/openrct2/actions/FootpathRemoveAction.cpp
  src/openrct2/actions/LandSetHeightAction.cpp
  src/openrct2/actions/SetCheatAction.cpp
  src/openrct2/actions/SignSetStyleAction.cpp
  src/openrct2/actions/TrackRemoveAction.cpp
  src/openrct2/entity/Fountain.cpp
  src/openrct2/entity/Guest.cpp
  src/openrct2/entity/Litter.cpp
  src/openrct2/entity/Peep.cpp
  src/openrct2/entity/Staff.cpp
  src/openrct2/interface/InteractiveConsole.cpp
  src/openrct2/paint/VirtualFloor.cpp
  src/openrct2/paint/tile_element/Paint.TileElement.cpp
  src/openrct2/peep/GuestPathfinding.cpp
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/RideConstruction.cpp
  src/openrct2/ride/RideRatings.cpp
  src/openrct2/ride/Station.cpp
  src/openrct2/ride/Track.cpp
  src/openrct2/ride/TrackDesign.cpp
  src/openrct2/ride/Vehicle.cpp
  src/openrct2/ride/transport/Chairlift.cpp
  src/openrct2/scenario/Scenario.cpp
  src/openrct2/scripting/bindings/world/ScTileElement.cpp
  src/openrct2/world/Banner.cpp
  src/openrct2/world/ConstructionClearance.cpp
  src/openrct2/world/Entrance.cpp
  src/openrct2/world/Footpath.cpp
  src/openrct2/world/Map.cpp
  src/openrct2/world/MapAnimation.cpp
  src/openrct2/world/Park.cpp
  src/openrct2/world/Scenery.cpp
  src/openrct2/world/Surface.cpp
  src/openrct2/world/TileElement.cpp
  src/openrct2/world/TileInspector.cpp
  src/openrct2/world/Wall.cpp
Labels: squash merge

#16147 Make Parkfile Pathfinding Deterministic
  CMakeLists.txt
  openrct2.proj
  src/openrct2/entity/Peep.h
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/peep/GuestPathfinding.cpp
Labels: network version

#16150 Refactor footpath, scenery, terrain and mapgen windows to use ImageId
  src/openrct2-ui/drawing/engines/opengl/OpenGLDrawingEngine.cpp
  src/openrct2-ui/interface/Dropdown.h
  src/openrct2-ui/interface/LandTool.cpp
  src/openrct2-ui/windows/Dropdown.cpp
  src/openrct2-ui/windows/Footpath.cpp
  src/openrct2-ui/windows/Guest.cpp
  src/openrct2-ui/windows/Land.cpp
  src/openrct2-ui/windows/MapGen.cpp
  src/openrct2-ui/windows/Ride.cpp
  src/openrct2-ui/windows/Scenery.cpp
  src/openrct2-ui/windows/Staff.cpp
  src/openrct2/drawing/Drawing.cpp
  src/openrct2/drawing/Drawing.h
  src/openrct2/drawing/IDrawingContext.h
  src/openrct2/drawing/NewDrawing.cpp
  src/openrct2/drawing/X8DrawingEngine.cpp
  src/openrct2/drawing/X8DrawingEngine.h
  src/openrct2/entity/Peep.cpp
  src/openrct2/interface/Viewport.cpp
Labels: testing required

#16199 Fix #16197. Park award time and type accidentally swapped
  src/openrct2-ui/windows/Park.cpp
  src/openrct2/management/Award.cpp
  src/openrct2/management/Award.h
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/rct2/S6Importer.cpp
Labels: network version

#16222 Fix #16206: Wooden supports for scenery are not drawn
  src/openrct2/paint/Supports.cpp
  src/openrct2/paint/Supports.h
  src/openrct2/paint/tile_element/Paint.Entrance.cpp
  src/openrct2/paint/tile_element/Paint.LargeScenery.cpp
  src/openrct2/paint/tile_element/Paint.SmallScenery.cpp
Labels: testing required

#16328 Fix #16327: Crash supplying a bad signature size in the auth packet
  distribution/changelog.txt
  src/openrct2/network/NetworkBase.cpp
Labels: changelog
