Repository OpenRCT2/OpenRCT2, pull requests merged in 2021-03, with the labels that each got.

#14268 Change MacOS Icon for Big Sur
  OpenRCT2.xcodeproj/project.pbxproj
  distribution/changelog.txt
  distribution/macos/Assets.xcassets/AppIcon.appiconset/Contents.json
  distribution/macos/Info.plist
  resources/mac/openrct2.icns
  resources/mac/openrct2.svg
Labels: testing required

#14071 Add a stat for security guards: Vandals stopped
  data/language/en-GB.txt
  distribution/changelog.txt
  src/openrct2-ui/windows/Staff.cpp
  src/openrct2/localisation/StringIds.h
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/peep/Guest.cpp
  src/openrct2/peep/Peep.h
  src/openrct2/peep/Staff.cpp
Labels: changelog, network version

#13956 Implement train view and remove linked_list_index
  CMakeLists.txt
  OpenRCT2.xcodeproj/project.pbxproj
  openrct2.proj
  src/openrct2-ui/windows/Map.cpp
  src/openrct2/GameStateSnapshots.cpp
  src/openrct2/actions/StaffHireNewAction.cpp
  src/openrct2/libopenrct2.vcxproj
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/peep/Peep.cpp
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/rct2/S6Importer.cpp
  src/openrct2/ride/CableLift.cpp
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/TrainManager.cpp
  src/openrct2/ride/TrainManager.h
  src/openrct2/ride/Vehicle.cpp
  src/openrct2/scripting/ScMap.hpp
  src/openrct2/world/Balloon.cpp
  src/openrct2/world/Duck.cpp
  src/openrct2/world/Fountain.cpp
  src/openrct2/world/MoneyEffect.cpp
  src/openrct2/world/Particle.cpp
  src/openrct2/world/Sprite.cpp
  src/openrct2/world/Sprite.h
  src/openrct2/world/SpriteBase.h
  test/tests/S6ImportExportTests.cpp
Labels: network version

#14334 Entity type 2: Remove sprite_identifier
  CMakeLists.txt
  openrct2.proj
  src/openrct2-ui/interface/ViewportInteraction.cpp
  src/openrct2/Game.cpp
  src/openrct2/GameStateSnapshots.cpp
  src/openrct2/GameStateSnapshots.h
  src/openrct2/actions/PeepPickupAction.cpp
  src/openrct2/interface/InteractiveConsole.cpp
  src/openrct2/interface/Viewport.cpp
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/paint/sprite/Paint.Sprite.cpp
  src/openrct2/peep/Guest.cpp
  src/openrct2/peep/Peep.cpp
  src/openrct2/peep/Staff.cpp
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/rct2/S6Exporter.cpp
  src/openrct2/rct2/S6Importer.cpp
  src/openrct2/ride/Vehicle.cpp
  src/openrct2/scripting/ScEntity.hpp
  src/openrct2/scripting/ScMap.hpp
  src/openrct2/scripting/ScriptEngine.cpp
  src/openrct2/world/Balloon.cpp
  src/openrct2/world/Duck.cpp
  src/openrct2/world/Fountain.cpp
  src/openrct2/world/MoneyEffect.cpp
  src/openrct2/world/Particle.cpp
  src/openrct2/world/Sprite.cpp
  src/openrct2/world/SpriteBase.h
  test/testpaint/Compat.cpp
  test/tests/S6ImportExportTests.cpp
Labels: network version, plugin api version

#14344 Entity type4: Remove MiscEntityType and add FountainType
  CMakeLists.txt
  openrct2.proj
  src/openrct2/GameStateSnapshots.cpp
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/paint/sprite/Paint.Misc.cpp
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/rct12/RCT12.h
  src/openrct2/rct2/S6Exporter.cpp
  src/openrct2/rct2/S6Importer.cpp
  src/openrct2/ride/Vehicle.cpp
  src/openrct2/world/Balloon.cpp
  src/openrct2/world/Duck.cpp
  src/openrct2/world/Fountain.cpp
  src/openrct2/world/Fountain.h
  src/openrct2/world/MoneyEffect.cpp
  src/openrct2/world/Particle.cpp
  src/openrct2/world/Scenery.cpp
  src/openrct2/world/Sprite.cpp
  src/openrct2/world/Sprite.h
  src/openrct2/world/SpriteBase.h
  test/tests/S6ImportExportTests.cpp
Labels: network version, testing required

#14380 Entity type5: Remove peep assigned type
  CMakeLists.txt
  openrct2.proj
  src/openrct2-ui/windows/GameBottomToolbar.cpp
  src/openrct2-ui/windows/Guest.cpp
  src/openrct2-ui/windows/GuestList.cpp
  src/openrct2-ui/windows/News.cpp
  src/openrct2-ui/windows/Staff.cpp
  src/openrct2/GameStateSnapshots.cpp
  src/openrct2/actions/StaffHireNewAction.cpp
  src/openrct2/interface/Viewport.cpp
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/paint/sprite/Paint.Peep.cpp
  src/openrct2/paint/sprite/Paint.Sprite.cpp
  src/openrct2/peep/GuestPathfinding.cpp
  src/openrct2/peep/Peep.cpp
  src/openrct2/peep/Peep.h
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/rct12/RCT12.h
  src/openrct2/rct2/S6Exporter.cpp
  src/openrct2/rct2/S6Importer.cpp
  src/openrct2/scripting/ScEntity.hpp
  test/tests/S6ImportExportTests.cpp
Labels: network version

#14383 Compute checksum by entity type
  CMakeLists.txt
  openrct2.proj
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/world/Sprite.cpp
Labels: network version

#14398 Reorganise EntityImport for S4 to follow S6/park style
  src/openrct2/rct1/S4Importer.cpp
Labels: testing required
