Repository OpenRCT2/OpenRCT2, pull requests merged in 2021-11, with the labels that each got.

#15868 Use CoordsXYZ in lightlist_entry
  src/openrct2/drawing/LightFX.cpp
Labels: refactor

#12869 Refactor Tile Inspector widget definitions
  distribution/changelog.txt
  src/openrct2-ui/windows/TileInspector.cpp
  src/openrct2/interface/Widget.h
  src/openrct2/world/Location.hpp
Labels: testing required

#15816 Close #15630: Refactor TrackDesign
  src/openrct2-ui/windows/InstallTrack.cpp
  src/openrct2-ui/windows/Ride.cpp
  src/openrct2-ui/windows/TrackDesignPlace.cpp
  src/openrct2-ui/windows/TrackList.cpp
  src/openrct2/actions/TrackDesignAction.cpp
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/TrackDesign.cpp
  src/openrct2/ride/TrackDesign.h
  src/openrct2/ride/TrackDesignRepository.cpp
Labels: testing required, changelog

#15873 Fix #15844: Tile Inspector inconsistent text colour
  contributors.md
  data/language/en-GB.txt
  distribution/changelog.txt
  src/openrct2-ui/windows/TileInspector.cpp
Labels: changelog, squash merge

#15918 Fix #15908: Out of bounds access for track elements with no ride index
  distribution/changelog.txt
  src/openrct2/peep/Guest.cpp
  src/openrct2/rct2/S6Importer.cpp
Labels: changelog

#15913 Close #12825: Show object rotation in Tile Inspector
  data/language/en-GB.txt
  src/openrct2-ui/windows/TileInspector.cpp
  src/openrct2/localisation/StringIds.h
Labels: changelog, squash merge

#15922 Fix #15138: Sometimes small scenery stays when building through it
  distribution/changelog.txt
  src/openrct2/world/ConstructionClearance.cpp
Labels: changelog

#15920 Fix #15919. Ignore research status for scenery when in scenario editor
  distribution/changelog.txt
  src/openrct2/management/Research.cpp
  src/openrct2/world/Scenery.cpp
Labels: changelog

#15938 Fix: Track designs of some ride types incorrectly exported to TD6
  distribution/changelog.txt
  src/openrct2/rct2/T6Exporter.cpp
Labels: squash merge
