Repository OpenRCT2/OpenRCT2, pull requests merged in 2022-02, with the labels that each got.

#16625 Fix Recent Messages only shows at most 6 or 7 notifications once opened
  contributors.md
  distribution/changelog.txt
  src/openrct2-ui/windows/News.cpp
Labels: changelog

#16636 Bring ImageImporter enum names in line with code style
  src/openrct2/CmdlineSprite.cpp
  src/openrct2/CmdlineSprite.h
  src/openrct2/cmdline/SpriteCommands.cpp
  src/openrct2/drawing/ImageImporter.cpp
  src/openrct2/drawing/ImageImporter.h
  src/openrct2/object/ImageTable.cpp
  test/tests/ImageImporterTests.cpp
Labels: refactor

#16637 Rename value strings for spinners
  src/openrct2-ui/windows/EditorObjectiveOptions.cpp
  src/openrct2-ui/windows/MapGen.cpp
  src/openrct2-ui/windows/Options.cpp
  src/openrct2/localisation/StringIds.h
Labels: refactor

#16641 Remove custom window widget limit
  src/openrct2-ui/input/MouseInput.cpp
  src/openrct2-ui/interface/Widget.cpp
  src/openrct2-ui/interface/Window.cpp
  src/openrct2-ui/interface/Window.h
  src/openrct2-ui/scripting/CustomWindow.cpp
  src/openrct2-ui/windows/EditorObjectSelection.cpp
  src/openrct2-ui/windows/EditorObjectiveOptions.cpp
  src/openrct2-ui/windows/Finances.cpp
  src/openrct2-ui/windows/Footpath.cpp
  src/openrct2-ui/windows/Guest.cpp
  src/openrct2-ui/windows/MapGen.cpp
  src/openrct2-ui/windows/NewRide.cpp
  src/openrct2-ui/windows/NewsOptions.cpp
  src/openrct2-ui/windows/Options.cpp
  src/openrct2-ui/windows/Park.cpp
  src/openrct2-ui/windows/Research.cpp
  src/openrct2-ui/windows/Ride.cpp
  src/openrct2-ui/windows/Staff.cpp
  src/openrct2/interface/Widget.h
  src/openrct2/interface/Window.cpp
  src/openrct2/interface/Window.h
Labels: testing required

#16642 Create Dropdown::Item and use it for gDropdownItems
  src/openrct2-ui/input/MouseInput.cpp
  src/openrct2-ui/interface/Dropdown.h
  src/openrct2-ui/interface/LandTool.cpp
  src/openrct2-ui/scripting/CustomWindow.cpp
  src/openrct2-ui/windows/Banner.cpp
  src/openrct2-ui/windows/Cheats.cpp
  src/openrct2-ui/windows/CustomCurrency.cpp
  src/openrct2-ui/windows/Dropdown.cpp
  src/openrct2-ui/windows/EditorObjectSelection.cpp
  src/openrct2-ui/windows/EditorObjectiveOptions.cpp
  src/openrct2-ui/windows/EditorScenarioOptions.cpp
  src/openrct2-ui/windows/Finances.cpp
  src/openrct2-ui/windows/Footpath.cpp
  src/openrct2-ui/windows/Guest.cpp
  src/openrct2-ui/windows/GuestList.cpp
  src/openrct2-ui/windows/Multiplayer.cpp
  src/openrct2-ui/windows/NewCampaign.cpp
  src/openrct2-ui/windows/Options.cpp
  src/openrct2-ui/windows/Park.cpp
  src/openrct2-ui/windows/Player.cpp
  src/openrct2-ui/windows/Research.cpp
  src/openrct2-ui/windows/Ride.cpp
  src/openrct2-ui/windows/RideConstruction.cpp
  src/openrct2-ui/windows/RideList.cpp
  src/openrct2-ui/windows/ServerList.cpp
  src/openrct2-ui/windows/Staff.cpp
  src/openrct2-ui/windows/Themes.cpp
  src/openrct2-ui/windows/TileInspector.cpp
  src/openrct2-ui/windows/TitleCommandEditor.cpp
  src/openrct2-ui/windows/TitleEditor.cpp
  src/openrct2-ui/windows/TitleMenu.cpp
  src/openrct2-ui/windows/TopToolbar.cpp
Labels: refactor

#16259 Refactor map size to allow for rectangle maps
  data/language/en-GB.txt
  distribution/openrct2.d.ts
  src/openrct2-ui/input/MouseInput.cpp
  src/openrct2-ui/windows/Map.cpp
  src/openrct2-ui/windows/RideConstruction.cpp
  src/openrct2/Context.cpp
  src/openrct2/Editor.cpp
  src/openrct2/Game.cpp
  src/openrct2/GameState.cpp
  src/openrct2/GameState.h
  src/openrct2/actions/ChangeMapSizeAction.cpp
  src/openrct2/actions/ChangeMapSizeAction.h
  src/openrct2/actions/ClearAction.cpp
  src/openrct2/actions/FootpathPlaceAction.cpp
  src/openrct2/actions/LandBuyRightsAction.cpp
  src/openrct2/actions/LandLowerAction.cpp
  src/openrct2/actions/LandRaiseAction.cpp
  src/openrct2/actions/LandSetHeightAction.cpp
  src/openrct2/actions/LandSetRightsAction.cpp
  src/openrct2/actions/LargeScenerySetColourAction.cpp
  src/openrct2/actions/PlaceParkEntranceAction.cpp
  src/openrct2/actions/PlacePeepSpawnAction.cpp
  src/openrct2/actions/RideDemolishAction.cpp
  src/openrct2/actions/SetCheatAction.cpp
  src/openrct2/actions/SmallSceneryPlaceAction.cpp
  src/openrct2/actions/SurfaceSetStyleAction.cpp
  src/openrct2/actions/WallPlaceAction.cpp
  src/openrct2/actions/WaterLowerAction.cpp
  src/openrct2/actions/WaterRaiseAction.cpp
  src/openrct2/actions/WaterSetHeightAction.cpp
  src/openrct2/cmdline/BenchSpriteSort.cpp
  src/openrct2/core/DataSerialiserTraits.h
  src/openrct2/interface/Screenshot.cpp
  src/openrct2/interface/Viewport.cpp
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/network/NetworkServerAdvertiser.cpp
  src/openrct2/park/ParkFile.cpp
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/rct2/S6Importer.cpp
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/RideConstruction.cpp
  src/openrct2/ride/TrackDesign.cpp
  src/openrct2/scripting/Duktape.hpp
  src/openrct2/scripting/ScriptEngine.cpp
  src/openrct2/scripting/ScriptEngine.h
  src/openrct2/scripting/bindings/world/ScMap.cpp
  src/openrct2/title/TitleScreen.cpp
  src/openrct2/world/Map.cpp
  src/openrct2/world/Map.h
  src/openrct2/world/MapGen.cpp
Labels: network version

#16477 Fix #11752: Track pieces with fractional cost are too cheap to build
  distribution/changelog.txt
  src/openrct2/actions/MazePlaceTrackAction.cpp
  src/openrct2/actions/TrackPlaceAction.cpp
  src/openrct2/network/NetworkBase.cpp
Labels: testing required

#16713 Fix #16712: [Plugin] Crash when clicking on a list view item
  src/openrct2-ui/scripting/CustomWindow.cpp
Labels: plug-in

#16359 Refactor out DidPassSurface
  src/openrct2/paint/Paint.h
  src/openrct2/paint/Painter.cpp
  src/openrct2/paint/Supports.cpp
  src/openrct2/paint/tile_element/Paint.Path.cpp
  src/openrct2/paint/tile_element/Paint.Surface.cpp
  src/openrct2/paint/tile_element/Paint.TileElement.cpp
  src/openrct2/paint/tile_element/Paint.TileElement.h
  src/openrct2/ride/TrackPaint.cpp
  src/openrct2/ride/gentle/MiniGolf.cpp
Labels: testing required
