Repository OpenRCT2/OpenRCT2, pull requests merged in 2022-11, with the labels that each got.

#18245 Fix guests stopping dead in tracks at crossings
  distribution/changelog.txt
  src/openrct2/entity/Guest.cpp
  src/openrct2/entity/Guest.h
  src/openrct2/network/NetworkBase.cpp
Labels: testing required

#18232 G2: Get rid of all possible instances of `SPR_G2_CHAR_BEGIN +`
  src/openrct2/ride/coaster/JuniorRollerCoaster.cpp
  src/openrct2/sprites.h
Labels: hacktoberfest-accepted

#18500 Guests will use Vanilla behaviour when choosing whether to head for a ride when leaving the park #15969
  CMakeLists.txt
  contributors.md
  distribution/changelog.txt
  openrct2.proj
  src/openrct2/entity/Guest.cpp
  src/openrct2/network/NetworkBase.cpp
Labels: network version

#14425 Update rating skipping unused ride ids
  distribution/changelog.txt
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/Ride.h
  src/openrct2/ride/RideRatings.cpp
Labels: testing required, network version

#17998 Show cursor when using inverted mouse dragging
  distribution/changelog.txt
  src/openrct2-ui/input/MouseInput.cpp
Labels: user interface

#18358 Fix #11679: Facilities clipping issues
  distribution/changelog.txt
  src/openrct2/ride/shops/Facility.cpp
Labels: testing required

#18445 Update readme.md
  readme.md
Labels: Linux (OS)

#18332 Allow Invert RC to draw booster
  distribution/changelog.txt
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/ride/coaster/InvertedRollerCoaster.cpp
  src/openrct2/ride/coaster/meta/InvertedRollerCoaster.h
Labels: network version, hacktoberfest-accepted

#18350 Changed ride vehicle list to have less padding
  distribution/changelog.txt
  src/openrct2-ui/interface/Dropdown.h
  src/openrct2-ui/windows/Dropdown.cpp
  src/openrct2-ui/windows/Ride.cpp
Labels: squash merge

#18472 Fix #1519 'See-through rides' doesn't affect all rides
  distribution/changelog.txt
  src/openrct2/interface/Viewport.cpp
Labels: squash merge

#18514 Add colour preset to Spiral Slide
  distribution/changelog.txt
  src/openrct2/ride/gentle/meta/SpiralSlide.h
Labels: squash merge

#18312 Add RMC sounds, audio objects and asset packs
  CMakeLists.txt
  distribution/changelog.txt
  openrct2.proj
  shell.nix
  src/openrct2-ui/CMakeLists.txt
  src/openrct2/AssetPackManager.cpp
  src/openrct2/AssetPackManager.h
  src/openrct2/audio/Audio.cpp
  src/openrct2/audio/audio.h
  src/openrct2/ride/Vehicle.cpp
  src/openrct2/ride/Vehicle.h
  src/openrct2/ride/coaster/meta/HybridCoaster.h
  src/openrct2/ride/coaster/meta/SingleRailRollerCoaster.h
Labels: changelog

#18555 Pass ImageId by value instead by const-ref
  src/openrct2-ui/drawing/engines/opengl/OpenGLDrawingEngine.cpp
  src/openrct2-ui/drawing/engines/opengl/TextureCache.cpp
  src/openrct2-ui/drawing/engines/opengl/TextureCache.h
  src/openrct2/drawing/Drawing.Sprite.cpp
  src/openrct2/drawing/Drawing.h
  src/openrct2/drawing/IDrawingContext.h
  src/openrct2/drawing/ImageId.hpp
  src/openrct2/drawing/NewDrawing.cpp
  src/openrct2/drawing/X8DrawingEngine.cpp
  src/openrct2/drawing/X8DrawingEngine.h
  src/openrct2/paint/Paint.cpp
  src/openrct2/paint/Paint.h
  src/openrct2/paint/PaintHelpers.cpp
  src/openrct2/ride/TrackPaint.cpp
  src/openrct2/ride/TrackPaint.h
Labels: performance

#18589 Reduce usage of gCommonStringFormatBuffer
  src/openrct2-ui/windows/ScenarioSelect.cpp
  src/openrct2-ui/windows/Tooltip.cpp
  src/openrct2/drawing/Drawing.String.cpp
  src/openrct2/interface/Chat.cpp
  src/openrct2/localisation/Localisation.cpp
  src/openrct2/localisation/Localisation.h
Labels: squash merge

#18303 Fix #18244: Invention DragWindow's starting position is inconsistent
  distribution/changelog.txt
  src/openrct2-ui/windows/EditorInventionsList.cpp
Labels: hacktoberfest-accepted

#17677 Open campaign window from finished campaign news
  distribution/changelog.txt
  distribution/openrct2.d.ts
  src/openrct2-ui/WindowManager.cpp
  src/openrct2-ui/windows/Finances.cpp
  src/openrct2-ui/windows/GameBottomToolbar.cpp
  src/openrct2-ui/windows/News.cpp
  src/openrct2-ui/windows/Window.h
  src/openrct2/interface/InteractiveConsole.cpp
  src/openrct2/interface/Window.h
  src/openrct2/management/Marketing.cpp
  src/openrct2/management/NewsItem.cpp
  src/openrct2/management/NewsItem.h
  src/openrct2/scripting/bindings/world/ScParkMessage.hpp
Labels: squash merge

#18607 Add tab for UCES scenarios
  data/language/en-GB.txt
  distribution/changelog.txt
  src/openrct2-ui/scripting/ScUi.hpp
  src/openrct2-ui/windows/ScenarioSelect.cpp
  src/openrct2/localisation/StringIds.h
  src/openrct2/scenario/Scenario.cpp
  src/openrct2/scenario/Scenario.h
  src/openrct2/scenario/ScenarioRepository.cpp
  src/openrct2/scenario/ScenarioRepository.h
  src/openrct2/scenario/ScenarioSources.cpp
Labels: squash merge

#16875 Object version part 1
  src/openrct2/object/Object.h
  src/openrct2/object/ObjectFactory.cpp
  src/openrct2/object/ObjectRepository.cpp
  src/openrct2/object/ObjectRepository.h
  src/openrct2/park/ParkFile.cpp
Labels: pending rebase
