Repository OpenRCT2/OpenRCT2, pull requests merged in 2022-08, with the labels that each got.

#17680 Make rct_window non-copyable and non-assignable
  src/openrct2/interface/Window_internal.h
Labels: refactor, discussion

#17705 Fix #17600: Notifications aren't cleared on park load
  distribution/changelog.txt
  src/openrct2/park/ParkFile.cpp
Labels: changelog

#17687 Add AccelerationFactor field to RTD
  src/openrct2/ride/RideData.h
  src/openrct2/ride/Vehicle.cpp
  src/openrct2/ride/coaster/meta/AirPoweredVerticalCoaster.h
  src/openrct2/ride/thrill/meta/Twist.h
Labels: squash merge

#17649 Unwrap game action compat wrappers
  src/openrct2-ui/interface/ViewportInteraction.cpp
  src/openrct2-ui/libopenrct2ui.vcxproj
  src/openrct2-ui/ride/Construction.cpp
  src/openrct2-ui/ride/Construction.h
  src/openrct2-ui/windows/DemolishRidePrompt.cpp
  src/openrct2-ui/windows/Footpath.cpp
  src/openrct2-ui/windows/Guest.cpp
  src/openrct2-ui/windows/Map.cpp
  src/openrct2-ui/windows/MazeConstruction.cpp
  src/openrct2-ui/windows/NewRide.cpp
  src/openrct2-ui/windows/Park.cpp
  src/openrct2-ui/windows/RefurbishRidePrompt.cpp
  src/openrct2-ui/windows/Ride.cpp
  src/openrct2-ui/windows/RideConstruction.cpp
  src/openrct2-ui/windows/RideList.cpp
  src/openrct2-ui/windows/TrackList.cpp
  src/openrct2/actions/GameActionCompat.cpp
  src/openrct2/entity/Guest.h
  src/openrct2/libopenrct2.vcxproj
  src/openrct2/ride/Ride.h
  src/openrct2/ride/RideConstruction.cpp
  src/openrct2/ride/TrackDesign.cpp
  src/openrct2/world/Entrance.h
  src/openrct2/world/Footpath.cpp
  src/openrct2/world/Footpath.h
  src/openrct2/world/Park.h
  test/tests/PlayTests.cpp
Labels: refactor

#17776 Fix .park scenarios messing up Other Parks tab
  distribution/changelog.txt
  src/openrct2/scenario/ScenarioRepository.h
Labels: changelog

#16051 Rework rct_vehicle_colour
  CMakeLists.txt
  openrct2.proj
  src/openrct2/GameStateSnapshots.cpp
  src/openrct2/actions/TrackDesignAction.cpp
  src/openrct2/core/DataSerialiserTraits.h
  src/openrct2/entity/Particle.cpp
  src/openrct2/entity/Particle.h
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/park/ParkFile.cpp
  src/openrct2/rct1/RCT1.h
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/rct1/T4Importer.cpp
  src/openrct2/rct12/RCT12.h
  src/openrct2/rct2/RCT2.h
  src/openrct2/rct2/S6Importer.cpp
  src/openrct2/rct2/T6Exporter.cpp
  src/openrct2/rct2/T6Importer.cpp
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/TrackDesign.cpp
  src/openrct2/ride/TrackDesign.h
  src/openrct2/ride/Vehicle.cpp
  src/openrct2/ride/Vehicle.h
  src/openrct2/ride/VehicleColour.h
  src/openrct2/ride/VehiclePaint.cpp
  src/openrct2/ride/coaster/VirginiaReel.cpp
  src/openrct2/ride/gentle/ObservationTower.cpp
  src/openrct2/ride/thrill/LaunchedFreefall.cpp
  src/openrct2/ride/thrill/RotoDrop.cpp
  src/openrct2/ride/water/RiverRapids.cpp
  src/openrct2/ride/water/SubmarineRide.cpp
  src/openrct2/scripting/bindings/entity/ScVehicle.cpp
Labels: network version, replay update

#17851 Fixed bug #17844
  contributors.md
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/ride/RideRatings.cpp
Labels: network version

#17743 Fix #14337: Guest blocking ride entrance after ride price changed to be unaffordable
  distribution/changelog.txt
  src/openrct2/entity/Guest.cpp
  src/openrct2/network/NetworkBase.cpp
Labels: network version

#17907 Print x and y offsets when extracting sprite from command line
  src/openrct2/CmdlineSprite.cpp
Labels: feature

#17788 Fix guests leaving queue if other guest rejoins it from entrance building
  distribution/changelog.txt
  src/openrct2/entity/Guest.cpp
  src/openrct2/network/NetworkBase.cpp
Labels: pending rebase, network version

#17216 Add UpdateRotating field to RTD
  src/openrct2/ride/RideData.h
  src/openrct2/ride/Vehicle.cpp
  src/openrct2/ride/Vehicle.h
  src/openrct2/ride/coaster/meta/MineTrainCoaster.h
  src/openrct2/ride/coaster/meta/WaterCoaster.h
  src/openrct2/ride/gentle/meta/CarRide.h
  src/openrct2/ride/gentle/meta/Circus.h
  src/openrct2/ride/gentle/meta/Dodgems.h
  src/openrct2/ride/gentle/meta/GhostTrain.h
  src/openrct2/ride/gentle/meta/Maze.h
  src/openrct2/ride/gentle/meta/MiniGolf.h
  src/openrct2/ride/gentle/meta/MiniHelicopters.h
  src/openrct2/ride/gentle/meta/MonorailCycles.h
  src/openrct2/ride/gentle/meta/MonsterTrucks.h
  src/openrct2/ride/gentle/meta/ObservationTower.h
  src/openrct2/ride/gentle/meta/SpiralSlide.h
  src/openrct2/ride/shops/meta/CashMachine.h
  src/openrct2/ride/shops/meta/DrinkStall.h
  src/openrct2/ride/shops/meta/FirstAid.h
  src/openrct2/ride/shops/meta/FoodStall.h
  src/openrct2/ride/shops/meta/InformationKiosk.h
  src/openrct2/ride/shops/meta/Shop.h
  src/openrct2/ride/shops/meta/Toilets.h
  src/openrct2/ride/thrill/meta/Enterprise.h
  src/openrct2/ride/thrill/meta/GoKarts.h
  src/openrct2/ride/transport/meta/Chairlift.h
  src/openrct2/ride/transport/meta/MiniatureRailway.h
  src/openrct2/ride/transport/meta/Monorail.h
  src/openrct2/ride/water/meta/BoatHire.h
  src/openrct2/ride/water/meta/LogFlume.h
  src/openrct2/ride/water/meta/RiverRapids.h
  src/openrct2/ride/water/meta/SplashBoats.h
  src/openrct2/ride/water/meta/SubmarineRide.h
Labels: pending rebase
