Repository OpenRCT2/OpenRCT2, pull requests merged in 2022-07, with the labels that each got.

#17429 Fix #17377: Park entrance without path in scenario editor
  distribution/changelog.txt
  src/openrct2-ui/windows/Footpath.cpp
  src/openrct2-ui/windows/Map.cpp
  src/openrct2/world/Footpath.cpp
  src/openrct2/world/Footpath.h
Labels: changelog

#17319 Fix: Cut-Away View+Giant Screenshot results in most of the image being transparent area
  contributors.md
  distribution/changelog.txt
  src/openrct2/interface/Screenshot.cpp
Labels: squash merge

#17496 Added notification for mismatched g2.dat entries size
  distribution/changelog.txt
  src/openrct2/drawing/Drawing.Sprite.cpp
  src/openrct2/sprites.h
Labels: changelog, squash merge

#13634 Add ability to choose a random color of selling shop items
  contributors.md
  data/language/en-GB.txt
  distribution/changelog.txt
  src/openrct2-ui/windows/Ride.cpp
  src/openrct2/actions/RideSetAppearanceAction.cpp
  src/openrct2/actions/RideSetAppearanceAction.h
  src/openrct2/entity/Guest.cpp
  src/openrct2/localisation/StringIds.h
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/Ride.h
  src/openrct2/ride/ShopItem.cpp
  src/openrct2/ride/ShopItem.h
Labels: testing required, network version, requires new save format

#17555 Fix #17553: Crash when moving invention list items to empty list
  contributors.md
  distribution/changelog.txt
  src/openrct2-ui/windows/EditorInventionsList.cpp
Labels: changelog

#17312 Fix: Wrong boundboxes for tunnels & terrain.
  distribution/changelog.txt
  src/openrct2/ride/TrackPaint.cpp
  src/openrct2/ride/coaster/AlpineCoaster.cpp
  src/openrct2/ride/coaster/BobsleighCoaster.cpp
  src/openrct2/ride/coaster/BolligerMabillardTrack.hpp
  src/openrct2/ride/coaster/CorkscrewRollerCoaster.cpp
  src/openrct2/ride/coaster/FlyingRollerCoaster.cpp
  src/openrct2/ride/coaster/GigaCoaster.cpp
  src/openrct2/ride/coaster/HybridCoaster.cpp
  src/openrct2/ride/coaster/LayDownRollerCoaster.cpp
  src/openrct2/ride/coaster/LoopingRollerCoaster.cpp
  src/openrct2/ride/coaster/MineRide.cpp
  src/openrct2/ride/coaster/MineTrainCoaster.cpp
  src/openrct2/ride/coaster/MiniRollerCoaster.cpp
  src/openrct2/ride/coaster/MultiDimensionRollerCoaster.cpp
  src/openrct2/ride/coaster/SingleRailRollerCoaster.cpp
  src/openrct2/ride/coaster/StandUpRollerCoaster.cpp
  src/openrct2/ride/coaster/WoodenRollerCoaster.cpp
Labels: testing required

#17574 Fix #17508: Grid Doesn't Disable After Setting Patrol Area
  distribution/changelog.txt
  src/openrct2-ui/windows/PatrolArea.cpp
Labels: squash merge

#17593 Fix #17533: Missing audio when specifying --rct2-data-path
  distribution/changelog.txt
  src/openrct2-ui/windows/Options.cpp
  src/openrct2/cmdline/RootCommands.cpp
Labels: squash merge

#17606 Fix #17605. Prevent crash when parks include missing objects
  distribution/changelog.txt
  src/openrct2/object/SceneryGroupObject.cpp
Labels: changelog

#17107 Feature: Change ride operating settings via text input
  data/language/en-GB.txt
  distribution/changelog.txt
  src/openrct2-ui/windows/Ride.cpp
  src/openrct2/Limits.h
  src/openrct2/localisation/StringIds.h
  src/openrct2/rct12/Limits.h
Labels: testing required

#17625 Pass window reference to tool_set
  src/openrct2-ui/WindowManager.cpp
  src/openrct2-ui/scripting/CustomMenu.cpp
  src/openrct2-ui/windows/Footpath.cpp
  src/openrct2-ui/windows/Guest.cpp
  src/openrct2-ui/windows/LandRights.cpp
  src/openrct2-ui/windows/Map.cpp
  src/openrct2-ui/windows/MazeConstruction.cpp
  src/openrct2-ui/windows/PatrolArea.cpp
  src/openrct2-ui/windows/Ride.cpp
  src/openrct2-ui/windows/RideConstruction.cpp
  src/openrct2-ui/windows/Staff.cpp
  src/openrct2-ui/windows/StaffList.cpp
  src/openrct2-ui/windows/TileInspector.cpp
  src/openrct2-ui/windows/TopToolbar.cpp
  src/openrct2-ui/windows/TrackDesignPlace.cpp
  src/openrct2-ui/windows/ViewClipping.cpp
  src/openrct2/interface/Window.cpp
  src/openrct2/interface/Window.h
  src/openrct2/ride/RideConstruction.cpp
Labels: refactor
