Repository OpenRCT2/OpenRCT2, pull requests merged in 2022-10, with the labels that each got.

#18163 Code Style: Remove snake_case from Banner and Climate
  src/openrct2-ui/windows/GameBottomToolbar.cpp
  src/openrct2-ui/windows/Sign.cpp
  src/openrct2/Editor.cpp
  src/openrct2/Game.cpp
  src/openrct2/GameState.cpp
  src/openrct2/actions/BannerSetStyleAction.cpp
  src/openrct2/actions/LargeSceneryPlaceAction.cpp
  src/openrct2/actions/SetCheatAction.cpp
  src/openrct2/actions/SignSetNameAction.cpp
  src/openrct2/actions/SignSetStyleAction.cpp
  src/openrct2/actions/WallPlaceAction.cpp
  src/openrct2/drawing/Weather.cpp
  src/openrct2/entity/Guest.cpp
  src/openrct2/interface/Screenshot.cpp
  src/openrct2/interface/Viewport.cpp
  src/openrct2/ride/Ride.cpp
  src/openrct2/world/Banner.cpp
  src/openrct2/world/Banner.h
  src/openrct2/world/Climate.cpp
  src/openrct2/world/Climate.h
Labels: refactor

#18125 Proposed Fix: #17964 sprites don't show up on two sides of the view-clip selection
  distribution/changelog.txt
  src/openrct2/paint/Paint.Entity.cpp
Labels: changelog

#18173 Code Style: Remove snake_case from gentle rides
  src/openrct2/ride/TrackPaint.h
  src/openrct2/ride/Vehicle.cpp
  src/openrct2/ride/VehiclePaint.cpp
  src/openrct2/ride/VehiclePaint.h
  src/openrct2/ride/gentle/CarRide.cpp
  src/openrct2/ride/gentle/Circus.cpp
  src/openrct2/ride/gentle/CrookedHouse.cpp
  src/openrct2/ride/gentle/Dodgems.cpp
  src/openrct2/ride/gentle/FerrisWheel.cpp
  src/openrct2/ride/gentle/FlyingSaucers.cpp
  src/openrct2/ride/gentle/GhostTrain.cpp
  src/openrct2/ride/gentle/HauntedHouse.cpp
  src/openrct2/ride/gentle/Maze.cpp
  src/openrct2/ride/gentle/Maze.h
  src/openrct2/ride/gentle/MerryGoRound.cpp
  src/openrct2/ride/gentle/MiniGolf.cpp
  src/openrct2/ride/gentle/MiniHelicopters.cpp
  src/openrct2/ride/gentle/MonorailCycles.cpp
  src/openrct2/ride/gentle/ObservationTower.cpp
  src/openrct2/ride/gentle/SpaceRings.cpp
  src/openrct2/ride/gentle/SpiralSlide.cpp
  src/openrct2/ride/gentle/meta/CarRide.h
  src/openrct2/ride/gentle/meta/Circus.h
  src/openrct2/ride/gentle/meta/CrookedHouse.h
  src/openrct2/ride/gentle/meta/Dodgems.h
  src/openrct2/ride/gentle/meta/FerrisWheel.h
  src/openrct2/ride/gentle/meta/FlyingSaucers.h
  src/openrct2/ride/gentle/meta/GhostTrain.h
  src/openrct2/ride/gentle/meta/HauntedHouse.h
  src/openrct2/ride/gentle/meta/Maze.h
  src/openrct2/ride/gentle/meta/MerryGoRound.h
  src/openrct2/ride/gentle/meta/MiniGolf.h
  src/openrct2/ride/gentle/meta/MiniHelicopters.h
  src/openrct2/ride/gentle/meta/MonorailCycles.h
  src/openrct2/ride/gentle/meta/MonsterTrucks.h
  src/openrct2/ride/gentle/meta/ObservationTower.h
  src/openrct2/ride/gentle/meta/SpaceRings.h
  src/openrct2/ride/gentle/meta/SpiralSlide.h
Labels: refactor

#18185 Code Style: Remove snakes from construction clear
  src/openrct2/actions/FootpathPlaceAction.cpp
  src/openrct2/actions/FootpathPlaceFromTrackAction.cpp
  src/openrct2/actions/LandSetHeightAction.cpp
  src/openrct2/actions/LargeSceneryPlaceAction.cpp
  src/openrct2/actions/MazePlaceTrackAction.cpp
  src/openrct2/actions/RideEntranceExitPlaceAction.cpp
  src/openrct2/actions/SmallSceneryPlaceAction.cpp
  src/openrct2/actions/TrackPlaceAction.cpp
  src/openrct2/actions/WallPlaceAction.cpp
  src/openrct2/world/ConstructionClearance.cpp
  src/openrct2/world/ConstructionClearance.h
Labels: refactor

#18186 Code Style: Remove snakes from entrances and footpaths
  src/openrct2-ui/interface/ViewportInteraction.cpp
  src/openrct2-ui/windows/Footpath.cpp
  src/openrct2-ui/windows/Guest.cpp
  src/openrct2-ui/windows/Map.cpp
  src/openrct2-ui/windows/PatrolArea.cpp
  src/openrct2-ui/windows/RideConstruction.cpp
  src/openrct2-ui/windows/Staff.cpp
  src/openrct2-ui/windows/StaffList.cpp
  src/openrct2-ui/windows/TileInspector.cpp
  src/openrct2/Editor.cpp
  src/openrct2/Game.cpp
  src/openrct2/actions/FootpathAdditionPlaceAction.cpp
  src/openrct2/actions/FootpathAdditionRemoveAction.cpp
  src/openrct2/actions/FootpathPlaceAction.cpp
  src/openrct2/actions/FootpathPlaceFromTrackAction.cpp
  src/openrct2/actions/FootpathRemoveAction.cpp
  src/openrct2/actions/LandSetHeightAction.cpp
  src/openrct2/actions/LargeSceneryPlaceAction.cpp
  src/openrct2/actions/MazePlaceTrackAction.cpp
  src/openrct2/actions/MazeSetTrackAction.cpp
  src/openrct2/actions/ParkEntranceRemoveAction.cpp
  src/openrct2/actions/PlaceParkEntranceAction.cpp
  src/openrct2/actions/RideEntranceExitPlaceAction.cpp
  src/openrct2/actions/RideEntranceExitRemoveAction.cpp
  src/openrct2/actions/SmallSceneryPlaceAction.cpp
  src/openrct2/actions/SurfaceSetStyleAction.cpp
  src/openrct2/actions/TrackPlaceAction.cpp
  src/openrct2/actions/TrackRemoveAction.cpp
  src/openrct2/actions/WaterSetHeightAction.cpp
  src/openrct2/entity/Peep.cpp
  src/openrct2/entity/Staff.cpp
  src/openrct2/park/ParkFile.cpp
  src/openrct2/peep/GuestPathfinding.cpp
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/Ride.h
  src/openrct2/ride/RideConstruction.cpp
  src/openrct2/ride/RideConstruction.h
  src/openrct2/ride/TrackDesign.cpp
  src/openrct2/world/Entrance.cpp
  src/openrct2/world/Entrance.h
  src/openrct2/world/Footpath.cpp
  src/openrct2/world/Footpath.h
  src/openrct2/world/Map.cpp
  src/openrct2/world/Map.h
  src/openrct2/world/Park.cpp
  src/openrct2/world/Park.h
  test/tests/Pathfinding.cpp
  test/tests/TileElements.cpp
Labels: refactor

#18122 Fix: Ghosts element not ignored when assessing scenery or fountains
  contributors.md
  distribution/changelog.txt
  src/openrct2/entity/Guest.cpp
  src/openrct2/network/NetworkBase.cpp
Labels: network version, changelog

#18011 Part of #16033: VehiclePaint constants
  src/openrct2/ride/VehiclePaint.cpp
  src/openrct2/sprites.h
Labels: squash merge

#18230 Corkscrew rc's large flat to steep pieces available cheatless
  distribution/changelog.txt
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/ride/coaster/meta/CorkscrewRollerCoaster.h
Labels: network version, changelog

#18223 Fix #17853: Invention name tears while being dragged
  distribution/changelog.txt
  src/openrct2-ui/windows/EditorInventionsList.cpp
Labels: changelog

#18255 Remove old S6/S4 loading functions
  src/openrct2-ui/title/TitleSequencePlayer.cpp
  src/openrct2-ui/windows/ServerStart.cpp
  src/openrct2/Context.cpp
  src/openrct2/Context.h
  src/openrct2/Editor.cpp
  src/openrct2/Game.cpp
  src/openrct2/Game.h
  src/openrct2/interface/InteractiveConsole.cpp
  src/openrct2/rct1/RCT1.h
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/rct2/S6Importer.cpp
  src/openrct2/scenario/Scenario.h
  test/tests/MultiLaunch.cpp
  test/tests/Pathfinding.cpp
  test/tests/RideRatings.cpp
  test/tests/TileElements.cpp
  test/tests/TileElementsView.cpp
Labels: refactor

#18250 Windows: Use a modern file/folder picker
  distribution/changelog.txt
  src/openrct2-ui/UiContext.Win32.cpp
Labels: changelog

#18287 Fix missing validation on invalid characters in file name
  distribution/changelog.txt
  src/openrct2-ui/windows/LoadSave.cpp
Labels: squash merge

#18328 Refactor TitleLogo window
  src/openrct2-ui/windows/TitleLogo.cpp
Labels: squash merge

#17316 Fix: Sides of River Rapids’ corners overlay other parts of the track
  distribution/changelog.txt
  src/openrct2/ride/water/RiverRapids.cpp
Labels: testing required, squash merge

#18404 Fix #18379 : Mini Golf doesn't render Special E track's tunnel correctly
  distribution/changelog.txt
  src/openrct2/ride/gentle/MiniGolf.cpp
Labels: changelog

#18224 Fix #17854 : Items in Invention List sometimes end up in the wrong place after moving
  src/openrct2-ui/windows/EditorInventionsList.cpp
Labels: hacktoberfest-accepted

#17793 Fix #17657: Grid won't re-enable after buying Construction Rights
  distribution/changelog.txt
  src/openrct2-ui/windows/LandRights.cpp
Labels: squash merge

#18421 Update CMake usage in readme.md
  readme.md
Labels: hacktoberfest-accepted

#18375 Fix no overwrite alert on Windows if there are capitalization differences
  distribution/changelog.txt
  src/openrct2-ui/windows/LoadSave.cpp
Labels: changelog, squash merge

#18275 Update the Bug Report Form for 2022 (#18275)2
  .github/ISSUE_TEMPLATE/bug_report.yaml
Labels: hacktoberfest-accepted
