Repository OpenRCT2/OpenRCT2, pull requests merged in 2022-06, with the labels that each got.

#17106 Frames rotation count part 1
  distribution/openrct2.d.ts
  src/openrct2-ui/windows/Ride.cpp
  src/openrct2/entity/Yaw.hpp
  src/openrct2/object/RideObject.cpp
  src/openrct2/object/RideObject.h
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/RideData.cpp
  src/openrct2/ride/Vehicle.cpp
  src/openrct2/ride/VehicleData.cpp
  src/openrct2/ride/VehicleEntry.h
  src/openrct2/ride/VehiclePaint.cpp
  src/openrct2/ride/water/SubmarineRide.cpp
  src/openrct2/scripting/Duktape.hpp
  src/openrct2/scripting/ScriptEngine.h
  src/openrct2/scripting/bindings/object/ScObject.hpp
Labels: testing required

#17354 Fix auto positioning
  src/openrct2-ui/windows/Main.cpp
Labels: testing required

#17002 Don't Reset the weather when converting a save to scenario
  distribution/changelog.txt
  src/openrct2/Editor.cpp
  src/openrct2/scenario/Scenario.cpp
Labels: squash merge

#16987 Add DesignCreateMode field to the RTD
  src/openrct2/ride/RideData.h
  src/openrct2/ride/TrackDesign.cpp
  src/openrct2/ride/coaster/meta/HybridCoaster.h
  src/openrct2/ride/gentle/meta/Circus.h
  src/openrct2/ride/gentle/meta/Maze.h
  src/openrct2/ride/shops/meta/CashMachine.h
  src/openrct2/ride/shops/meta/DrinkStall.h
  src/openrct2/ride/shops/meta/FirstAid.h
  src/openrct2/ride/shops/meta/FoodStall.h
  src/openrct2/ride/shops/meta/InformationKiosk.h
  src/openrct2/ride/shops/meta/Shop.h
  src/openrct2/ride/shops/meta/Toilets.h
Labels: pending rebase

#17417 Fix upper_case_banners option
  src/openrct2-ui/windows/Options.cpp
Labels: testing required, changelog

#17400 Refactor window to class: Staff
  contributors.md
  src/openrct2-ui/windows/Staff.cpp
Labels: testing required

#17369 [Plugin] Fix Car.travelBy() moving other cars as well
  distribution/changelog.txt
  src/openrct2/ride/Vehicle.cpp
Labels: network version

#17456 Fix #17450: Ducks can swim on three-corners-up land tile.
  distribution/changelog.txt
  src/openrct2/entity/Duck.cpp
  src/openrct2/network/NetworkBase.cpp
Labels: network version

#17467 Fix #17466: New object types not packed in save files
  src/openrct2/object/ObjectManager.cpp
  src/openrct2/object/ObjectRepository.cpp
Labels: changelog
