Repository OpenRCT2/OpenRCT2, pull requests merged in 2023-04, with the labels that each got.

#19666 Refactor and clean up date handling
  src/openrct2-ui/interface/Graph.cpp
  src/openrct2-ui/windows/Cheats.cpp
  src/openrct2-ui/windows/Finances.cpp
  src/openrct2-ui/windows/GameBottomToolbar.cpp
  src/openrct2/Date.cpp
  src/openrct2/Date.h
  src/openrct2/GameState.cpp
  src/openrct2/GameState.h
  src/openrct2/actions/ParkSetDateAction.cpp
  src/openrct2/actions/RideCreateAction.cpp
  src/openrct2/actions/StaffHireNewAction.cpp
  src/openrct2/entity/Duck.cpp
  src/openrct2/entity/Staff.cpp
  src/openrct2/interface/InteractiveConsole.cpp
  src/openrct2/localisation/Date.h
  src/openrct2/localisation/Localisation.Date.cpp
  src/openrct2/localisation/Localisation.cpp
  src/openrct2/localisation/Localisation.h
  src/openrct2/management/Finance.cpp
  src/openrct2/management/NewsItem.cpp
  src/openrct2/management/Research.cpp
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/network/NetworkServerAdvertiser.cpp
  src/openrct2/park/ParkFile.cpp
  src/openrct2/platform/Platform.Linux.cpp
  src/openrct2/platform/Platform.Posix.cpp
  src/openrct2/platform/Platform.Win32.cpp
  src/openrct2/platform/Platform.h
  src/openrct2/platform/Platform.macOS.mm
  src/openrct2/platform/Shared.cpp
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/rct2/S6Importer.cpp
  src/openrct2/ride/Ride.cpp
  src/openrct2/scenario/Scenario.cpp
  src/openrct2/scripting/bindings/world/ScDate.hpp
  src/openrct2/world/Climate.cpp
  test/tests/MultiLaunch.cpp
Labels: testing required, network version

#19619 Reduce guests walking through trains on level crossing next to station
  distribution/changelog.txt
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/ride/Vehicle.cpp
Labels: testing required, network version

#19620 Fix #18895: Responding mechanic blocked at level crossing
  distribution/changelog.txt
  src/openrct2/entity/Staff.cpp
  src/openrct2/network/NetworkBase.cpp
Labels: network version, changelog

#19675 Fix #13801: Refactor ServerList to use Window class
  src/openrct2-ui/windows/ServerList.cpp
Labels: testing required

#19851 Make the FLY pallette more accurate
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/ride/coaster/meta/FlyingRollerCoaster.h
Labels: network version

#19830 Fix highlight path issues not hide wall element
  contributors.md
  distribution/changelog.txt
  src/openrct2/paint/tile_element/Paint.Wall.cpp
Labels: squash merge

#19828 Disable marketing tab when marketing is prohibited
  distribution/changelog.txt
  src/openrct2-ui/windows/Finances.cpp
Labels: squash merge

#19924 Fix #19906: Destructible cheat does not allow ride modification
  contributors.md
  distribution/changelog.txt
  src/openrct2-ui/windows/Cheats.cpp
  src/openrct2-ui/windows/Ride.cpp
  src/openrct2/Cheats.cpp
  src/openrct2/Cheats.h
  src/openrct2/actions/CheatSetAction.cpp
  src/openrct2/actions/CheatSetAction.h
  src/openrct2/actions/RideDemolishAction.cpp
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/park/ParkFile.h
  src/openrct2/ride/Track.cpp
Labels: network version, park file version

#18299 Fix duplicate RGB colours in palette
  src/openrct2/drawing/ImageImporter.h
  test/tests/ImageImporterTests.cpp
  test/tests/testdata/sprites/example.dat
  test/tests/testdata/sprites/result.dat
Labels: squash merge

#19987 SetCheatAction has wrong ID in plugin API
  distribution/changelog.txt
  src/openrct2/scripting/ScriptEngine.cpp
  src/openrct2/scripting/ScriptEngine.h
Labels: squash merge

#19988 Raise water and land height limits to 254 units/182m/600ft
  distribution/changelog.txt
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/park/ParkFile.h
  src/openrct2/world/Map.h
Labels: network version

#19305 "Reversed Trains" Option
  contributors.md
  data/language/en-GB.txt
  distribution/changelog.txt
  distribution/openrct2.d.ts
  src/openrct2-ui/windows/Ride.cpp
  src/openrct2/actions/RideSetVehicleAction.cpp
  src/openrct2/actions/RideSetVehicleAction.h
  src/openrct2/entity/Guest.cpp
  src/openrct2/localisation/StringIds.h
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/park/ParkFile.h
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/Ride.h
  src/openrct2/ride/RideData.h
  src/openrct2/ride/Vehicle.cpp
  src/openrct2/ride/Vehicle.h
  src/openrct2/ride/VehiclePaint.cpp
  src/openrct2/ride/coaster/meta/ClassicMiniRollerCoaster.h
  src/openrct2/ride/coaster/meta/ClassicWoodenRollerCoaster.h
  src/openrct2/ride/coaster/meta/CorkscrewRollerCoaster.h
  src/openrct2/ride/coaster/meta/GigaCoaster.h
  src/openrct2/ride/coaster/meta/HeartlineTwisterCoaster.h
  src/openrct2/ride/coaster/meta/HybridCoaster.h
  src/openrct2/ride/coaster/meta/HyperTwister.h
  src/openrct2/ride/coaster/meta/Hypercoaster.h
  src/openrct2/ride/coaster/meta/InvertedImpulseCoaster.h
  src/openrct2/ride/coaster/meta/InvertedRollerCoaster.h
  src/openrct2/ride/coaster/meta/JuniorRollerCoaster.h
  src/openrct2/ride/coaster/meta/LIMLaunchedRollerCoaster.h
  src/openrct2/ride/coaster/meta/LoopingRollerCoaster.h
  src/openrct2/ride/coaster/meta/MineRide.h
  src/openrct2/ride/coaster/meta/MineTrainCoaster.h
  src/openrct2/ride/coaster/meta/MiniRollerCoaster.h
  src/openrct2/ride/coaster/meta/MultiDimensionRollerCoaster.h
  src/openrct2/ride/coaster/meta/ReverseFreefallCoaster.h
  src/openrct2/ride/coaster/meta/SideFrictionRollerCoaster.h
  src/openrct2/ride/coaster/meta/SingleRailRollerCoaster.h
  src/openrct2/ride/coaster/meta/StandUpRollerCoaster.h
  src/openrct2/ride/coaster/meta/TwisterRollerCoaster.h
  src/openrct2/ride/coaster/meta/WoodenRollerCoaster.h
  src/openrct2/scripting/ScriptEngine.h
  src/openrct2/scripting/bindings/entity/ScVehicle.cpp
  src/openrct2/scripting/bindings/entity/ScVehicle.hpp
Labels: pending rebase, network version, plugin api version

#19998 Refactor of colours
  src/openrct2-ui/input/MouseInput.cpp
  src/openrct2-ui/interface/Dropdown.h
  src/openrct2-ui/scripting/CustomWindow.cpp
  src/openrct2-ui/windows/Banner.cpp
  src/openrct2-ui/windows/Dropdown.cpp
  src/openrct2-ui/windows/Ride.cpp
  src/openrct2-ui/windows/Scenery.cpp
  src/openrct2-ui/windows/Sign.cpp
  src/openrct2-ui/windows/StaffList.cpp
  src/openrct2-ui/windows/Themes.cpp
  src/openrct2/actions/BannerSetStyleAction.cpp
  src/openrct2/actions/CheatSetAction.cpp
  src/openrct2/entity/Guest.cpp
  src/openrct2/interface/Colour.cpp
  src/openrct2/interface/Colour.h
  src/openrct2/network/NetworkBase.cpp
Labels: network version

#19880 Fix: #13397: Broken Stations with Simulate Mode
  distribution/changelog.txt
  src/openrct2/actions/TrackPlaceAction.cpp
  src/openrct2/actions/TrackRemoveAction.cpp
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/ride/TrackDesign.cpp
Labels: network version, changelog

#20024 Fix #20018: Shops not calculating up-keep cost
  distribution/changelog.txt
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/ride/RideRatings.cpp
Labels: network version, changelog

#20005 Refactor/wooden supports 2
  src/openrct2/paint/Supports.cpp
  src/openrct2/paint/Supports.h
  src/openrct2/ride/coaster/MineTrainCoaster.cpp
  src/openrct2/ride/transport/MiniatureRailway.cpp
Labels: testing required

#20004 Fix #19935: Part of old multiplayer name remains when entering a shorter name
  src/openrct2-ui/windows/ServerList.cpp
  src/openrct2/interface/Window.cpp
  src/openrct2/interface/Window.h
Labels: squash merge

#19948 Close #13782: Refactor Multiplayer window to class
  src/openrct2-ui/windows/Multiplayer.cpp
Labels: squash merge
