Repository OpenRCT2/OpenRCT2, pull requests merged in 2023-05, with the labels that each got.

#20091 Add ratings modifier for reversed trains
  distribution/changelog.txt
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/ride/RideData.h
  src/openrct2/ride/RideRatings.cpp
  src/openrct2/ride/coaster/meta/ClassicMiniRollerCoaster.h
  src/openrct2/ride/coaster/meta/ClassicWoodenRollerCoaster.h
  src/openrct2/ride/coaster/meta/CorkscrewRollerCoaster.h
  src/openrct2/ride/coaster/meta/GigaCoaster.h
  src/openrct2/ride/coaster/meta/HybridCoaster.h
  src/openrct2/ride/coaster/meta/HyperTwister.h
  src/openrct2/ride/coaster/meta/Hypercoaster.h
  src/openrct2/ride/coaster/meta/InvertedRollerCoaster.h
  src/openrct2/ride/coaster/meta/JuniorRollerCoaster.h
  src/openrct2/ride/coaster/meta/LIMLaunchedRollerCoaster.h
  src/openrct2/ride/coaster/meta/LoopingRollerCoaster.h
  src/openrct2/ride/coaster/meta/MineRide.h
  src/openrct2/ride/coaster/meta/MineTrainCoaster.h
  src/openrct2/ride/coaster/meta/MiniRollerCoaster.h
  src/openrct2/ride/coaster/meta/ReverseFreefallCoaster.h
  src/openrct2/ride/coaster/meta/SideFrictionRollerCoaster.h
  src/openrct2/ride/coaster/meta/SingleRailRollerCoaster.h
  src/openrct2/ride/coaster/meta/StandUpRollerCoaster.h
  src/openrct2/ride/coaster/meta/TwisterRollerCoaster.h
  src/openrct2/ride/coaster/meta/WoodenRollerCoaster.h
  test/tests/testdata/parks/testReversedTrains.park
  test/tests/testdata/ratings/testReversedTrains.park.txt
Labels: network version, changelog

#20099 Fix #20096: Server list window scroll is glitched when server list is empty
  distribution/changelog.txt
  src/openrct2-ui/windows/AssetPacks.cpp
  src/openrct2-ui/windows/EditorObjectSelection.cpp
  src/openrct2-ui/windows/Map.cpp
  src/openrct2-ui/windows/ScenarioSelect.cpp
  src/openrct2-ui/windows/ServerList.cpp
  src/openrct2-ui/windows/ShortcutKeys.cpp
  src/openrct2/interface/Window.cpp
Labels: changelog

#20135 Fix #20134: Don't update grass length outside of the actual map
  distribution/changelog.txt
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/world/Map.cpp
Labels: network version, changelog

#20182 Fix #19823. Disallow overriding with wrong object type
  distribution/changelog.txt
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/object/ObjectFactory.cpp
Labels: network version, changelog

#20214 Update the UI at screen refresh rate
  distribution/changelog.txt
  src/openrct2-ui/input/MouseInput.cpp
  src/openrct2/Context.cpp
  src/openrct2/GameState.cpp
Labels: testing required, changelog

#20243 Add colour preset to the Side Friction Roller Coaster using the new colour options
  distribution/changelog.txt
  src/openrct2/ride/coaster/meta/SideFrictionRollerCoaster.h
Labels: squash merge

#20177 Clean up path additions entry index handling
  src/openrct2-ui/windows/TopToolbar.cpp
  src/openrct2/actions/FootpathAdditionPlaceAction.cpp
  src/openrct2/actions/FootpathAdditionPlaceAction.h
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/scripting/bindings/world/ScTileElement.cpp
  src/openrct2/world/Footpath.cpp
  src/openrct2/world/TileElement.h
Labels: network version

#20119 Add new roller coaster ride colour presets
  distribution/changelog.txt
  distribution/openrct2.d.ts
  resources/g2/sprites.json
  src/openrct2/interface/Colour.h
  src/openrct2/ride/coaster/meta/BobsleighCoaster.h
  src/openrct2/ride/coaster/meta/FlyingRollerCoaster.h
  src/openrct2/ride/coaster/meta/GigaCoaster.h
  src/openrct2/ride/coaster/meta/HybridCoaster.h
  src/openrct2/ride/coaster/meta/HyperTwister.h
  src/openrct2/ride/coaster/meta/Hypercoaster.h
  src/openrct2/ride/coaster/meta/InvertedImpulseCoaster.h
  src/openrct2/ride/coaster/meta/InvertedRollerCoaster.h
  src/openrct2/ride/coaster/meta/LIMLaunchedRollerCoaster.h
  src/openrct2/ride/coaster/meta/LoopingRollerCoaster.h
  src/openrct2/ride/coaster/meta/MultiDimensionRollerCoaster.h
  src/openrct2/ride/coaster/meta/TwisterRollerCoaster.h
  src/openrct2/ride/coaster/meta/VerticalDropCoaster.h
  src/openrct2/ride/coaster/meta/WaterCoaster.h
  src/openrct2/ride/coaster/meta/WoodenRollerCoaster.h
  src/openrct2/scripting/IconNames.hpp
  src/openrct2/sprites.h
Labels: squash merge

#20249 Remove flag RIDE_TYPE_FLAG_HAS_NO_TRACK (#20239)
  contributors.md
  src/openrct2-ui/windows/MazeConstruction.cpp
  src/openrct2-ui/windows/NewRide.cpp
  src/openrct2-ui/windows/RideConstruction.cpp
  src/openrct2/entity/Staff.cpp
  src/openrct2/interface/Viewport.cpp
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/RideConstruction.cpp
  src/openrct2/ride/RideData.h
  src/openrct2/ride/gentle/meta/Circus.h
  src/openrct2/ride/gentle/meta/CrookedHouse.h
  src/openrct2/ride/gentle/meta/Dodgems.h
  src/openrct2/ride/gentle/meta/FerrisWheel.h
  src/openrct2/ride/gentle/meta/FlyingSaucers.h
  src/openrct2/ride/gentle/meta/HauntedHouse.h
  src/openrct2/ride/gentle/meta/MerryGoRound.h
  src/openrct2/ride/gentle/meta/SpaceRings.h
  src/openrct2/ride/gentle/meta/SpiralSlide.h
  src/openrct2/ride/shops/meta/CashMachine.h
  src/openrct2/ride/shops/meta/DrinkStall.h
  src/openrct2/ride/shops/meta/FirstAid.h
  src/openrct2/ride/shops/meta/FoodStall.h
  src/openrct2/ride/shops/meta/InformationKiosk.h
  src/openrct2/ride/shops/meta/Shop.h
  src/openrct2/ride/shops/meta/Toilets.h
  src/openrct2/ride/thrill/meta/3DCinema.h
  src/openrct2/ride/thrill/meta/Enterprise.h
  src/openrct2/ride/thrill/meta/MagicCarpet.h
  src/openrct2/ride/thrill/meta/MotionSimulator.h
  src/openrct2/ride/thrill/meta/SwingingInverterShip.h
  src/openrct2/ride/thrill/meta/SwingingShip.h
  src/openrct2/ride/thrill/meta/TopSpin.h
  src/openrct2/ride/thrill/meta/Twist.h
  src/openrct2/windows/_legacy.cpp
Labels: network version, squash merge

#20265 Fix #20262: random title theme can pick RCT1 when unavailable
  distribution/changelog.txt
  src/openrct2/audio/Audio.cpp
Labels: changelog

#20303 Fix #20083: Cannot use terrain surfaces with ID > 32
  distribution/changelog.txt
  src/openrct2/actions/BannerPlaceAction.cpp
  src/openrct2/actions/FootpathAdditionPlaceAction.cpp
  src/openrct2/actions/LargeSceneryPlaceAction.cpp
  src/openrct2/actions/LargeSceneryRemoveAction.cpp
  src/openrct2/actions/RideCreateAction.cpp
  src/openrct2/actions/SmallSceneryPlaceAction.cpp
  src/openrct2/actions/SurfaceSetStyleAction.cpp
  src/openrct2/actions/TrackPlaceAction.cpp
  src/openrct2/actions/WallPlaceAction.cpp
  src/openrct2/network/NetworkBase.cpp
Labels: network version, changelog
