Repository OpenRCT2/OpenRCT2, pull requests merged in 2023-01, with the labels that each got.

#18749 improve behaviour of awards
  distribution/changelog.txt
  src/openrct2/management/Award.cpp
Labels: discussion

#19070 Remove some unused/obsolete things
  src/openrct2-ui/windows/Ride.cpp
  src/openrct2/entity/Guest.h
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/Ride.h
Labels: refactor

#19069 Use ride references instead of pointers
  src/openrct2-ui/WindowManager.cpp
  src/openrct2-ui/windows/DemolishRidePrompt.cpp
  src/openrct2-ui/windows/Guest.cpp
  src/openrct2-ui/windows/MazeConstruction.cpp
  src/openrct2-ui/windows/RefurbishRidePrompt.cpp
  src/openrct2-ui/windows/Ride.cpp
  src/openrct2-ui/windows/RideConstruction.cpp
  src/openrct2-ui/windows/RideList.cpp
  src/openrct2-ui/windows/TrackDesignPlace.cpp
  src/openrct2-ui/windows/Window.h
  src/openrct2/Game.cpp
  src/openrct2/actions/CheatSetAction.cpp
  src/openrct2/actions/RideCreateAction.cpp
  src/openrct2/actions/RideDemolishAction.cpp
  src/openrct2/actions/RideDemolishAction.h
  src/openrct2/actions/RideEntranceExitPlaceAction.cpp
  src/openrct2/actions/RideEntranceExitRemoveAction.cpp
  src/openrct2/actions/RideSetAppearanceAction.cpp
  src/openrct2/actions/RideSetSettingAction.cpp
  src/openrct2/actions/RideSetSettingAction.h
  src/openrct2/actions/RideSetStatusAction.cpp
  src/openrct2/actions/RideSetVehicleAction.cpp
  src/openrct2/actions/RideSetVehicleAction.h
  src/openrct2/actions/TrackDesignAction.cpp
  src/openrct2/actions/TrackPlaceAction.cpp
  src/openrct2/actions/TrackRemoveAction.cpp
  src/openrct2/entity/Guest.cpp
  src/openrct2/entity/Guest.h
  src/openrct2/entity/Peep.cpp
  src/openrct2/entity/Staff.cpp
  src/openrct2/entity/Staff.h
  src/openrct2/interface/InteractiveConsole.cpp
  src/openrct2/management/Award.cpp
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/Ride.h
  src/openrct2/ride/RideConstruction.cpp
  src/openrct2/ride/RideData.h
  src/openrct2/ride/RideRatings.cpp
  src/openrct2/ride/RideRatings.h
  src/openrct2/ride/Station.cpp
  src/openrct2/ride/Station.h
  src/openrct2/ride/Track.cpp
  src/openrct2/ride/TrackDesign.cpp
  src/openrct2/ride/TrackDesign.h
  src/openrct2/ride/Vehicle.cpp
  src/openrct2/ride/Vehicle.h
  src/openrct2/world/Entrance.cpp
  src/openrct2/world/Park.cpp
  src/openrct2/world/Park.h
Labels: refactor

#18439 Object version part 1a
  src/openrct2/object/Object.cpp
  src/openrct2/object/Object.h
  src/openrct2/object/ObjectFactory.cpp
  src/openrct2/object/ObjectRepository.h
  src/openrct2/park/ParkFile.cpp
Labels: testing required

#19066 Change _GBP to money64, migrate a few usages to money64 as well
  src/openrct2-ui/windows/Cheats.cpp
  src/openrct2-ui/windows/Ride.cpp
  src/openrct2/common.h
  src/openrct2/interface/InteractiveConsole.cpp
  src/openrct2/localisation/Localisation.cpp
  src/openrct2/localisation/Localisation.h
  src/openrct2/world/Park.cpp
Labels: refactor

#19087 More C string cleanup
  src/openrct2-ui/windows/LoadSave.cpp
  src/openrct2-ui/windows/Multiplayer.cpp
  src/openrct2-ui/windows/ScenarioSelect.cpp
  src/openrct2-ui/windows/TextInput.cpp
  src/openrct2/network/DiscordService.cpp
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/network/network.h
  src/openrct2/util/Util.cpp
  src/openrct2/util/Util.h
Labels: refactor

#19132 Make "Building the game" section in the readme compacter
  readme.md
Labels: squash merge

#19185 Change openrct2/ride methods to UpperCamelCase, part 2
  src/openrct2-ui/windows/EditorInventionsList.cpp
  src/openrct2-ui/windows/EditorObjectSelection.cpp
  src/openrct2-ui/windows/InstallTrack.cpp
  src/openrct2-ui/windows/NewRide.cpp
  src/openrct2-ui/windows/Ride.cpp
  src/openrct2-ui/windows/RideConstruction.cpp
  src/openrct2-ui/windows/TrackList.cpp
  src/openrct2/EditorObjectSelectionSession.cpp
  src/openrct2/actions/RideCreateAction.cpp
  src/openrct2/actions/RideSetPriceAction.cpp
  src/openrct2/actions/RideSetVehicleAction.cpp
  src/openrct2/actions/TrackPlaceAction.cpp
  src/openrct2/entity/Guest.cpp
  src/openrct2/interface/InteractiveConsole.cpp
  src/openrct2/management/Award.cpp
  src/openrct2/management/Research.cpp
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/rct12/RCT12.cpp
  src/openrct2/rct2/S6Importer.cpp
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/Ride.h
  src/openrct2/ride/RideRatings.cpp
  src/openrct2/ride/Vehicle.cpp
  src/openrct2/ride/coaster/ClassicWoodenRollerCoaster.cpp
  src/openrct2/ride/coaster/JuniorRollerCoaster.cpp
  src/openrct2/ride/coaster/JuniorRollerCoaster.h
  src/openrct2/ride/coaster/WoodenRollerCoaster.cpp
  src/openrct2/ride/coaster/WoodenRollerCoaster.h
  src/openrct2/ride/gentle/SpaceRings.cpp
  src/openrct2/ride/thrill/Enterprise.cpp
  src/openrct2/ride/thrill/SwingingInverterShip.cpp
  src/openrct2/ride/thrill/SwingingShip.cpp
  src/openrct2/ride/thrill/TopSpin.cpp
  src/openrct2/ride/thrill/Twist.cpp
  src/openrct2/ride/water/WaterCoaster.cpp
Labels: squash merge

#19200 Use clang-tidy to get remaining snakes in ride/coaster
  src/openrct2/ride/coaster/ClassicWoodenRollerCoaster.cpp
  src/openrct2/ride/coaster/CompactInvertedCoaster.cpp
  src/openrct2/ride/coaster/CorkscrewRollerCoaster.cpp
  src/openrct2/ride/coaster/GigaCoaster.cpp
  src/openrct2/ride/coaster/HeartlineTwisterCoaster.cpp
  src/openrct2/ride/coaster/HybridCoaster.cpp
  src/openrct2/ride/coaster/InvertedHairpinCoaster.cpp
  src/openrct2/ride/coaster/InvertedImpulseCoaster.cpp
  src/openrct2/ride/coaster/InvertedRollerCoaster.cpp
  src/openrct2/ride/coaster/JuniorRollerCoaster.cpp
  src/openrct2/ride/coaster/JuniorRollerCoaster.h
  src/openrct2/ride/coaster/LayDownRollerCoaster.cpp
  src/openrct2/ride/coaster/LimLaunchedRollerCoaster.cpp
  src/openrct2/ride/coaster/LoopingRollerCoaster.cpp
  src/openrct2/ride/coaster/MineRide.cpp
  src/openrct2/ride/coaster/MineTrainCoaster.cpp
  src/openrct2/ride/coaster/MiniRollerCoaster.cpp
  src/openrct2/ride/coaster/MiniSuspendedCoaster.cpp
  src/openrct2/ride/coaster/MultiDimensionRollerCoaster.cpp
  src/openrct2/ride/coaster/ReverseFreefallCoaster.cpp
  src/openrct2/ride/coaster/ReverserRollerCoaster.cpp
  src/openrct2/ride/coaster/SideFrictionRollerCoaster.cpp
  src/openrct2/ride/coaster/StandUpRollerCoaster.cpp
  src/openrct2/ride/coaster/Steeplechase.cpp
  src/openrct2/ride/coaster/SuspendedSwingingCoaster.cpp
  src/openrct2/ride/coaster/VirginiaReel.cpp
  src/openrct2/ride/coaster/WildMouse.cpp
  src/openrct2/ride/coaster/WoodenRollerCoaster.cpp
  src/openrct2/ride/coaster/WoodenRollerCoaster.h
  src/openrct2/ride/coaster/WoodenWildMouse.cpp
  src/openrct2/ride/gentle/FlyingSaucers.cpp
  src/openrct2/ride/thrill/GoKarts.cpp
  src/openrct2/ride/thrill/LaunchedFreefall.cpp
  src/openrct2/ride/thrill/RotoDrop.cpp
  src/openrct2/ride/thrill/Twist.cpp
  src/openrct2/ride/transport/Chairlift.cpp
  src/openrct2/ride/transport/Lift.cpp
  src/openrct2/ride/transport/MiniatureRailway.cpp
  src/openrct2/ride/transport/Monorail.cpp
  src/openrct2/ride/transport/SuspendedMonorail.cpp
  src/openrct2/ride/water/BoatHire.cpp
  src/openrct2/ride/water/DingySlide.cpp
  src/openrct2/ride/water/LogFlume.cpp
  src/openrct2/ride/water/RiverRapids.cpp
  src/openrct2/ride/water/SplashBoats.cpp
  src/openrct2/ride/water/SubmarineRide.cpp
  src/openrct2/ride/water/WaterCoaster.cpp
Labels: squash merge

#19249 Move three tables to MazeSetTrackACtion.cpp
  src/openrct2/actions/MazeSetTrackAction.cpp
  src/openrct2/actions/MazeSetTrackAction.h
Labels: refactor

#18478 Fill out TrackSegment API
  distribution/openrct2.d.ts
  src/openrct2/scripting/ScriptEngine.h
  src/openrct2/scripting/bindings/game/ScContext.hpp
  src/openrct2/scripting/bindings/ride/ScTrackSegment.cpp
  src/openrct2/scripting/bindings/ride/ScTrackSegment.h
Labels: plugin api version

#19272 Allow filtering in Scenery window
  distribution/changelog.txt
  src/openrct2-ui/windows/Scenery.cpp
  src/openrct2/interface/Window.h
Labels: testing required

#17288 Reorganise the order of shortcut keys in the Shortcut Keys window
  distribution/changelog.txt
  src/openrct2-ui/input/ShortcutIds.h
  src/openrct2-ui/input/ShortcutManager.cpp
  src/openrct2-ui/input/ShortcutManager.h
  src/openrct2-ui/input/Shortcuts.cpp
  src/openrct2-ui/windows/ShortcutKeys.cpp
Labels: changelog

#19288 Fix and refactor banner fixing
  distribution/changelog.txt
  src/openrct2/Game.cpp
  src/openrct2/world/Banner.cpp
  src/openrct2/world/Banner.h
Labels: changelog
