Repository OpenRCT2/OpenRCT2, pull requests merged in 2023-02, with the labels that each got.

#19326 Widens TotalRideValue to fix overflow reported in #19292
  contributors.md
  distribution/changelog.txt
  src/openrct2/park/ParkFile.cpp
  src/openrct2/park/ParkFile.h
  src/openrct2/ride/Ride.h
  src/openrct2/ride/RideConstruction.cpp
  src/openrct2/scenario/Scenario.cpp
  src/openrct2/scripting/bindings/world/ScPark.cpp
  src/openrct2/scripting/bindings/world/ScPark.hpp
  src/openrct2/world/Park.cpp
  src/openrct2/world/Park.h
Labels: changelog

#19340 Widen Vehicle::update_flags to 32 bits
  CMakeLists.txt
  openrct2.proj
  src/openrct2/GameStateSnapshots.cpp
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/park/ParkFile.cpp
  src/openrct2/park/ParkFile.h
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/rct2/S6Importer.cpp
  src/openrct2/ride/CableLift.cpp
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/Vehicle.cpp
  src/openrct2/ride/Vehicle.h
  src/openrct2/ride/VehiclePaint.cpp
Labels: network version, replay update

#19380 Fix a division by zero in TitleScreen::TitleInitialise if there are no installed sequences
  distribution/changelog.txt
  src/openrct2/title/TitleScreen.cpp
Labels: changelog

#19378 Add command to combine CSG1i and CSG1
  distribution/changelog.txt
  src/openrct2/CmdlineSprite.cpp
  src/openrct2/cmdline/SpriteCommands.cpp
Labels: feature

#19377 Close #12466: Add flag to use RCT1 interest
  data/language/en-GB.txt
  distribution/changelog.txt
  src/openrct2-ui/windows/EditorScenarioOptions.cpp
  src/openrct2-ui/windows/Finances.cpp
  src/openrct2/actions/ScenarioSetSettingAction.cpp
  src/openrct2/actions/ScenarioSetSettingAction.h
  src/openrct2/localisation/StringIds.h
  src/openrct2/management/Finance.cpp
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/world/Park.h
Labels: network version

#18327 Introduce mph literal for velocities
  src/openrct2/common.h
  src/openrct2/ride/CableLift.cpp
  src/openrct2/ride/Vehicle.cpp
  src/openrct2/ride/VehiclePaint.cpp
Labels: hacktoberfest-accepted

#19385 ObjectEntry Cleanup. FootpathItem, SceneryGroup, Water, LargeScenery
  src/openrct2-ui/interface/ViewportInteraction.cpp
  src/openrct2-ui/windows/Scenery.cpp
  src/openrct2-ui/windows/Sign.cpp
  src/openrct2-ui/windows/TileInspector.cpp
  src/openrct2-ui/windows/TopToolbar.cpp
  src/openrct2/EditorObjectSelectionSession.cpp
  src/openrct2/Game.cpp
  src/openrct2/actions/ClearAction.cpp
  src/openrct2/actions/FootpathAdditionPlaceAction.cpp
  src/openrct2/actions/LargeSceneryPlaceAction.cpp
  src/openrct2/actions/WallPlaceAction.cpp
  src/openrct2/actions/WallSetColourAction.cpp
  src/openrct2/drawing/Drawing.cpp
  src/openrct2/entity/Guest.cpp
  src/openrct2/entity/Peep.cpp
  src/openrct2/entity/Staff.cpp
  src/openrct2/libopenrct2.vcxproj
  src/openrct2/management/Research.cpp
  src/openrct2/object/FootpathItemEntry.h
  src/openrct2/object/LargeSceneryEntry.h
  src/openrct2/object/SceneryGroupEntry.h
  src/openrct2/object/WaterEntry.h
  src/openrct2/paint/tile_element/Paint.LargeScenery.cpp
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/rct12/RCT12.cpp
  src/openrct2/ride/TrackDesignSave.cpp
  src/openrct2/scenario/Scenario.cpp
  src/openrct2/world/Footpath.cpp
  src/openrct2/world/LargeScenery.cpp
  src/openrct2/world/LargeScenery.h
  src/openrct2/world/Map.cpp
  src/openrct2/world/MapAnimation.cpp
  src/openrct2/world/Scenery.cpp
  src/openrct2/world/Scenery.h
  src/openrct2/world/TileElement.cpp
  src/openrct2/world/TileElement.h
  src/openrct2/world/TileInspector.cpp
  src/openrct2/world/Wall.cpp
Labels: pending rebase

#19447 Fix #19445: Text not cleared using Ctrl+Backspace
  distribution/changelog.txt
  src/openrct2-ui/TextComposition.cpp
  src/openrct2-ui/TextComposition.h
  src/openrct2-ui/UiContext.cpp
  src/openrct2-ui/interface/InGameConsole.cpp
  src/openrct2-ui/interface/InGameConsole.h
  src/openrct2-ui/interface/Widget.cpp
  src/openrct2-ui/windows/EditorObjectiveOptions.cpp
  src/openrct2-ui/windows/MapGen.cpp
  src/openrct2-ui/windows/Multiplayer.cpp
  src/openrct2-ui/windows/Ride.cpp
  src/openrct2-ui/windows/ServerList.cpp
  src/openrct2-ui/windows/TextInput.cpp
  src/openrct2/Context.cpp
  src/openrct2/Context.h
  src/openrct2/interface/Chat.cpp
  src/openrct2/interface/Window.cpp
  src/openrct2/interface/Window.h
  src/openrct2/ui/DummyUiContext.cpp
  src/openrct2/ui/UiContext.h
Labels: changelog
