Repository OpenRCT2/OpenRCT2, pull requests merged in 2023-06, with the labels that each got.

#20350 Fix #20349: Tile inspector creates map animations
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/world/MapAnimation.cpp
  src/openrct2/world/MapAnimation.h
  src/openrct2/world/TileInspector.cpp
Labels: network version

#20128 Fix #19832: Scenery Search
  distribution/changelog.txt
  src/openrct2-ui/windows/Scenery.cpp
Labels: changelog

#20386 Fix #19860: `TRACK_ELEM_FLAG_DOWN` flag missing on downward wide curves
  contributors.md
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/ride/TrackData.cpp
Labels: network version

#20415 Fix #20413: Crash attempting to navigate an empty console history
  distribution/changelog.txt
  src/openrct2-ui/interface/InGameConsole.cpp
Labels: changelog

#19797 Fix #9534: Screams cut off on steep diagonal drops
  distribution/changelog.txt
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/ride/Vehicle.cpp
Labels: testing required, network version, changelog

#20271 Rework Object Identifier callers
  data/language/en-GB.txt
  src/openrct2/localisation/LanguagePack.cpp
  src/openrct2/localisation/LanguagePack.h
  src/openrct2/localisation/LocalisationService.cpp
  src/openrct2/localisation/LocalisationService.h
  src/openrct2/object/BannerObject.cpp
  src/openrct2/object/Object.cpp
  src/openrct2/object/Object.h
  src/openrct2/object/PathAdditionObject.cpp
  test/tests/LanguagePackTest.cpp
Labels: testing required

#20475 Fix #20364: Money cheat no longer overflows
  contributors.md
  distribution/changelog.txt
  src/openrct2/Cheats.cpp
  src/openrct2/Cheats.h
  src/openrct2/actions/CheatSetAction.cpp
  src/openrct2/actions/CheatSetAction.h
  src/openrct2/network/NetworkBase.cpp
Labels: pending rebase, network version, changelog

#20493 Refactor window deletion to be delayed
  distribution/changelog.txt
  src/openrct2-ui/interface/Window.cpp
  src/openrct2/interface/Window.cpp
  src/openrct2/interface/Window.h
Labels: changelog

#20478 Fix #20365: Money cheat supports negative value entry
  distribution/changelog.txt
  src/openrct2/localisation/Localisation.cpp
Labels: changelog
