Repository OpenRCT2/OpenRCT2, pull requests merged in 2023-08, with the labels that each got.

#20670 Fix #20659: Phantom rides when closing construction window while paused
  distribution/changelog.txt
  src/openrct2-ui/windows/MazeConstruction.cpp
  src/openrct2-ui/windows/RideConstruction.cpp
  src/openrct2/network/NetworkBase.cpp
Labels: network version, changelog

#20688 Fix #20684: Footpath additions getting removed by Miniature railway ghost elements
  distribution/changelog.txt
  src/openrct2/actions/TrackPlaceAction.cpp
  src/openrct2/network/NetworkBase.cpp
Labels: network version, changelog

#20687 Fix missing track data
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/ride/TrackData.cpp
Labels: network version

#20694 Fix #17666: Map edge glitches when using mountain near it
  distribution/changelog.txt
  src/openrct2/actions/LandSetHeightAction.cpp
  src/openrct2/network/NetworkBase.cpp
Labels: network version, changelog

#20591 Improve tile inspector
  src/openrct2-ui/WindowManager.cpp
  src/openrct2-ui/interface/Window.cpp
  src/openrct2-ui/interface/Window.h
  src/openrct2-ui/windows/TileInspector.cpp
  src/openrct2/actions/TileModifyAction.cpp
  src/openrct2/paint/Paint.h
  src/openrct2/paint/Painter.cpp
  src/openrct2/paint/tile_element/Paint.Banner.cpp
  src/openrct2/paint/tile_element/Paint.Entrance.cpp
  src/openrct2/paint/tile_element/Paint.LargeScenery.cpp
  src/openrct2/paint/tile_element/Paint.Path.cpp
  src/openrct2/paint/tile_element/Paint.SmallScenery.cpp
  src/openrct2/paint/tile_element/Paint.Surface.cpp
  src/openrct2/paint/tile_element/Paint.Wall.cpp
  src/openrct2/ride/TrackPaint.cpp
  src/openrct2/windows/Intent.h
  src/openrct2/world/TileInspector.cpp
  src/openrct2/world/TileInspector.h
Labels: testing required

#20505 Fix #20496: Relax requirements for compact inverted coasters
  distribution/changelog.txt
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/ride/coaster/meta/CompactInvertedCoaster.h
Labels: network version, changelog
