Repository OpenRCT2/OpenRCT2, pull requests merged in 2023-12, with the labels that each got.

#21010 Refactor in-memory track design element
  src/openrct2-ui/windows/TrackDesignPlace.cpp
  src/openrct2/core/DataSerialiserTraits.h
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/rct1/T4Importer.cpp
  src/openrct2/rct12/RCT12.cpp
  src/openrct2/rct12/RCT12.h
  src/openrct2/rct2/T6Exporter.cpp
  src/openrct2/rct2/T6Importer.cpp
  src/openrct2/ride/Track.h
  src/openrct2/ride/TrackDesign.cpp
  src/openrct2/ride/TrackDesign.h
Labels: network version

#21056 Fix #13473: Lower Circus default price to avoid instant guest complaint
  distribution/changelog.txt
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/ride/gentle/meta/Circus.h
Labels: pending rebase

#21007 Update support drawing for thrill rides and water rides
  src/openrct2/ride/thrill/3dCinema.cpp
  src/openrct2/ride/thrill/Enterprise.cpp
  src/openrct2/ride/thrill/GoKarts.cpp
  src/openrct2/ride/thrill/LaunchedFreefall.cpp
  src/openrct2/ride/thrill/MotionSimulator.cpp
  src/openrct2/ride/thrill/RotoDrop.cpp
  src/openrct2/ride/thrill/SwingingShip.cpp
  src/openrct2/ride/thrill/TopSpin.cpp
  src/openrct2/ride/thrill/Twist.cpp
  src/openrct2/ride/water/RiverRapids.cpp
  src/openrct2/ride/water/SplashBoats.cpp
Labels: refactor

#21087 Add Code of Conduct
  CODE_OF_CONDUCT.md
Labels: discussion

#21058 Close OpenRCT2/OpenRCT2#20830: Display author field on scenery window
  data/language/en-GB.txt
  distribution/changelog.txt
  src/openrct2-ui/windows/Scenery.cpp
  src/openrct2/localisation/StringIds.h
Labels: user interface, changelog

#21096 Fix #12299 Placing ride entrances/exits ignores the Disable Clearance Checks cheat
  distribution/changelog.txt
  src/openrct2/actions/RideEntranceExitPlaceAction.cpp
  src/openrct2/network/NetworkBase.cpp
Labels: network version, changelog

#21099 Consolidate Junior and Water RC track code
  src/openrct2/libopenrct2.vcxproj
  src/openrct2/ride/coaster/JuniorRollerCoaster.cpp
  src/openrct2/ride/coaster/JuniorRollerCoaster.h
  src/openrct2/ride/water/WaterCoaster.cpp
Labels: testing required, squash merge

#21102 Update the money effect even when the game is paused
  distribution/changelog.txt
  src/openrct2/GameState.cpp
  src/openrct2/entity/EntityRegistry.cpp
  src/openrct2/entity/EntityRegistry.h
Labels: changelog

#21125 Fix #21042: SpriteData intialised incorrectly
  distribution/changelog.txt
  src/openrct2/rct1/S4Importer.cpp
Labels: changelog

#20789 Fix #16926 Grouped rides unlocking only the first entry.
  distribution/changelog.txt
  src/openrct2/management/Research.cpp
Labels: testing required, network version

#20812 Contributors reorg
  contributors.md
Labels: squash merge
