Repository OpenRCT2/OpenRCT2, pull requests merged in 2023-11, with the labels that each got.

#20966 Fix #20964: Crash when invalid network group id is used
  distribution/changelog.txt
  src/openrct2/network/NetworkBase.cpp
Labels: changelog

#20756 Fix #20747 handle staff speed permanency/serialization/apply for new s…
  distribution/changelog.txt
  src/openrct2-ui/windows/Cheats.cpp
  src/openrct2/Cheats.cpp
  src/openrct2/Cheats.h
  src/openrct2/actions/StaffHireNewAction.cpp
  src/openrct2/park/ParkFile.h
Labels: pending rebase, network version, changelog, park file version

#20968 Fix #20253, #20799, #20841, #20903, #20915: Crash when displaying a Lay-Down RC’s half loop
  distribution/changelog.txt
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/ride/coaster/CorkscrewRollerCoaster.cpp
Labels: network version, changelog

#19657 Fix #17774: gaps and errors in park boundaries and construction rights for RCT1 and RCT2 scenarios
  distribution/changelog.txt
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/rct2/S6Importer.cpp
Labels: squash merge

#20993 Fix #20624: Clear scrolling text cache on language change
  distribution/changelog.txt
  src/openrct2/localisation/Language.cpp
Labels: changelog
