Repository OpenRCT2/OpenRCT2, pull requests merged in 2023-03, with the labels that each got.

#19422 Remove String::Duplicate
  src/openrct2-ui/TextComposition.cpp
  src/openrct2-ui/windows/ScenarioSelect.cpp
  src/openrct2/core/String.cpp
  src/openrct2/core/String.hpp
  src/openrct2/scenario/ScenarioRepository.cpp
  src/openrct2/scenario/ScenarioRepository.h
Labels: testing required

#11269 steam position modifier and animation speed properties
  distribution/changelog.txt
  src/openrct2/entity/Yaw.hpp
  src/openrct2/libopenrct2.vcxproj
  src/openrct2/math/Trigonometry.hpp
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/object/RideObject.cpp
  src/openrct2/ride/CarEntry.h
  src/openrct2/ride/RideData.cpp
  src/openrct2/ride/Vehicle.cpp
  src/openrct2/ride/Vehicle.h
  src/openrct2/scripting/bindings/object/ScObject.hpp
Labels: squash merge

#19641 Fix missing water tile in Infernal Views
  contributors.md
  distribution/changelog.txt
  src/openrct2/rct2/S6Importer.cpp
Labels: changelog

#19683 Improve ride rating calculation
  CMakeLists.txt
  distribution/changelog.txt
  openrct2.proj
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/park/ParkFile.cpp
  src/openrct2/park/ParkFile.h
  src/openrct2/rct2/S6Importer.cpp
  src/openrct2/ride/RideRatings.cpp
  src/openrct2/ride/RideRatings.h
Labels: changelog

#19697 Fix #19694: Show guest purchases influencing the game state
  CMakeLists.txt
  distribution/changelog.txt
  openrct2.proj
  src/openrct2/GameStateSnapshots.cpp
  src/openrct2/entity/Guest.cpp
  src/openrct2/entity/MoneyEffect.cpp
  src/openrct2/entity/MoneyEffect.h
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/park/ParkFile.cpp
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/rct2/S6Importer.cpp
Labels: network version, changelog

#19757 Fix #19296: Race condition for parallel object loading
  distribution/changelog.txt
  src/openrct2/object/ObjectManager.cpp
Labels: changelog
