Repository OpenRCT2/OpenRCT2, pull requests merged in 2024-09, with the labels that each got.

#22677 Fix FPS tanking on mouse move in load/save window
  distribution/changelog.txt
  src/openrct2-ui/windows/LoadSave.cpp
Labels: changelog

#22669 Allow using construction modifier keys for track design placement
  distribution/changelog.txt
  src/openrct2-ui/windows/TrackDesignPlace.cpp
Labels: changelog

#22493 Update Debian CI to Bookworm, Ubuntu CI to Noble
  .github/workflows/ci.yml
  CMakeLists.txt
  src/openrct2/CMakeLists.txt
Labels: squash merge

#22745 Remove pkg-config install request from macOS CI
  .github/workflows/ci.yml
Labels: build

#22732 Allow staff to use ‘real’ names as well
  data/language/en-GB.txt
  distribution/changelog.txt
  src/openrct2-ui/UiStringIds.h
  src/openrct2-ui/windows/Options.cpp
  src/openrct2/Context.cpp
  src/openrct2/config/Config.cpp
  src/openrct2/config/Config.h
  src/openrct2/entity/Peep.cpp
  src/openrct2/entity/Peep.h
  src/openrct2/world/Park.h
Labels: changelog, squash merge

#22764 TrackData: Group all sequence-bound properties
  src/openrct2-ui/ride/Construction.cpp
  src/openrct2-ui/windows/Ride.cpp
  src/openrct2-ui/windows/RideConstruction.cpp
  src/openrct2-ui/windows/TrackDesignPlace.cpp
  src/openrct2/actions/TrackPlaceAction.cpp
  src/openrct2/actions/TrackRemoveAction.cpp
  src/openrct2/actions/WallPlaceAction.cpp
  src/openrct2/paint/support/WoodenSupports.cpp
  src/openrct2/paint/support/WoodenSupports.h
  src/openrct2/paint/support/WoodenSupports.hpp
  src/openrct2/paint/track/coaster/AirPoweredVerticalCoaster.cpp
  src/openrct2/paint/track/coaster/ClassicWoodenRollerCoaster.cpp
  src/openrct2/paint/track/coaster/MineTrainCoaster.cpp
  src/openrct2/paint/track/coaster/ReverseFreefallCoaster.cpp
  src/openrct2/paint/track/coaster/VirginiaReel.cpp
  src/openrct2/paint/track/gentle/HauntedHouse.cpp
  src/openrct2/paint/track/gentle/SpaceRings.cpp
  src/openrct2/paint/track/shops/Facility.cpp
  src/openrct2/paint/track/shops/Shop.cpp
  src/openrct2/paint/track/thrill/GoKarts.cpp
  src/openrct2/paint/track/water/RiverRapids.cpp
  src/openrct2/paint/track/water/SplashBoats.cpp
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/RideConstruction.cpp
  src/openrct2/ride/Track.cpp
  src/openrct2/ride/Track.h
  src/openrct2/ride/TrackData.cpp
  src/openrct2/ride/TrackData.h
  src/openrct2/ride/TrackDesign.cpp
  src/openrct2/ride/TrackPaint.cpp
  src/openrct2/ride/TrackPaint.h
  src/openrct2/ride/Vehicle.cpp
  src/openrct2/scripting/bindings/ride/ScTrackIterator.cpp
  src/openrct2/scripting/bindings/ride/ScTrackSegment.cpp
  src/openrct2/world/Footpath.cpp
  src/openrct2/world/TileInspector.cpp
Labels: testing required

#22802 Revert transparency option fixes that... weren’t
  distribution/changelog.txt
  src/openrct2-ui/windows/Main.cpp
  src/openrct2-ui/windows/Transparency.cpp
  src/openrct2/config/Config.cpp
Labels: testing required, changelog

#22814 Improve wording of parkpatch PRs on changelog
  distribution/changelog.txt
Labels: squash merge

#22774 Refactor DrawPixelInfo struct to work with close zoom settings
  distribution/changelog.txt
  src/openrct2-ui/WindowManager.cpp
  src/openrct2-ui/drawing/engines/opengl/OpenGLDrawingEngine.cpp
  src/openrct2-ui/drawing/engines/opengl/OpenGLFramebuffer.cpp
  src/openrct2-ui/input/MouseInput.cpp
  src/openrct2-ui/interface/Widget.cpp
  src/openrct2-ui/interface/Window.cpp
  src/openrct2-ui/ride/VehicleSounds.cpp
  src/openrct2-ui/scripting/CustomWindow.cpp
  src/openrct2-ui/scripting/ScViewport.hpp
  src/openrct2-ui/windows/Guest.cpp
  src/openrct2-ui/windows/Main.cpp
  src/openrct2-ui/windows/Map.cpp
  src/openrct2-ui/windows/Player.cpp
  src/openrct2-ui/windows/Ride.cpp
  src/openrct2-ui/windows/Staff.cpp
  src/openrct2-ui/windows/Viewport.cpp
  src/openrct2/CommandLineSprite.cpp
  src/openrct2/drawing/Drawing.Sprite.BMP.cpp
  src/openrct2/drawing/Drawing.Sprite.RLE.cpp
  src/openrct2/drawing/Drawing.Sprite.cpp
  src/openrct2/drawing/Drawing.cpp
  src/openrct2/drawing/Drawing.h
  src/openrct2/drawing/LightFX.cpp
  src/openrct2/drawing/Line.cpp
  src/openrct2/drawing/X8DrawingEngine.cpp
  src/openrct2/entity/EntityTweener.cpp
  src/openrct2/entity/Peep.cpp
  src/openrct2/interface/InteractiveConsole.cpp
  src/openrct2/interface/Screenshot.cpp
  src/openrct2/interface/Viewport.cpp
  src/openrct2/interface/Viewport.h
  src/openrct2/interface/Window.cpp
  src/openrct2/interface/Window.h
  src/openrct2/interface/ZoomLevel.h
  src/openrct2/paint/Paint.Entity.cpp
  src/openrct2/paint/Paint.cpp
  src/openrct2/paint/tile_element/Paint.TileElement.cpp
  src/openrct2/ride/RideAudio.cpp
  src/openrct2/ride/TrackDesign.cpp
Labels: changelog

#22827 Fix calculating wide path status
  distribution/changelog.txt
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/world/Footpath.cpp
Labels: testing required, network version, changelog

#22841 Game Action Removal Z Position
  src/openrct2/actions/LargeSceneryRemoveAction.cpp
  src/openrct2/actions/SmallSceneryRemoveAction.cpp
  src/openrct2/actions/WallRemoveAction.cpp
Labels: testing required, network version

#22819 Feature: #22470: Set default paths for rct1/rct2 saves on Android
  distribution/changelog.txt
  src/openrct2/config/Config.cpp
  src/openrct2/platform/Platform.Android.cpp
  src/openrct2/platform/Platform.Linux.cpp
  src/openrct2/platform/Platform.Win32.cpp
  src/openrct2/platform/Platform.h
  src/openrct2/platform/Platform.macOS.mm
Labels: testing required, changelog

#22311 Fix #22133: Ride time is incorrect for extremely low speeds
  distribution/changelog.txt
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/ride/Vehicle.cpp
Labels: network version

#22830 Speed-up wide path recalculation
  CMakeLists.txt
  openrct2.proj
  src/openrct2/world/Map.cpp
Labels: network version, changelog, replay update

#22847 Fix closer zooms in LightFX.cpp
  src/openrct2/drawing/LightFX.cpp
Labels: testing required

#22735 Rework map generation window
  data/language/en-GB.txt
  distribution/changelog.txt
  resources/g2/icons/map_gen_terrain_tab.png
  resources/g2/sprites.json
  src/openrct2-ui/UiStringIds.h
  src/openrct2-ui/interface/Widget.h
  src/openrct2-ui/windows/EditorBottomToolbar.cpp
  src/openrct2-ui/windows/MapGen.cpp
  src/openrct2-ui/windows/TopToolbar.cpp
  src/openrct2/localisation/StringIds.h
  src/openrct2/sprites.h
  src/openrct2/util/Util.cpp
  src/openrct2/util/Util.h
  src/openrct2/world/MapGen.cpp
  src/openrct2/world/MapGen.h
Labels: testing required, changelog
