Repository OpenRCT2/OpenRCT2, pull requests merged in 2024-04, with the labels that each got.

#21679 Part of #21421: replace define with constexpr
  src/openrct2-ui/input/MouseInput.cpp
  src/openrct2-ui/windows/Footpath.cpp
  src/openrct2-ui/windows/Map.cpp
  src/openrct2-ui/windows/MapGen.cpp
  src/openrct2/Context.cpp
  src/openrct2/GameState.cpp
  src/openrct2/actions/FootpathPlaceAction.cpp
  src/openrct2/actions/GameAction.cpp
  src/openrct2/actions/LandLowerAction.cpp
  src/openrct2/actions/LandRaiseAction.cpp
  src/openrct2/actions/LandSetHeightAction.cpp
  src/openrct2/config/Config.cpp
  src/openrct2/entity/Staff.cpp
  src/openrct2/interface/Viewport.cpp
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/paint/support/MetalSupports.cpp
  src/openrct2/paint/support/WoodenSupports.cpp
  src/openrct2/paint/tile_element/Paint.SmallScenery.cpp
  src/openrct2/paint/tile_element/Paint.Surface.cpp
  src/openrct2/rct12/RCT12.cpp
  src/openrct2/ride/VehicleRiderControl.cpp
  src/openrct2/scenario/Scenario.cpp
  src/openrct2/scenario/Scenario.h
  src/openrct2/title/Command/LoadScenario.h
  src/openrct2/world/Map.h
  src/openrct2/world/MapGen.cpp
  src/openrct2/world/Scenery.h
  src/openrct2/world/SmallScenery.cpp
  src/openrct2/world/Surface.cpp
  src/openrct2/world/Surface.h
  src/openrct2/world/TileElement.h
  src/openrct2/world/TileElementBase.cpp
Labels: squash merge

#21769 Expose “animation is backwards” flag in Tile Inspector
  data/language/en-GB.txt
  distribution/changelog.txt
  src/openrct2-ui/windows/TileInspector.cpp
  src/openrct2/actions/TileModifyAction.cpp
  src/openrct2/actions/TileModifyAction.h
  src/openrct2/localisation/StringIds.h
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/world/TileInspector.cpp
  src/openrct2/world/TileInspector.h
Labels: network version, changelog

#21715 Revert "Add owner property to tile elements for scripting"
  distribution/changelog.txt
  distribution/openrct2.d.ts
  src/openrct2/scripting/bindings/world/ScTileElement.cpp
  src/openrct2/scripting/bindings/world/ScTileElement.hpp
Labels: plug-in

#21736 Fix Cars in doors
  distribution/changelog.txt
  src/openrct2/paint/tile_element/Paint.Wall.cpp
Labels: testing required

#21798 Fix #21787: Map generator heightmap should respect increased height limits
  distribution/changelog.txt
  src/openrct2-ui/windows/MapGen.cpp
Labels: changelog

#21844 Make usage of Audio namespace explicit in Context
  src/openrct2/Context.cpp
Labels: squash merge

#21841 Fix #21837: Formatter being overwritten - RideConstruction.cpp
  src/openrct2-ui/windows/RideConstruction.cpp
Labels: testing required

#21770 Close #11512: Add coloured usernames in multiplayer servers by group
  distribution/changelog.txt
  src/openrct2/network/NetworkBase.cpp
Labels: changelog, squash merge

#21839 Refactor constant notation in Audio.h
  src/openrct2-ui/ride/VehicleSounds.cpp
  src/openrct2/audio/Audio.cpp
  src/openrct2/audio/audio.h
  src/openrct2/object/ObjectFactory.cpp
  src/openrct2/ride/RideAudio.cpp
Labels: squash merge

#21851 Replace INVALID_IMAGE_ID with ImageIndexUndefined
  src/openrct2/drawing/Image.cpp
Labels: refactor

#21846 Close #18305: Move Translate3DTo2DWithZ() from Map.h into Viewport.h
  contributors.md
  src/openrct2-ui/windows/RideConstruction.cpp
  src/openrct2/interface/Viewport.cpp
  src/openrct2/interface/Viewport.h
  src/openrct2/ride/RideAudio.cpp
  src/openrct2/ride/TrackDesign.cpp
  src/openrct2/world/Map.cpp
  src/openrct2/world/Map.h
Labels: squash merge

#21896 Use macos-12 runners for macOS jobs
  .github/workflows/ci.yml
Labels: build, macOS (OS)

#21653 Move Text input widget to Ui library
  src/openrct2-ui/TextComposition.cpp
  src/openrct2-ui/input/InputManager.cpp
  src/openrct2-ui/input/MouseInput.cpp
  src/openrct2-ui/interface/Widget.cpp
  src/openrct2-ui/interface/Window.cpp
  src/openrct2-ui/interface/Window.h
  src/openrct2-ui/scripting/CustomWindow.cpp
  src/openrct2-ui/windows/EditorObjectSelection.cpp
  src/openrct2-ui/windows/NewRide.cpp
  src/openrct2-ui/windows/Scenery.cpp
  src/openrct2-ui/windows/ServerList.cpp
  src/openrct2-ui/windows/ServerStart.cpp
  src/openrct2-ui/windows/TextInput.cpp
  src/openrct2-ui/windows/TrackList.cpp
  src/openrct2/interface/Window.cpp
  src/openrct2/interface/Window.h
Labels: testing required

#21888 Refactor logic into scenes (IntroScene/TitleScene/GameScene)
  src/openrct2-ui/UiContext.cpp
  src/openrct2-ui/drawing/engines/opengl/OpenGLDrawingEngine.cpp
  src/openrct2-ui/input/Shortcuts.cpp
  src/openrct2-ui/scripting/ScTitleSequence.hpp
  src/openrct2-ui/title/TitleSequencePlayer.cpp
  src/openrct2-ui/windows/EditorObjectSelection.cpp
  src/openrct2-ui/windows/LoadSave.cpp
  src/openrct2-ui/windows/Options.cpp
  src/openrct2-ui/windows/TitleExit.cpp
  src/openrct2-ui/windows/TitleOptions.cpp
  src/openrct2/Context.cpp
  src/openrct2/Context.h
  src/openrct2/Game.cpp
  src/openrct2/GameState.cpp
  src/openrct2/Intro.cpp
  src/openrct2/audio/Audio.cpp
  src/openrct2/drawing/X8DrawingEngine.cpp
  src/openrct2/interface/Screenshot.cpp
  src/openrct2/libopenrct2.vcxproj
  src/openrct2/paint/Painter.cpp
  src/openrct2/scenes/Scene.cpp
  src/openrct2/scenes/Scene.h
  src/openrct2/scenes/game/GameScene.cpp
  src/openrct2/scenes/game/GameScene.h
  src/openrct2/scenes/intro/IntroScene.cpp
  src/openrct2/scenes/intro/IntroScene.h
  src/openrct2/scenes/title/Command/End.cpp
  src/openrct2/scenes/title/Command/End.h
  src/openrct2/scenes/title/Command/FollowEntity.cpp
  src/openrct2/scenes/title/Command/FollowEntity.h
  src/openrct2/scenes/title/Command/LoadPark.cpp
  src/openrct2/scenes/title/Command/LoadPark.h
  src/openrct2/scenes/title/Command/LoadScenario.cpp
  src/openrct2/scenes/title/Command/LoadScenario.h
  src/openrct2/scenes/title/Command/Restart.cpp
  src/openrct2/scenes/title/Command/Restart.h
  src/openrct2/scenes/title/Command/RotateView.cpp
  src/openrct2/scenes/title/Command/RotateView.h
  src/openrct2/scenes/title/Command/SetLocation.cpp
  src/openrct2/scenes/title/Command/SetLocation.h
  src/openrct2/scenes/title/Command/SetSpeed.cpp
  src/openrct2/scenes/title/Command/SetSpeed.h
  src/openrct2/scenes/title/Command/SetZoom.cpp
  src/openrct2/scenes/title/Command/SetZoom.h
  src/openrct2/scenes/title/Command/Wait.cpp
  src/openrct2/scenes/title/Command/Wait.h
  src/openrct2/scenes/title/TitleScene.cpp
  src/openrct2/scenes/title/TitleScene.h
  src/openrct2/scenes/title/TitleSequence.cpp
  src/openrct2/scenes/title/TitleSequence.h
  src/openrct2/scenes/title/TitleSequenceManager.cpp
  src/openrct2/scenes/title/TitleSequenceManager.h
  src/openrct2/scenes/title/TitleSequencePlayer.h
  src/openrct2/util/Util.cpp
Labels: squash merge

#21911 Close #7226: Remove duplicate sprite_map in TrackPaint.cpp
  src/openrct2/ride/TrackPaint.cpp
  src/openrct2/ride/TrackPaint.h
  src/openrct2/ride/transport/MiniatureRailway.cpp
Labels: refactor

#21747 Close #21728: Apply "Fix all rides" even if mechanic is already working
  distribution/changelog.txt
  src/openrct2/actions/CheatSetAction.cpp
Labels: testing required

#21925 Fix two error messages when placing wall
  distribution/changelog.txt
  src/openrct2/actions/WallPlaceAction.cpp
Labels: changelog

#21683 Move a number of ui only updates into UiContext tick
  src/openrct2-ui/UiContext.cpp
  src/openrct2-ui/windows/GuestList.cpp
  src/openrct2-ui/windows/Map.cpp
  src/openrct2-ui/windows/StaffList.cpp
  src/openrct2/Context.cpp
  src/openrct2/Context.h
  src/openrct2/GameState.cpp
  src/openrct2/interface/Window.cpp
  src/openrct2/interface/Window.h
  src/openrct2/scenes/title/TitleScene.cpp
Labels: testing required

#21887 Fix #21870: Demolishing flat ride in pause mode allows copies
  distribution/changelog.txt
  src/openrct2-ui/windows/RideConstruction.cpp
Labels: testing required

#21850 Small backport of changes for #15314
  data/language/en-GB.txt
  src/openrct2-ui/windows/RideConstruction.cpp
  src/openrct2/actions/TrackPlaceAction.cpp
  src/openrct2/actions/TrackSetBrakeSpeedAction.cpp
  src/openrct2/localisation/StringIds.h
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/ride/RideConstruction.cpp
  src/openrct2/ride/RideConstruction.h
  src/openrct2/ride/RideData.h
  src/openrct2/ride/Track.h
  src/openrct2/windows/_legacy.cpp
Labels: network version
