Repository OpenRCT2/OpenRCT2, pull requests merged in 2024-10, with the labels that each got.

#22874 debian/rules: Limit compilation threads on armhf
  debian/rules
Labels: squash merge

#22842 Large scenery object tiles for scripting
  distribution/changelog.txt
  distribution/openrct2.d.ts
  src/openrct2/scripting/ScriptEngine.cpp
  src/openrct2/scripting/ScriptEngine.h
  src/openrct2/scripting/bindings/object/ScObject.hpp
Labels: plug-in, plugin api version

#22881 Fix #22880: macOS builds lack asset packs and scenario patches
  distribution/changelog.txt
  src/openrct2-ui/CMakeLists.txt
Labels: squash merge

#22883 Add Park.generateGuest() to plugin API
  contributors.md
  distribution/changelog.txt
  distribution/openrct2.d.ts
  src/openrct2/scripting/ScriptEngine.h
  src/openrct2/scripting/bindings/world/ScPark.cpp
  src/openrct2/scripting/bindings/world/ScPark.hpp
Labels: changelog, plugin api version

#20539 Added additional stats to Plugin interface
  distribution/changelog.txt
  distribution/openrct2.d.ts
  src/openrct2-ui/windows/InstallTrack.cpp
  src/openrct2-ui/windows/Ride.cpp
  src/openrct2-ui/windows/TrackList.cpp
  src/openrct2/localisation/FormatCodes.cpp
  src/openrct2/localisation/FormatCodes.h
  src/openrct2/localisation/Formatting.cpp
  src/openrct2/rct2/RCT2.h
  src/openrct2/ride/Ride.h
  src/openrct2/ride/RideRatings.cpp
  src/openrct2/ride/TrackDesign.cpp
  src/openrct2/scenario/Scenario.cpp
  src/openrct2/scripting/ScriptEngine.h
  src/openrct2/scripting/bindings/ride/ScRide.cpp
  src/openrct2/scripting/bindings/ride/ScRide.hpp
  src/openrct2/util/Util.cpp
  src/openrct2/util/Util.h
  test/tests/FormattingTests.cpp
Labels: squash merge

#22910 Fix #22737: Strip debug info from libopenrct2.so
  .github/workflows/ci.yml
Labels: build, Linux (OS)

#22928 Clean up Mini Golf vehicle code
  src/openrct2/ride/Vehicle.cpp
  src/openrct2/ride/Vehicle.h
Labels: testing required

#22836 Refactor spatial indexing to be its own phase
  CMakeLists.txt
  openrct2.proj
  src/openrct2/GameState.cpp
  src/openrct2/entity/EntityBase.cpp
  src/openrct2/entity/EntityBase.h
  src/openrct2/entity/EntityRegistry.cpp
  src/openrct2/entity/EntityRegistry.h
  src/openrct2/entity/EntityTweener.cpp
  src/openrct2/network/NetworkBase.cpp
Labels: testing required, network version, replay update

#22962 Fix fuzzy horizontal-to-vertical line transitions in charts
  distribution/changelog.txt
  src/openrct2/drawing/Line.cpp
Labels: changelog, squash merge

#22888 Large scenery tiles 2
  src/openrct2-ui/windows/Scenery.cpp
  src/openrct2/actions/LargeSceneryPlaceAction.cpp
  src/openrct2/actions/LargeSceneryPlaceAction.h
  src/openrct2/actions/LargeSceneryRemoveAction.cpp
  src/openrct2/actions/LargeScenerySetColourAction.cpp
  src/openrct2/actions/WallPlaceAction.cpp
  src/openrct2/object/LargeSceneryEntry.h
  src/openrct2/object/LargeSceneryObject.cpp
  src/openrct2/object/LargeSceneryObject.h
  src/openrct2/paint/tile_element/Paint.LargeScenery.cpp
  src/openrct2/ride/TrackDesign.cpp
  src/openrct2/ride/TrackDesignSave.cpp
  src/openrct2/scripting/bindings/object/ScObject.hpp
  src/openrct2/scripting/bindings/world/ScTileElement.cpp
  src/openrct2/world/Map.cpp
  src/openrct2/world/TileInspector.cpp
  src/openrct2/world/tile_element/LargeSceneryElement.cpp
Labels: testing required

#23015 Close windows before loading another save
  distribution/changelog.txt
  src/openrct2-ui/windows/LoadSave.cpp
Labels: changelog

#22969 Refactor build uploads
  .github/workflows/ci.yml
  scripts/upload-build
Labels: build

#23032 Fix #23023. Large Scenery Clearance
  distribution/changelog.txt
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/object/LargeSceneryObject.cpp
Labels: squash merge

#23041 Fix #22920: Crash when sacking a staff member
  distribution/changelog.txt
  src/openrct2-ui/windows/StaffFirePrompt.cpp
Labels: squash merge

#23085 Fix Lim Launched RC medium half loops from clipping in to eachother
  distribution/changelog.txt
  src/openrct2/paint/track/coaster/LimLaunchedRollerCoaster.cpp
  src/openrct2/paint/vehicle/VehiclePaint.cpp
Labels: changelog
