Repository OpenRCT2/OpenRCT2, pull requests merged in 2024-05, with the labels that each got.

#21920 Scripting: when changing staff type, reset state to walking
  src/openrct2/scripting/bindings/entity/ScStaff.cpp
Labels: testing required

#21948 Update Steam path detection for Linux
  src/openrct2/platform/Platform.Android.cpp
  src/openrct2/platform/Platform.Linux.cpp
  src/openrct2/platform/Platform.Posix.cpp
  src/openrct2/platform/Platform.macOS.mm
Labels: Linux (OS)

#21977 fix: add algorithm include to fix gcc14 compile
  src/openrct2/core/FileWatcher.cpp
Labels: build

#21981 Rework map window to take map size into account
  distribution/changelog.txt
  src/openrct2-ui/windows/Map.cpp
Labels: testing required, changelog

#21993 Remove <algorithm> include from Location.hpp
  src/openrct2-ui/interface/InGameConsole.cpp
  src/openrct2-ui/windows/Error.cpp
  src/openrct2-ui/windows/MapGen.cpp
  src/openrct2-ui/windows/SceneryScatter.cpp
  src/openrct2-ui/windows/Tooltip.cpp
  src/openrct2/actions/FootpathPlaceAction.cpp
  src/openrct2/world/Location.hpp
Labels: build

#21760 Part of #21421: replace define with constexpr
  src/openrct2-ui/windows/AssetPacks.cpp
  src/openrct2-ui/windows/Cheats.cpp
  src/openrct2-ui/windows/CustomCurrency.cpp
  src/openrct2-ui/windows/EditorInventionsList.cpp
  src/openrct2-ui/windows/EditorObjectSelection.cpp
  src/openrct2-ui/windows/Finances.cpp
  src/openrct2-ui/windows/GuestList.cpp
  src/openrct2-ui/windows/LoadSave.cpp
  src/openrct2-ui/windows/Multiplayer.cpp
  src/openrct2-ui/windows/ObjectLoadError.cpp
  src/openrct2-ui/windows/Park.cpp
  src/openrct2-ui/windows/Ride.cpp
  src/openrct2-ui/windows/RideList.cpp
  src/openrct2-ui/windows/ShortcutKeys.cpp
  src/openrct2-ui/windows/StaffList.cpp
  src/openrct2-ui/windows/TileInspector.cpp
  src/openrct2-ui/windows/TrackList.cpp
  src/openrct2/GameState.h
  src/openrct2/actions/CheatSetAction.cpp
  src/openrct2/entity/Guest.cpp
  src/openrct2/entity/Peep.cpp
  src/openrct2/interface/Fonts.h
  src/openrct2/interface/Window.h
  src/openrct2/localisation/Currency.cpp
  src/openrct2/localisation/Currency.h
  src/openrct2/localisation/Formatting.cpp
  src/openrct2/localisation/Language.h
  src/openrct2/localisation/Localisation.h
  src/openrct2/management/Finance.cpp
  src/openrct2/management/Finance.h
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/object/Object.h
  src/openrct2/paint/Paint.h
  src/openrct2/paint/tile_element/Paint.Surface.cpp
  src/openrct2/paint/tile_element/Paint.TileElement.cpp
  src/openrct2/park/ParkFile.cpp
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/rct2/S6Importer.cpp
  src/openrct2/ride/CableLift.cpp
  src/openrct2/ride/Vehicle.cpp
  src/openrct2/scenario/Scenario.cpp
  src/openrct2/scenes/title/Command/FollowEntity.h
  src/openrct2/scenes/title/TitleSequence.cpp
  src/openrct2/util/Util.cpp
  src/openrct2/util/Util.h
  src/openrct2/world/Park.cpp
  src/openrct2/world/Park.h
Labels: squash merge

#21994 Reduce inclusion of FixedVector.h
  src/openrct2-ui/windows/NewCampaign.cpp
  src/openrct2/paint/Paint.h
  src/openrct2/ride/RideConstruction.cpp
Labels: build

#21980 Close #21974: No reason specified when attempting to place path additions on junctions
  contributors.md
  data/language/en-GB.txt
  distribution/changelog.txt
  src/openrct2/actions/FootpathAdditionPlaceAction.cpp
  src/openrct2/localisation/StringIds.h
Labels: squash merge

#21983 Re-introduce message on successful screenshot
  distribution/changelog.txt
  src/openrct2-ui/WindowManager.cpp
  src/openrct2-ui/windows/Error.cpp
  src/openrct2-ui/windows/Window.h
  src/openrct2/Context.cpp
  src/openrct2/Context.h
  src/openrct2/interface/Screenshot.cpp
  src/openrct2/ui/DummyWindowManager.cpp
  src/openrct2/ui/WindowManager.h
Labels: changelog

#21989 Optionally align the top toolbar buttons horizontally centred
  data/language/en-GB.txt
  distribution/changelog.txt
  src/openrct2-ui/interface/Widget.cpp
  src/openrct2-ui/interface/Window.cpp
  src/openrct2-ui/windows/Options.cpp
  src/openrct2-ui/windows/TopToolbar.cpp
  src/openrct2/config/Config.cpp
  src/openrct2/config/Config.h
  src/openrct2/interface/Widget.h
  src/openrct2/interface/Window.cpp
  src/openrct2/interface/Window.h
  src/openrct2/localisation/StringIds.h
  src/openrct2/paint/Painter.cpp
Labels: changelog

#22012 Fix: #22007 - Allow for ImgButton to be updated.
  distribution/changelog.txt
  src/openrct2-ui/scripting/ScWidget.hpp
Labels: changelog

#22025 Clean up more diagonal track drawing
  src/openrct2/ride/TrackPaint.cpp
  src/openrct2/ride/TrackPaint.h
  src/openrct2/ride/coaster/CorkscrewRollerCoaster.hpp
  src/openrct2/ride/coaster/GigaCoaster.cpp
  src/openrct2/ride/coaster/HybridCoaster.cpp
  src/openrct2/ride/coaster/JuniorRollerCoaster.cpp
  src/openrct2/ride/coaster/LoopingRollerCoaster.cpp
  src/openrct2/ride/coaster/MineRide.cpp
  src/openrct2/ride/coaster/MineTrainCoaster.cpp
  src/openrct2/ride/coaster/MiniRollerCoaster.cpp
  src/openrct2/ride/coaster/SideFrictionRollerCoaster.cpp
  src/openrct2/ride/coaster/SingleRailRollerCoaster.cpp
  src/openrct2/ride/coaster/StandUpRollerCoaster.cpp
  src/openrct2/ride/coaster/Steeplechase.cpp
  src/openrct2/ride/coaster/WoodenRollerCoaster.cpp
  src/openrct2/ride/transport/MiniatureRailway.cpp
  src/openrct2/ride/transport/Monorail.cpp
Labels: testing required

#22031 Fix compilation on Arch Linux with GCC 14
  src/openrct2-ui/drawing/engines/opengl/OpenGLDrawingEngine.cpp
  src/openrct2-ui/windows/ShortcutKeys.cpp
  src/openrct2/core/Algorithm.hpp
  src/openrct2/core/Imaging.cpp
  src/openrct2/drawing/X8DrawingEngine.cpp
  src/openrct2/entity/EntityTweener.cpp
  src/openrct2/object/Object.cpp
  src/openrct2/object/ObjectTypes.cpp
  src/openrct2/paint/Paint.h
  src/openrct2/util/Util.cpp
Labels: build, Linux (OS)

#21986 Let heavy snow and blizzards make guests buy and use umbrellas
  distribution/changelog.txt
  src/openrct2/entity/Guest.cpp
  src/openrct2/world/Climate.cpp
  src/openrct2/world/Climate.h
Labels: changelog, squash merge

#21627 Create or delete banners when tile elements are changed by plugins
  distribution/changelog.txt
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/scripting/ScriptEngine.h
  src/openrct2/scripting/bindings/world/ScTile.cpp
  src/openrct2/scripting/bindings/world/ScTileElement.cpp
  src/openrct2/scripting/bindings/world/ScTileElement.hpp
Labels: network version, changelog

#21214 Change Wacky Worlds and Time Twister's scenario names to match their park names.
  data/language/en-GB.txt
  distribution/changelog.txt
Labels: on hold

#21853 Add enlarged UI
  data/language/en-GB.txt
  distribution/changelog.txt
  src/openrct2-ui/UiStringIds.h
  src/openrct2-ui/interface/Dropdown.h
  src/openrct2-ui/windows/Dropdown.cpp
  src/openrct2-ui/windows/Options.cpp
  src/openrct2-ui/windows/Ride.cpp
  src/openrct2/config/Config.cpp
  src/openrct2/config/Config.h
Labels: changelog

#22057 Change difficulty order for Time Twister scenarios
  distribution/changelog.txt
  src/openrct2/scenario/ScenarioSources.cpp
Labels: changelog

#22084 Pause the game while LoadSave window is open
  distribution/changelog.txt
  src/openrct2-ui/windows/LoadSave.cpp
Labels: changelog

#22060 Refactor WindowOtherWheelInput to be safer and script window compatible
  distribution/changelog.txt
  src/openrct2-ui/interface/Window.cpp
  src/openrct2-ui/scripting/CustomWindow.cpp
Labels: changelog

#22065 Introduce progress/loader window
  data/language/ar-EG.txt
  data/language/ca-ES.txt
  data/language/cs-CZ.txt
  data/language/da-DK.txt
  data/language/de-DE.txt
  data/language/en-GB.txt
  data/language/eo-ZZ.txt
  data/language/es-ES.txt
  data/language/fi-FI.txt
  data/language/fr-FR.txt
  data/language/hu-HU.txt
  data/language/it-IT.txt
  data/language/ja-JP.txt
  data/language/ko-KR.txt
  data/language/nb-NO.txt
  data/language/nl-NL.txt
  data/language/pl-PL.txt
  data/language/pt-BR.txt
  data/language/sv-SE.txt
  data/language/tr-TR.txt
  data/language/uk-UA.txt
  data/language/vi-VN.txt
  data/language/zh-CN.txt
  data/language/zh-TW.txt
  distribution/changelog.txt
  resources/g2/loader/loader_hybrid_supports.png
  resources/g2/loader/loader_hybrid_track.png
  resources/g2/loader/loader_hybrid_vehicle.png
  resources/g2/loader/loader_steel_supports.png
  resources/g2/loader/loader_steel_track.png
  resources/g2/loader/loader_steel_vehicle.png
  resources/g2/loader/loader_wooden_supports.png
  resources/g2/loader/loader_wooden_track.png
  resources/g2/loader/loader_wooden_vehicle.png
  resources/g2/sprites.json
  src/openrct2-ui/WindowManager.cpp
  src/openrct2-ui/interface/Theme.cpp
  src/openrct2-ui/libopenrct2ui.vcxproj
  src/openrct2-ui/windows/NetworkStatus.cpp
  src/openrct2-ui/windows/ProgressWindow.cpp
  src/openrct2-ui/windows/Themes.cpp
  src/openrct2-ui/windows/Window.h
  src/openrct2/Context.cpp
  src/openrct2/Context.h
  src/openrct2/core/FileIndex.hpp
  src/openrct2/interface/WindowClasses.h
  src/openrct2/localisation/StringIds.h
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/scenes/preloader/PreloaderScene.cpp
  src/openrct2/scenes/preloader/PreloaderScene.h
  src/openrct2/scenes/title/TitleScene.cpp
  src/openrct2/sprites.h
  src/openrct2/windows/Intent.h
Labels: changelog

#22121 Fix text colour in Recent Messages
  distribution/changelog.txt
  src/openrct2-ui/windows/News.cpp
Labels: changelog

#22122 Rework (preloader) scene completion functionality
  src/openrct2/Context.cpp
  src/openrct2/scenes/Scene.cpp
  src/openrct2/scenes/Scene.h
  src/openrct2/scenes/title/TitleScene.cpp
Labels: squash merge
