Repository OpenRCT2/OpenRCT2, pull requests merged in 2024-01, with the labels that each got.

#21085 TrackDesign: Refactor entrances and constants
  src/openrct2-ui/windows/TrackDesignPlace.cpp
  src/openrct2/Context.cpp
  src/openrct2/Limits.h
  src/openrct2/actions/TrackDesignAction.cpp
  src/openrct2/core/DataSerialiserTraits.h
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/rct1/T4Importer.cpp
  src/openrct2/rct12/RCT12.cpp
  src/openrct2/rct12/RCT12.h
  src/openrct2/rct2/Limits.h
  src/openrct2/rct2/RCT2.cpp
  src/openrct2/rct2/RCT2.h
  src/openrct2/rct2/S6Importer.cpp
  src/openrct2/rct2/T6Exporter.cpp
  src/openrct2/rct2/T6Importer.cpp
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/Ride.h
  src/openrct2/ride/TrackDesign.cpp
  src/openrct2/ride/TrackDesign.h
  src/openrct2/ride/TrackDesignSave.cpp
  src/openrct2/scenario/ScenarioRepository.cpp
  test/tests/S6ImportExportTests.cpp
Labels: refactor

#21187 Fix #20616 Confirmation button in track designer's quit prompt has the wrong text
  distribution/changelog.txt
  src/openrct2-ui/windows/SavePrompt.cpp
Labels: changelog

#21198 Fix check for tracktype
  distribution/changelog.txt
  src/openrct2/scripting/bindings/world/ScTileElement.cpp
Labels: plug-in, changelog, squash merge

#21213 Fix: #20628: Stop caret left moving off the input string
  distribution/changelog.txt
  src/openrct2-ui/TextComposition.cpp
Labels: testing required, changelog, squash merge

#21223 Fix #21054: `No entrance` style selected by default in track designer
  distribution/changelog.txt
  src/openrct2/EditorObjectSelectionSession.cpp
Labels: testing required, squash merge

#21062 Add Plugin API for managing a guest's items
  distribution/changelog.txt
  distribution/openrct2.d.ts
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/scripting/ScriptEngine.h
  src/openrct2/scripting/bindings/entity/ScGuest.cpp
  src/openrct2/scripting/bindings/entity/ScGuest.hpp
Labels: plug-in, changelog

#21055 Fix #20196: New scenarios start with an incorrect temperature
  distribution/changelog.txt
  src/openrct2/actions/ClimateSetAction.cpp
Labels: testing required, changelog

#21261 Move most gScenario* globals to GameState_t
  src/openrct2-ui/input/Shortcuts.cpp
  src/openrct2-ui/scripting/ScTitleSequence.hpp
  src/openrct2-ui/windows/EditorBottomToolbar.cpp
  src/openrct2-ui/windows/EditorObjectiveOptions.cpp
  src/openrct2-ui/windows/Finances.cpp
  src/openrct2-ui/windows/Park.cpp
  src/openrct2-ui/windows/SavePrompt.cpp
  src/openrct2-ui/windows/TopToolbar.cpp
  src/openrct2/Context.cpp
  src/openrct2/Editor.cpp
  src/openrct2/GameState.cpp
  src/openrct2/GameState.h
  src/openrct2/actions/CheatSetAction.cpp
  src/openrct2/actions/RideCreateAction.cpp
  src/openrct2/command_line/ConvertCommand.cpp
  src/openrct2/management/Finance.cpp
  src/openrct2/park/ParkFile.cpp
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/rct2/S6Importer.cpp
  src/openrct2/scenario/Scenario.cpp
  src/openrct2/scenario/Scenario.h
  src/openrct2/scripting/bindings/world/ScScenario.hpp
  src/openrct2/world/Park.cpp
Labels: squash merge

#21200 Raise lift speeds for RCT1 parity
  distribution/changelog.txt
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/ride/coaster/meta/ReverserRollerCoaster.h
  src/openrct2/ride/coaster/meta/SideFrictionRollerCoaster.h
  src/openrct2/ride/coaster/meta/VirginiaReel.h
Labels: network version

#21265 Move banners to GameState_t
  src/openrct2/GameState.cpp
  src/openrct2/GameState.h
  src/openrct2/world/Banner.cpp
  src/openrct2/world/Banner.h
Labels: squash merge

#21266 Close #21184: Draw selection square on water
  distribution/changelog.txt
  src/openrct2/paint/tile_element/Paint.Surface.cpp
Labels: changelog

#21179 Fix additional missing land/construction rights tiles in WW's Inca Lost City & Renovation
  distribution/changelog.txt
  src/openrct2/rct2/S6Importer.cpp
Labels: squash merge

#21293 Fix #21291: Wrong conditions for hungry guests warning
  distribution/changelog.txt
  src/openrct2/entity/Peep.cpp
Labels: changelog

#21301 Fix #21290: Sound keeps playing when paused from fast-forward mode
  distribution/changelog.txt
  src/openrct2/GameState.cpp
Labels: changelog

#20996 IME text composition box deactivated
  distribution/changelog.txt
  src/openrct2-ui/TextComposition.cpp
  src/openrct2-ui/windows/TextInput.cpp
Labels: changelog
