Repository OpenRCT2/OpenRCT2, pull requests merged in 2024-02, with the labels that each got.

#21306 Render selection grid for Map ownership on the water
  distribution/changelog.txt
  src/openrct2-ui/windows/Map.cpp
Labels: changelog

#21279 Use new WoodenASupportsPaintSetup() overloads for Hybrid Coaster
  src/openrct2/paint/Supports.h
  src/openrct2/ride/coaster/HybridCoaster.cpp
Labels: testing required

#21309 Fix park boundaries for out-of-bounds monorails in Africa - Oasis & Blackpool Pleasure Beach
  distribution/changelog.txt
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/rct2/S6Importer.cpp
Labels: squash merge

#21091 Add Community Guidelines
  CODE_OF_CONDUCT.md
  CommunityGuidelines.md
Labels: discussion, squash merge

#21192 Make tooltips follow the cursor and refactor code
  distribution/changelog.txt
  src/openrct2-ui/windows/Tooltip.cpp
Labels: changelog

#21130 Fix: Research table in LL parks imported incompletely
  distribution/changelog.txt
  src/openrct2/rct1/RCT1.h
  src/openrct2/rct1/S4Importer.cpp
Labels: changelog

#21336 Fix #21330: Tooltips from dropdown widgets have the wrong position
  distribution/changelog.txt
  src/openrct2-ui/input/MouseInput.cpp
Labels: testing required

#21391 Fix #21286: Cannot build unbanking turns with RCT1 vehicles
  distribution/changelog.txt
  src/openrct2/ride/Ride.cpp
Labels: changelog

#21386 Fix #21318: VirtualFloor not properly invalidated
  distribution/changelog.txt
  src/openrct2/paint/VirtualFloor.cpp
Labels: changelog

#21363 Fix #21288: Overlapping text in the About window
  distribution/changelog.txt
  src/openrct2-ui/windows/About.cpp
Labels: changelog

#21388 Allow tooltips to show up when an error window is present
  distribution/changelog.txt
  src/openrct2-ui/windows/Tooltip.cpp
Labels: changelog

#20709 Added API for getAllPlugins
  contributors.md
  distribution/changelog.txt
  distribution/openrct2.d.ts
  src/openrct2/libopenrct2.vcxproj
  src/openrct2/scripting/ScriptEngine.cpp
  src/openrct2/scripting/ScriptEngine.h
  src/openrct2/scripting/bindings/game/ScPlugin.hpp
Labels: changelog, plugin api version

#21412 Refactor even more wooden supports
  src/openrct2/paint/Supports.cpp
  src/openrct2/paint/Supports.h
  src/openrct2/ride/TrackPaint.cpp
  src/openrct2/ride/coaster/AirPoweredVerticalCoaster.cpp
  src/openrct2/ride/coaster/ClassicWoodenRollerCoaster.cpp
  src/openrct2/ride/coaster/HybridCoaster.cpp
  src/openrct2/ride/coaster/MineTrainCoaster.cpp
  src/openrct2/ride/coaster/ReverseFreefallCoaster.cpp
  src/openrct2/ride/coaster/ReverserRollerCoaster.cpp
  src/openrct2/ride/coaster/SideFrictionRollerCoaster.cpp
  src/openrct2/ride/coaster/VirginiaReel.cpp
  src/openrct2/ride/coaster/WoodenRollerCoaster.cpp
  src/openrct2/ride/coaster/WoodenRollerCoaster.h
  src/openrct2/ride/coaster/WoodenWildMouse.cpp
  src/openrct2/ride/gentle/CarRide.cpp
  src/openrct2/ride/gentle/Circus.cpp
  src/openrct2/ride/gentle/CrookedHouse.cpp
  src/openrct2/ride/gentle/Dodgems.cpp
  src/openrct2/ride/gentle/FerrisWheel.cpp
  src/openrct2/ride/gentle/FlyingSaucers.cpp
  src/openrct2/ride/gentle/GhostTrain.cpp
  src/openrct2/ride/gentle/HauntedHouse.cpp
  src/openrct2/ride/gentle/Maze.cpp
  src/openrct2/ride/gentle/MerryGoRound.cpp
  src/openrct2/ride/gentle/MiniGolf.cpp
  src/openrct2/ride/gentle/MiniHelicopters.cpp
  src/openrct2/ride/gentle/ObservationTower.cpp
  src/openrct2/ride/gentle/SpaceRings.cpp
  src/openrct2/ride/gentle/SpiralSlide.cpp
  src/openrct2/ride/transport/Chairlift.cpp
  src/openrct2/ride/transport/MiniatureRailway.cpp
  src/openrct2/ride/water/SplashBoats.cpp
Labels: testing required

#21325 Fix #21039: Text rendering bleeds pixels through windows
  distribution/changelog.txt
  src/openrct2/drawing/Drawing.String.cpp
  src/openrct2/drawing/TTF.cpp
  src/openrct2/drawing/TTF.h
Labels: testing required, changelog

#21429 Move gBankLoan and gBankLoanInterestRate to GameState_t
  src/openrct2-ui/windows/EditorScenarioOptions.cpp
  src/openrct2-ui/windows/Finances.cpp
  src/openrct2/Editor.cpp
  src/openrct2/GameState.h
  src/openrct2/actions/CheatSetAction.cpp
  src/openrct2/actions/ParkSetLoanAction.cpp
  src/openrct2/actions/ScenarioSetSettingAction.cpp
  src/openrct2/interface/InteractiveConsole.cpp
  src/openrct2/management/Finance.cpp
  src/openrct2/management/Finance.h
  src/openrct2/park/ParkFile.cpp
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/rct2/S6Importer.cpp
  src/openrct2/scenario/Scenario.cpp
  src/openrct2/scripting/bindings/world/ScPark.cpp
  src/openrct2/world/Park.cpp
Labels: squash merge

#21351 Fix empty error messages
  data/language/en-GB.txt
  src/openrct2/actions/ParkSetEntranceFeeAction.cpp
  src/openrct2/actions/StaffSetColourAction.cpp
  src/openrct2/actions/StaffSetOrdersAction.cpp
  src/openrct2/actions/WaterSetHeightAction.cpp
  src/openrct2/entity/Staff.cpp
  src/openrct2/entity/Staff.h
  src/openrct2/localisation/StringIds.h
  src/openrct2/ride/TrackDesign.cpp
  src/openrct2/world/TileInspector.cpp
Labels: changelog

#21405 Close #21379: Move map base z to constant
  src/openrct2-ui/windows/Ride.cpp
  src/openrct2/GameState.h
  src/openrct2/paint/tile_element/Paint.Entrance.cpp
  src/openrct2/paint/tile_element/Paint.Path.cpp
  src/openrct2/paint/tile_element/Paint.Surface.cpp
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/rct2/S6Importer.cpp
  src/openrct2/ride/TrackPaint.cpp
  src/openrct2/world/Map.cpp
  src/openrct2/world/Map.h
Labels: squash merge

#21423 Add mechanism to allow building partly underground
  distribution/changelog.txt
  src/openrct2/actions/TrackPlaceAction.cpp
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/ride/Track.h
  src/openrct2/ride/TrackData.cpp
  src/openrct2/ride/TrackData.h
Labels: network version, changelog

#21311 Fix #21310: Clearance on half loop elements is not symmetrical
  distribution/changelog.txt
  src/openrct2-ui/windows/RideConstruction.cpp
  src/openrct2/actions/TrackPlaceAction.cpp
  src/openrct2/ride/Track.h
  src/openrct2/ride/TrackData.cpp
Labels: testing required

#20376 Add Ukrainian Language
  contributors.md
  distribution/changelog.txt
  src/openrct2/localisation/Language.cpp
  src/openrct2/localisation/Language.h
  src/openrct2/platform/Platform.Win32.cpp
Labels: changelog

#21459 Move gCompanyValue to GameState_t
  src/openrct2-ui/windows/Finances.cpp
  src/openrct2/GameState.h
  src/openrct2/interface/InteractiveConsole.cpp
  src/openrct2/management/Finance.cpp
  src/openrct2/park/ParkFile.cpp
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/rct2/S6Importer.cpp
  src/openrct2/scenario/Scenario.cpp
  src/openrct2/scripting/bindings/world/ScPark.cpp
  src/openrct2/scripting/bindings/world/ScScenario.hpp
  src/openrct2/world/Park.cpp
  src/openrct2/world/Park.h
Labels: squash merge

#21455 Create game actions and UI for restricted scenery
  data/language/en-GB.txt
  distribution/changelog.txt
  src/openrct2-ui/windows/Scenery.cpp
  src/openrct2/Game.h
  src/openrct2/actions/GameActionRegistry.cpp
  src/openrct2/actions/ScenerySetRestrictedAction.cpp
  src/openrct2/actions/ScenerySetRestrictedAction.h
  src/openrct2/interface/Window.h
  src/openrct2/libopenrct2.vcxproj
  src/openrct2/localisation/StringIds.h
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/world/Scenery.cpp
  src/openrct2/world/Scenery.h
Labels: network version, plugin api version

#21468 Compile project as C++20
  .vscode/c_cpp_properties.json
  CMakeLists.txt
  openrct2.common.props
  readme.md
  src/openrct2-ui/windows/Footpath.cpp
  src/openrct2-ui/windows/GuestList.cpp
  src/openrct2-ui/windows/ObjectLoadError.cpp
  src/openrct2-ui/windows/TopToolbar.cpp
  src/openrct2/drawing/Rect.cpp
  src/openrct2/interface/Colour.h
Labels: squash merge
