Repository OpenRCT2/OpenRCT2, pull requests merged in 2024-11, with the labels that each got.

#23166 Add Galician
  distribution/changelog.txt
  src/openrct2/localisation/Language.cpp
  src/openrct2/localisation/Language.h
  src/openrct2/platform/Platform.Win32.cpp
Labels: changelog

#23212 Fix #23206: Do not rebuild the spatial index for tweening
  distribution/changelog.txt
  src/openrct2/entity/EntityRegistry.cpp
  src/openrct2/entity/EntityRegistry.h
  src/openrct2/entity/EntityTweener.cpp
Labels: changelog

#23239 Fix #23238: Guest ride favourite mistake
  CMakeLists.txt
  distribution/changelog.txt
  openrct2.proj
  src/openrct2/entity/Guest.cpp
  src/openrct2/network/NetworkBase.cpp
Labels: network version, changelog

#23155 Fix #22726: Force park rating cheat does not save
  distribution/changelog.txt
  src/openrct2/Cheats.cpp
  src/openrct2/Cheats.h
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/world/Park.cpp
Labels: network version

#23236 Sign Windows binaries with SignPath certificate
  .github/workflows/ci.yml
  CMakeLists.txt
  PRIVACY.md
  distribution/readme.txt
  distribution/windows/install.nsi
  readme.md
  scripts/build
  scripts/build-portable
  scripts/setenv
  src/openrct2-ui/CMakeLists.txt
  src/openrct2/command_line/RootCommands.cpp
Labels: build, Windows (OS)
