Repository OpenRCT2/OpenRCT2, pull requests merged in 2024-06, with the labels that each got.

#22131 Update objects release to v1.4.6
  CMakeLists.txt
  distribution/changelog.txt
  openrct2.proj
  src/openrct2/rct1/Tables.cpp
Labels: squash merge

#22152 Dukvalue uint int fixes
  distribution/changelog.txt
  src/openrct2-ui/scripting/CustomWindow.cpp
  src/openrct2-ui/scripting/ScGraphicsContext.hpp
  src/openrct2-ui/scripting/ScImageManager.hpp
  src/openrct2-ui/scripting/ScTitleSequence.hpp
  src/openrct2-ui/scripting/ScUi.hpp
  src/openrct2/scripting/Plugin.cpp
  src/openrct2/scripting/bindings/entity/ScParticle.cpp
  src/openrct2/scripting/bindings/entity/ScVehicle.cpp
  src/openrct2/scripting/bindings/game/ScContext.hpp
  src/openrct2/scripting/bindings/network/ScNetwork.cpp
  src/openrct2/scripting/bindings/object/ScObjectManager.cpp
  src/openrct2/scripting/bindings/world/ScPark.cpp
  src/openrct2/scripting/bindings/world/ScParkMessage.hpp
  src/openrct2/scripting/bindings/world/ScResearch.cpp
  src/openrct2/scripting/bindings/world/ScTileElement.cpp
  src/thirdparty/dukglue/dukvalue.h
Labels: changelog

#22196 Make track section navigation buttons holdable
  distribution/changelog.txt
  src/openrct2-ui/windows/RideConstruction.cpp
Labels: testing required
