Repository OpenRCT2/OpenRCT2, pull requests merged in 2024-07, with the labels that each got.

#22217 Ignore partially hidden sprites for viewport interaction
  distribution/changelog.txt
  src/openrct2/interface/Viewport.cpp
Labels: changelog

#22210 Introduce peep flags for fixed position and animation
  distribution/changelog.txt
  distribution/openrct2.d.ts
  src/openrct2/entity/Guest.cpp
  src/openrct2/entity/Peep.cpp
  src/openrct2/entity/Peep.h
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/park/ParkFile.h
  src/openrct2/scripting/ScriptEngine.h
  src/openrct2/scripting/bindings/entity/ScPeep.hpp
Labels: changelog

#22239 Rewrite sprite-cursor interaction code
  src/openrct2/interface/Viewport.cpp
Labels: testing required

#22293 Fix #22056: Stop (and discard) the recording before tearing down the scripting engine
  distribution/changelog.txt
  src/openrct2/Context.cpp
Labels: changelog

#22305 Prevent loading saved games twice in LoadSave window callback
  distribution/changelog.txt
  src/openrct2/Game.cpp
Labels: changelog

#22309 Simplify landscape (save) loading in scenario editor
  distribution/changelog.txt
  src/openrct2/Editor.cpp
Labels: changelog

#22315 Fix #22304: Graphs don't draw the first line if it is on the left edge of the screen
  distribution/changelog.txt
  src/openrct2-ui/interface/Graph.cpp
Labels: changelog

#22301 Add progress bars to loading saved games and scenarios
  data/language/en-GB.txt
  distribution/changelog.txt
  src/openrct2-ui/title/TitleSequencePlayer.cpp
  src/openrct2-ui/windows/Main.cpp
  src/openrct2/Context.cpp
  src/openrct2/Context.h
  src/openrct2/interface/Viewport.cpp
  src/openrct2/interface/Viewport.h
  src/openrct2/interface/Window.cpp
  src/openrct2/interface/Window.h
  src/openrct2/localisation/StringIds.h
  src/openrct2/object/ObjectManager.cpp
  src/openrct2/object/ObjectManager.h
  src/openrct2/scenes/preloader/PreloaderScene.cpp
  src/openrct2/scenes/title/TitleScene.cpp
Labels: changelog

#22319 Fix water sparkles missing if transparent water enabled without RCT1
  distribution/changelog.txt
  src/openrct2/paint/tile_element/Paint.Surface.cpp
  src/openrct2/ride/coaster/WoodenRollerCoaster.cpp
Labels: changelog

#22284 Fix: #22245 Log Flume with 1.27 nausea makes every guest sick
  distribution/changelog.txt
  src/openrct2-ui/windows/RideList.cpp
  src/openrct2/ride/RideRatings.cpp
Labels: changelog, squash merge

#21907 Resolve #21494: Automatically set window scaling based on DPI
  distribution/changelog.txt
  src/openrct2-ui/UiContext.cpp
  src/openrct2/config/Config.cpp
  src/openrct2/config/Config.h
Labels: changelog, squash merge

#22256 Fix #22209: Water tool selection may disappear near edge of map
  distribution/changelog.txt
  src/openrct2-ui/windows/TopToolbar.cpp
Labels: changelog

#22361 Add RCT1 colour preset for Observation Tower Pole
  distribution/changelog.txt
  src/openrct2/ride/gentle/meta/ObservationTower.h
Labels: changelog

#22272 Expose vehicle.trackType to scripting
  distribution/changelog.txt
  distribution/openrct2.d.ts
  src/openrct2/scripting/ScriptEngine.h
  src/openrct2/scripting/bindings/entity/ScVehicle.cpp
Labels: squash merge

#22357 Improve contrast for error messages
  data/language/en-GB.txt
  distribution/changelog.txt
  src/openrct2-ui/UiStringIds.h
  src/openrct2-ui/interface/Theme.cpp
  src/openrct2-ui/windows/Error.cpp
  src/openrct2-ui/windows/Themes.cpp
Labels: changelog, squash merge

#22406 Make UtilBitScanForward a header implementation
  src/openrct2/util/Util.cpp
  src/openrct2/util/Util.h
Labels: testing required, squash merge

#22352 Group object types in the object selection window
  data/language/en-GB.txt
  distribution/changelog.txt
  src/openrct2-ui/UiStringIds.h
  src/openrct2-ui/windows/EditorObjectSelection.cpp
Labels: changelog

#22412 Move window shim definitions into Widget.h
  src/openrct2-ui/WindowManager.cpp
  src/openrct2-ui/interface/Widget.h
  src/openrct2-ui/interface/Window.cpp
  src/openrct2-ui/windows/MapGen.cpp
  src/openrct2-ui/windows/Viewport.cpp
  src/openrct2-ui/windows/Window.h
Labels: squash merge

#22283 Let Heavy Snow and Blizzard increase brakes failure chance
  distribution/changelog.txt
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/ride/Ride.cpp
Labels: network version, changelog

#22411 Move tool event functions out of top toolbar
  distribution/changelog.txt
  src/openrct2-ui/WindowManager.cpp
  src/openrct2-ui/input/Shortcuts.cpp
  src/openrct2-ui/interface/LandTool.cpp
  src/openrct2-ui/interface/LandTool.h
  src/openrct2-ui/windows/ClearScenery.cpp
  src/openrct2-ui/windows/Footpath.cpp
  src/openrct2-ui/windows/Land.cpp
  src/openrct2-ui/windows/Scenery.cpp
  src/openrct2-ui/windows/TopToolbar.cpp
  src/openrct2-ui/windows/Water.cpp
  src/openrct2-ui/windows/Window.h
  src/openrct2/interface/Window.h
  src/openrct2/windows/_legacy.cpp
  src/openrct2/world/Map.cpp
  src/openrct2/world/Map.h
  src/openrct2/world/Scenery.cpp
  src/openrct2/world/Scenery.h
Labels: testing required
