Repository OpenRCT2/OpenRCT2, pull requests merged in 2024-03, with the labels that each got.

#21413 Add log flume lift sound effect (when “chainlift” is enabled).
  CMakeLists.txt
  distribution/changelog.txt
  openrct2.proj
  src/openrct2/audio/audio.h
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/ride/water/meta/LogFlume.h
  src/openrct2/ride/water/meta/RiverRapids.h
  src/openrct2/ride/water/meta/SplashBoats.h
Labels: network version

#21350 Update to v1.4.0 objects release
  CMakeLists.txt
  distribution/changelog.txt
  openrct2.proj
  src/openrct2/rct1/RCT1.h
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/rct1/T4Importer.cpp
  src/openrct2/rct1/Tables.cpp
  src/openrct2/rct1/Tables.h
  src/openrct2/ride/gentle/meta/Dodgems.h
  src/openrct2/ride/gentle/meta/FlyingSaucers.h
  src/openrct2/ride/gentle/meta/Maze.h
  src/openrct2/ride/gentle/meta/MiniGolf.h
  src/openrct2/world/Scenery.cpp
Labels: network version

#20093 Use new colours for peeps' clothing when they spawn
  CMakeLists.txt
  distribution/changelog.txt
  openrct2.proj
  src/openrct2/entity/Guest.cpp
  src/openrct2/network/NetworkBase.cpp
Labels: pending rebase, network version

#21500 Fix #21498: Crash when the size of text can't be determined
  distribution/changelog.txt
  src/openrct2/paint/tile_element/Paint.Banner.cpp
Labels: changelog

#21136 Fix #21037: Animations broken in title sequence
  src/openrct2-ui/title/TitleSequencePlayer.cpp
Labels: changelog

#21491 Fix #21484: Upkeep costs for some rides/facilities/shops are not calculated correctly
  .clang-tidy
  distribution/changelog.txt
  src/openrct2/actions/RideCreateAction.cpp
  src/openrct2/network/NetworkBase.cpp
Labels: network version, changelog

#21460 Fix #21289: Map window does not layout properly
  distribution/changelog.txt
  src/openrct2-ui/windows/Map.cpp
  src/openrct2/interface/Window.cpp
  src/openrct2/interface/Window.h
  src/openrct2/interface/Window_internal.h
  src/openrct2/localisation/Language.cpp
Labels: testing required

#21424 Store the rotation in viewports
  distribution/changelog.txt
  src/openrct2-ui/WindowManager.cpp
  src/openrct2-ui/input/MouseInput.cpp
  src/openrct2-ui/input/Shortcuts.cpp
  src/openrct2-ui/interface/ViewportInteraction.cpp
  src/openrct2-ui/scripting/ScViewport.hpp
  src/openrct2-ui/windows/Banner.cpp
  src/openrct2-ui/windows/Main.cpp
  src/openrct2-ui/windows/Park.cpp
  src/openrct2-ui/windows/RideConstruction.cpp
  src/openrct2-ui/windows/Sign.cpp
  src/openrct2-ui/windows/TopToolbar.cpp
  src/openrct2-ui/windows/Viewport.cpp
  src/openrct2/drawing/LightFX.cpp
  src/openrct2/entity/EntityBase.cpp
  src/openrct2/interface/InteractiveConsole.cpp
  src/openrct2/interface/Screenshot.cpp
  src/openrct2/interface/Viewport.cpp
  src/openrct2/interface/Viewport.h
  src/openrct2/interface/Window.cpp
  src/openrct2/interface/Window.h
  src/openrct2/paint/Paint.Entity.cpp
  src/openrct2/paint/Paint.cpp
  src/openrct2/paint/Paint.h
  src/openrct2/paint/Painter.cpp
  src/openrct2/paint/Painter.h
  src/openrct2/ride/TrackDesign.cpp
  src/openrct2/title/Command/RotateView.cpp
  src/openrct2/world/Footpath.cpp
  src/openrct2/world/Map.cpp
Labels: testing required, changelog

#21563 Pass DrawPixelInfo by reference
  src/openrct2-ui/drawing/engines/opengl/OpenGLDrawingEngine.cpp
  src/openrct2-ui/interface/Widget.cpp
  src/openrct2-ui/scripting/ScGraphicsContext.hpp
  src/openrct2-ui/windows/EditorInventionsList.cpp
  src/openrct2-ui/windows/EditorObjectSelection.cpp
  src/openrct2-ui/windows/Map.cpp
  src/openrct2-ui/windows/MapGen.cpp
  src/openrct2-ui/windows/NewRide.cpp
  src/openrct2-ui/windows/Options.cpp
  src/openrct2-ui/windows/Ride.cpp
  src/openrct2-ui/windows/ScenarioSelect.cpp
  src/openrct2-ui/windows/Scenery.cpp
  src/openrct2-ui/windows/ServerList.cpp
  src/openrct2-ui/windows/Themes.cpp
  src/openrct2-ui/windows/TrackList.cpp
  src/openrct2/Intro.cpp
  src/openrct2/drawing/Drawing.String.cpp
  src/openrct2/drawing/Drawing.h
  src/openrct2/drawing/IDrawingContext.h
  src/openrct2/drawing/NewDrawing.cpp
  src/openrct2/drawing/X8DrawingEngine.cpp
  src/openrct2/drawing/X8DrawingEngine.h
  src/openrct2/interface/Viewport.cpp
  src/openrct2/paint/Paint.cpp
Labels: testing required

#21529 Re-classify 4 LL scenarios as expert
  distribution/changelog.txt
  src/openrct2/scenario/ScenarioSources.cpp
Labels: changelog

#21573 Fix #21565: Giant screenshots not working correctly
  src/openrct2/interface/Screenshot.cpp
Labels: testing required

#21518 Fix #21434: Number of guests overflows in objective text
  data/language/en-GB.txt
  distribution/changelog.txt
  src/openrct2-ui/windows/EditorObjectiveOptions.cpp
  src/openrct2-ui/windows/Options.cpp
  src/openrct2-ui/windows/Park.cpp
  src/openrct2/localisation/StringIds.h
Labels: testing required, changelog

#21599 Use non-breaking spaces around currency units
  distribution/changelog.txt
  src/openrct2/localisation/Currency.cpp
Labels: changelog

#21635 Prevent TI hotkey from setting wall slope for non-slopeable objects
  distribution/changelog.txt
  src/openrct2-ui/input/Shortcuts.cpp
Labels: changelog, squash merge

#21662 Fix #18413: Trying to set tooltip using null vehicle
  distribution/changelog.txt
  src/openrct2/ride/Vehicle.cpp
Labels: changelog

#21626 Part of #21421: Replace define with constexpr
  src/openrct2-ui/windows/InstallTrack.cpp
  src/openrct2-ui/windows/Ride.cpp
  src/openrct2-ui/windows/TrackList.cpp
  src/openrct2/actions/RideCreateAction.cpp
  src/openrct2/entity/Guest.cpp
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/Ride.h
  src/openrct2/ride/RideRatings.h
  src/openrct2/ride/Station.cpp
  src/openrct2/ride/Track.cpp
  src/openrct2/ride/Track.h
  src/openrct2/ride/TrackData.cpp
  src/openrct2/ride/TrackDesign.cpp
  src/openrct2/ride/TrackDesign.h
  src/openrct2/ride/Vehicle.cpp
Labels: squash merge

#21667 Part of #21421: Replace define with constexpr
  contributors.md
  src/openrct2-ui/windows/Map.cpp
  src/openrct2-ui/windows/MapGen.cpp
  src/openrct2-ui/windows/RideConstruction.cpp
  src/openrct2-ui/windows/TileInspector.cpp
  src/openrct2/Game.cpp
  src/openrct2/actions/FootpathLayoutPlaceAction.cpp
  src/openrct2/actions/FootpathPlaceAction.cpp
  src/openrct2/actions/MapChangeSizeAction.cpp
  src/openrct2/actions/WallPlaceAction.cpp
  src/openrct2/entity/EntityRegistry.cpp
  src/openrct2/entity/Guest.cpp
  src/openrct2/entity/PatrolArea.h
  src/openrct2/object/RideObject.cpp
  src/openrct2/paint/Paint.h
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/rct12/RCT12.cpp
  src/openrct2/rct2/S6Importer.cpp
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/TrackDesign.cpp
  src/openrct2/ride/Vehicle.cpp
  src/openrct2/ride/Vehicle.h
  src/openrct2/ride/VehicleRiderControl.cpp
  src/openrct2/scripting/bindings/entity/ScVehicle.cpp
  src/openrct2/world/Footpath.cpp
  src/openrct2/world/Map.cpp
  src/openrct2/world/Map.h
  src/openrct2/world/SmallScenery.cpp
  src/openrct2/world/TileElement.h
  src/openrct2/world/TileElementBase.cpp
  src/openrct2/world/TileInspector.cpp
  src/openrct2/world/Wall.cpp
  test/tests/TileElementsView.cpp
Labels: squash merge

#21590 add banner properties to plugin API for large scenery, walls and banners
  distribution/changelog.txt
  distribution/openrct2.d.ts
  src/openrct2/scripting/ScriptEngine.h
  src/openrct2/scripting/bindings/world/ScTileElement.cpp
  src/openrct2/scripting/bindings/world/ScTileElement.hpp
Labels: squash merge

#21668 Fix crash on null ride in Guest::UpdateRideLeaveExit
  distribution/changelog.txt
  src/openrct2/entity/Guest.cpp
Labels: squash merge

#21360 Fix #21317: Track designer allows proceeding without an object selected
  distribution/changelog.txt
  src/openrct2-ui/windows/EditorBottomToolbar.cpp
  src/openrct2-ui/windows/EditorObjectSelection.cpp
  src/openrct2-ui/windows/Window.h
Labels: squash merge

#21621 Refactor TTF drawing
  src/openrct2-ui/drawing/engines/opengl/OpenGLDrawingEngine.cpp
  src/openrct2/drawing/Drawing.String.cpp
  src/openrct2/drawing/IDrawingContext.h
  src/openrct2/drawing/ScrollingText.cpp
  src/openrct2/drawing/TTF.cpp
  src/openrct2/drawing/TTF.h
  src/openrct2/drawing/TTFSDLPort.cpp
  src/openrct2/drawing/X8DrawingEngine.cpp
  src/openrct2/drawing/X8DrawingEngine.h
Labels: testing required

#21548 Change difficulty order for Wacky Worlds scenarios
  distribution/changelog.txt
  src/openrct2/scenario/ScenarioSources.cpp
Labels: changelog

#21654 Fix sound effects not working with RCTC base, fix audio object conflict
  CMakeLists.txt
  distribution/changelog.txt
  openrct2.proj
  src/openrct2/audio/Audio.cpp
  src/openrct2/audio/audio.h
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/object/ObjectFactory.cpp
Labels: network version, changelog
