Repository OpenRCT2/OpenRCT2, pull requests merged in 2025-03, with the labels that each got.

#23844 Fix: Sound effects keep playing when loading another save
  distribution/changelog.txt
  src/openrct2-ui/windows/ProgressWindow.cpp
  src/openrct2/audio/Audio.cpp
  src/openrct2/audio/Audio.h
Labels: testing required, squash merge

#23928 Refactor About window text drawing
  src/openrct2-ui/windows/About.cpp
Labels: squash merge

#23876 Introduce embedded save previews
  data/language/en-GB.txt
  distribution/changelog.txt
  resources/g2/logo_mono_dithered.png
  resources/g2/sprites.json
  src/openrct2-ui/UiStringIds.h
  src/openrct2-ui/interface/Theme.cpp
  src/openrct2-ui/windows/LoadSave.cpp
  src/openrct2/ParkImporter.h
  src/openrct2/SpriteIds.h
  src/openrct2/config/Config.cpp
  src/openrct2/config/Config.h
  src/openrct2/libopenrct2.vcxproj
  src/openrct2/park/ParkFile.cpp
  src/openrct2/park/ParkFile.h
  src/openrct2/park/ParkPreview.cpp
  src/openrct2/park/ParkPreview.h
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/rct2/S6Importer.cpp
  src/openrct2/scenario/ScenarioRepository.cpp
Labels: changelog, park file version

#23774 Introduce climate objects
  CMakeLists.txt
  data/language/en-GB.txt
  distribution/changelog.txt
  openrct2.proj
  src/openrct2-ui/UiStringIds.h
  src/openrct2-ui/windows/EditorObjectSelection.cpp
  src/openrct2-ui/windows/EditorScenarioOptions.cpp
  src/openrct2-ui/windows/GameBottomToolbar.cpp
  src/openrct2/Editor.cpp
  src/openrct2/EditorObjectSelectionSession.cpp
  src/openrct2/GameState.cpp
  src/openrct2/GameState.h
  src/openrct2/actions/ClimateSetAction.cpp
  src/openrct2/actions/ClimateSetAction.h
  src/openrct2/actions/GameActionRegistry.cpp
  src/openrct2/drawing/Weather.cpp
  src/openrct2/entity/Guest.cpp
  src/openrct2/interface/InteractiveConsole.cpp
  src/openrct2/libopenrct2.vcxproj
  src/openrct2/localisation/StringIds.h
  src/openrct2/object/ClimateObject.cpp
  src/openrct2/object/ClimateObject.h
  src/openrct2/object/DefaultObjects.cpp
  src/openrct2/object/DefaultObjects.h
  src/openrct2/object/ObjectFactory.cpp
  src/openrct2/object/ObjectLimits.h
  src/openrct2/object/ObjectList.cpp
  src/openrct2/object/ObjectTypes.cpp
  src/openrct2/object/ObjectTypes.h
  src/openrct2/park/Legacy.cpp
  src/openrct2/park/Legacy.h
  src/openrct2/park/ParkFile.cpp
  src/openrct2/park/ParkFile.h
  src/openrct2/rct1/RCT1.h
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/rct12/RCT12.h
  src/openrct2/rct2/RCT2.h
  src/openrct2/rct2/S6Importer.cpp
  src/openrct2/scripting/bindings/world/ScClimate.hpp
  src/openrct2/world/Climate.cpp
  src/openrct2/world/Climate.h
Labels: changelog, park file version

#24011 Fix #18309: Flying and Multi Dim trains glitch when moving between inverted and uninverted track when uncap fps is on
  distribution/changelog.txt
  src/openrct2/ride/Vehicle.cpp
Labels: changelog

#24009 Update object manager API to access new object types
  distribution/changelog.txt
  distribution/openrct2.d.ts
  src/openrct2/libopenrct2.vcxproj
  src/openrct2/object/ObjectFactory.cpp
  src/openrct2/scripting/bindings/object/ScInstalledObject.cpp
  src/openrct2/scripting/bindings/object/ScInstalledObject.hpp
  src/openrct2/scripting/bindings/object/ScObject.hpp
  src/openrct2/scripting/bindings/object/ScObjectManager.cpp
  src/openrct2/scripting/bindings/world/ScResearch.cpp
Labels: changelog, squash merge

#23978 TTF Support on Android
  distribution/changelog.txt
  src/openrct2-android/app/src/main/CMakeLists.txt
  src/openrct2/interface/FontFamilies.cpp
  src/openrct2/interface/FontFamilies.h
  src/openrct2/interface/Fonts.cpp
  src/openrct2/interface/Fonts.h
  src/openrct2/localisation/Language.cpp
  src/openrct2/platform/Platform.Android.cpp
Labels: changelog

#24070 Generalise dropdown tooltips and add tooltips to footpath window
  distribution/changelog.txt
  src/openrct2-ui/input/MouseInput.cpp
  src/openrct2-ui/interface/Dropdown.h
  src/openrct2-ui/windows/Dropdown.cpp
  src/openrct2-ui/windows/Footpath.cpp
Labels: testing required, changelog, squash merge

#24101 Exempt frozen peeps from being removed
  distribution/changelog.txt
  src/openrct2/actions/CheatSetAction.cpp
  src/openrct2/network/NetworkBase.cpp
Labels: network version, changelog

#22646 Show minimap in scenario list for new .park scenarios
  distribution/changelog.txt
  src/openrct2-ui/windows/ScenarioSelect.cpp
  src/openrct2/park/ParkPreview.cpp
Labels: testing required, changelog

#24076 Fix #23484: Castle station styles are erroneously remappable
  distribution/changelog.txt
  src/openrct2/paint/tile_element/Paint.Entrance.cpp
  src/openrct2/ride/TrackPaint.cpp
Labels: squash merge

#24059 Force object selection window to close when changing scenes
  distribution/changelog.txt
  src/openrct2-ui/WindowManager.cpp
  src/openrct2-ui/windows/EditorObjectSelection.cpp
  src/openrct2-ui/windows/InstallTrack.cpp
  src/openrct2-ui/windows/TrackList.cpp
  src/openrct2-ui/windows/Windows.h
  src/openrct2/EditorObjectSelectionSession.cpp
  src/openrct2/EditorObjectSelectionSession.h
  src/openrct2/scenes/game/GameScene.cpp
Labels: changelog

#24123 Fix #21908: Ride mode warnings when hovering track designs
  distribution/changelog.txt
  src/openrct2/actions/TrackDesignAction.cpp
Labels: testing required, changelog
