Repository OpenRCT2/OpenRCT2, pull requests merged in 2025-07, with the labels that each got.

#17718 Replace blood-curdling scream with a regular roller coaster scream
  CMakeLists.txt
  distribution/changelog.txt
  openrct2.deps.targets
  src/openrct2/audio/Audio.h
  src/openrct2/ride/Vehicle.cpp
  src/openrct2/ride/Vehicle.h
Labels: replay update

#24616 Add ability to scroll the map with gamepad stick
  data/language/en-GB.txt
  distribution/changelog.txt
  src/openrct2-ui/input/InputManager.cpp
  src/openrct2-ui/input/InputManager.h
  src/openrct2-ui/input/MouseInput.cpp
  src/openrct2-ui/input/MouseInput.h
  src/openrct2-ui/windows/Options.cpp
  src/openrct2/config/Config.cpp
  src/openrct2/config/Config.h
  src/openrct2/interface/Viewport.cpp
  src/openrct2/interface/Viewport.h
  src/openrct2/localisation/StringIds.h
Labels: user interface

#24832 Fix custom RCT1 scenarios potentially being confused with official ones
  distribution/changelog.txt
  src/openrct2/rct1/S4Importer.cpp
Labels: changelog
