Repository OpenRCT2/OpenRCT2, pull requests merged in 2025-04, with the labels that each got.

#24078 Add new Wooden Roller Coaster no platform station sprites
  distribution/changelog.txt
  resources/g2/sprites.json
  resources/g2/track/wooden/station_no_platform_block_brake_closed_nw_se.png
  resources/g2/track/wooden/station_no_platform_block_brake_closed_sw_ne.png
  resources/g2/track/wooden/station_no_platform_block_brake_open_nw_se.png
  resources/g2/track/wooden/station_no_platform_block_brake_open_sw_ne.png
  resources/g2/track/wooden/station_no_platform_nw_se.png
  resources/g2/track/wooden/station_no_platform_sw_ne.png
  src/openrct2/SpriteIds.h
  src/openrct2/paint/track/coaster/WoodenRollerCoaster.cpp
Labels: testing required

#24129 Fix #21824, #22820: OpenGL draws downscaled and masked sprites wrong
  data/shaders/drawrect.frag
  data/shaders/drawrect.vert
  distribution/changelog.txt
  src/openrct2-ui/drawing/engines/opengl/DrawCommands.h
  src/openrct2-ui/drawing/engines/opengl/DrawRectShader.cpp
  src/openrct2-ui/drawing/engines/opengl/DrawRectShader.h
  src/openrct2-ui/drawing/engines/opengl/OpenGLDrawingEngine.cpp
  src/openrct2-ui/drawing/engines/opengl/TextureCache.cpp
  src/openrct2-ui/drawing/engines/opengl/TextureCache.h
Labels: testing required, changelog

#24148 Load the save previews in the background
  src/openrct2-ui/windows/LoadSave.cpp
  src/openrct2/Context.cpp
  src/openrct2/Context.h
  src/openrct2/core/BackgroundWorker.hpp
  src/openrct2/libopenrct2.vcxproj
Labels: squash merge

#24136 Fix #23108: Missing pieces on Hypercoaster and Hyper-Twister, even with cheat
  distribution/changelog.txt
  src/openrct2/ride/rtd/coaster/HyperTwister.h
  src/openrct2/ride/rtd/coaster/Hypercoaster.h
Labels: changelog

#24137 Fix #21919: Non-recolourable cars still show colour picker
  distribution/changelog.txt
  src/openrct2-ui/windows/Ride.cpp
  src/openrct2/object/RideObject.cpp
  src/openrct2/ride/CarEntry.h
Labels: changelog

#24171 Fix crash from failing to open file for preview
  distribution/changelog.txt
  src/openrct2-ui/windows/ScenarioSelect.cpp
Labels: changelog

#24135 Load emscripten data via a zip file
  distribution/changelog.txt
  emscripten/static/index.html
  emscripten/static/index.js
  scripts/build-emscripten
Labels: squash merge

#24179 Close #21767: Cannot select macOS version of RCTC as source
  distribution/changelog.txt
  src/openrct2/PlatformEnvironment.cpp
  src/openrct2/platform/Platform.Common.cpp
  src/openrct2/platform/Platform.h
Labels: squash merge

#24090 Load scripts in the scenario editor and track designer
  distribution/changelog.txt
  src/openrct2-ui/windows/EditorBottomToolbar.cpp
  src/openrct2/Editor.cpp
Labels: changelog

#24197 Changelog.cpp cleanup
  src/openrct2-ui/windows/Changelog.cpp
Labels: testing required, changelog

#24193 Let checkbox widgets respect widget width for their labels
  distribution/changelog.txt
  src/openrct2-ui/interface/Widget.cpp
Labels: changelog

#23982 Merge objective options into scenario options
  data/language/en-GB.txt
  distribution/changelog.txt
  src/openrct2-ui/UiStringIds.h
  src/openrct2-ui/WindowManager.cpp
  src/openrct2-ui/interface/FileBrowser.cpp
  src/openrct2-ui/interface/FileBrowser.h
  src/openrct2-ui/interface/Theme.cpp
  src/openrct2-ui/libopenrct2ui.vcxproj
  src/openrct2-ui/title/TitleSequencePlayer.cpp
  src/openrct2-ui/windows/EditorBottomToolbar.cpp
  src/openrct2-ui/windows/EditorObjectiveOptions.cpp
  src/openrct2-ui/windows/EditorScenarioOptions.cpp
  src/openrct2-ui/windows/LoadSave.cpp
  src/openrct2-ui/windows/Themes.cpp
  src/openrct2-ui/windows/TopToolbar.cpp
  src/openrct2-ui/windows/Windows.h
  src/openrct2/Editor.cpp
  src/openrct2/Editor.h
  src/openrct2/interface/InteractiveConsole.cpp
  src/openrct2/interface/WindowClasses.h
  src/openrct2/ride/Ride.cpp
Labels: changelog

#23953 Fix crash in map.getAllEntities("car") when car has an invalid ride (#22182)
  distribution/changelog.txt
  src/openrct2/scripting/ScriptEngine.h
  src/openrct2/scripting/bindings/world/ScMap.cpp
Labels: changelog, squash merge

#22766 Fix #19782: Game stops counting inversions after 31
  distribution/changelog.txt
  src/openrct2-ui/windows/Ride.cpp
  src/openrct2/Limits.h
  src/openrct2/core/FlagHolder.hpp
  src/openrct2/park/Legacy.cpp
  src/openrct2/park/Legacy.h
  src/openrct2/park/ParkFile.cpp
  src/openrct2/park/ParkFile.h
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/rct2/S6Importer.cpp
  src/openrct2/rct2/T6Exporter.cpp
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/Ride.h
  src/openrct2/ride/RideRatings.cpp
  src/openrct2/ride/TrackDesign.cpp
  src/openrct2/ride/Vehicle.cpp
  src/openrct2/ride/rtd/gentle/MiniGolf.h
  src/openrct2/scripting/bindings/ride/ScRide.cpp
Labels: network version, park file version

#24263 Fix #24260: Optimize the lookup for nearby guests by entertainers
  distribution/changelog.txt
  src/openrct2/entity/Staff.cpp
Labels: changelog

#20073 Add support for invalidation on OpenGL renderer
  distribution/changelog.txt
  src/openrct2-ui/UiContext.cpp
  src/openrct2-ui/WindowManager.cpp
  src/openrct2-ui/drawing/engines/HardwareDisplayDrawingEngine.cpp
  src/openrct2-ui/drawing/engines/SoftwareDrawingEngine.cpp
  src/openrct2-ui/drawing/engines/opengl/OpenGLAPI.h
  src/openrct2-ui/drawing/engines/opengl/OpenGLAPIProc.h
  src/openrct2-ui/drawing/engines/opengl/OpenGLDrawingEngine.cpp
  src/openrct2-ui/drawing/engines/opengl/OpenGLFramebuffer.cpp
  src/openrct2-ui/drawing/engines/opengl/OpenGLFramebuffer.h
  src/openrct2-ui/drawing/engines/opengl/SwapFramebuffer.h
  src/openrct2-ui/scripting/CustomImages.cpp
  src/openrct2/Editor.cpp
  src/openrct2/drawing/InvalidationGrid.cpp
  src/openrct2/drawing/InvalidationGrid.h
  src/openrct2/drawing/X8DrawingEngine.cpp
  src/openrct2/drawing/X8DrawingEngine.h
  src/openrct2/interface/InteractiveConsole.cpp
  src/openrct2/interface/Screenshot.cpp
  src/openrct2/interface/Viewport.cpp
  src/openrct2/interface/Window.cpp
  src/openrct2/interface/WindowBase.cpp
  src/openrct2/interface/WindowBase.h
  src/openrct2/libopenrct2.vcxproj
  src/openrct2/paint/Paint.cpp
  src/openrct2/park/ParkPreview.cpp
  src/openrct2/scenes/title/Command/SetLocation.cpp
Labels: changelog

#24310 [Plugin] Fix missing invalidation on various plugin api setters for entities
  distribution/changelog.txt
  src/openrct2/scripting/bindings/entity/ScBalloon.cpp
  src/openrct2/scripting/bindings/entity/ScLitter.cpp
  src/openrct2/scripting/bindings/entity/ScParticle.cpp
  src/openrct2/scripting/bindings/entity/ScPeep.hpp
  src/openrct2/scripting/bindings/entity/ScStaff.cpp
  src/openrct2/scripting/bindings/entity/ScVehicle.cpp
Labels: changelog
