Repository OpenRCT2/OpenRCT2, pull requests merged in 2025-09, with the labels that each got.

#25107 Replace duplicate MapIsLocationAtEdge function with MapIsEdge
  src/openrct2/actions/WallPlaceAction.cpp
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/world/Footpath.cpp
  src/openrct2/world/Map.cpp
  src/openrct2/world/Map.h
Labels: network version

#25161 Restore maximum ride price algo to vanilla
  CMakeLists.txt
  distribution/changelog.txt
  openrct2.deps.targets
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/park/ParkFile.h
  src/openrct2/ride/RideRatings.cpp
Labels: network version, changelog, park file version

#25185 Scenery window: increase minimum height
  distribution/changelog.txt
  src/openrct2-ui/windows/Scenery.cpp
Labels: changelog, squash merge

#25228 Order available costumes array by display name
  distribution/changelog.txt
  src/openrct2/peep/PeepAnimations.cpp
  src/openrct2/peep/PeepAnimations.h
Labels: changelog

#25248 Revert crooked house & circus default prices to vanilla values
  distribution/changelog.txt
  src/openrct2/network/NetworkBase.cpp
  src/openrct2/ride/rtd/gentle/Circus.h
  src/openrct2/ride/rtd/gentle/CrookedHouse.h
Labels: network version

#25254 Fix #25201: Maintain ride list sort order, apply natural sorting
  distribution/changelog.txt
  src/openrct2-ui/windows/RideList.cpp
  src/openrct2/core/String.cpp
  test/tests/StringTest.cpp
Labels: changelog
