Repository OpenRCT2/OpenRCT2, pull requests merged in 2025-05, with the labels that each got.

#24069 Clear plugin storage when converting save game for scenario
  distribution/changelog.txt
  src/openrct2-ui/windows/EditorBottomToolbar.cpp
  src/openrct2/Editor.cpp
Labels: testing required, changelog

#24233 Support RCT Classic+, look in /Applications for installs
  src/openrct2/PlatformEnvironment.cpp
  src/openrct2/platform/Platform.Common.cpp
  src/openrct2/platform/Platform.h
  src/openrct2/platform/Platform.macOS.mm
Labels: changelog

#24308 Remove Software renderer
  distribution/changelog.txt
  src/openrct2-ui/drawing/engines/DrawingEngineFactory.hpp
  src/openrct2-ui/drawing/engines/SoftwareDrawingEngine.cpp
  src/openrct2-ui/libopenrct2ui.vcxproj
  src/openrct2-ui/windows/Options.cpp
  src/openrct2/Context.cpp
  src/openrct2/config/Config.cpp
  src/openrct2/drawing/IDrawingEngine.h
  src/openrct2/drawing/NewDrawing.cpp
  src/openrct2/drawing/NewDrawing.h
Labels: changelog

#24317 Improve scenery window (minimum) height
  distribution/changelog.txt
  src/openrct2-ui/windows/Scenery.cpp
Labels: testing required, changelog, squash merge

#24337 Android CI: enable native build (cmake) output
  src/openrct2-android/gradle.properties
Labels: build, Android (OS)

#24306 Fix #18479: Tile elements ordered beneath water do not draw correctly
  distribution/changelog.txt
  src/openrct2/paint/tile_element/Paint.TileElement.cpp
Labels: squash merge

#24194 Rework 'advanced options' tab to use group boxes
  data/language/en-GB.txt
  distribution/changelog.txt
  src/openrct2-ui/UiStringIds.h
  src/openrct2-ui/windows/LoadSave.cpp
  src/openrct2-ui/windows/Options.cpp
Labels: changelog

#24362 NSIS installer: clear old objects, add all OpenRCT2 languages
  distribution/changelog.txt
  distribution/windows/install.nsi
Labels: changelog

#24403 Fix park fences drawing underneath and through opaque water
  distribution/changelog.txt
  src/openrct2/paint/tile_element/Paint.Surface.cpp
Labels: changelog

#24412 Remove lock from TextureCache, draw calls are never done in parallel
  src/openrct2-ui/drawing/engines/opengl/TextureCache.cpp
  src/openrct2-ui/drawing/engines/opengl/TextureCache.h
Labels: testing required

#24425 Fix #24422: More than one viewport is causing issues
  src/openrct2/interface/Viewport.cpp
Labels: testing required

#24419 Stricter OpenGL error checking
  src/openrct2-ui/drawing/engines/opengl/ApplyPaletteShader.cpp
  src/openrct2-ui/drawing/engines/opengl/ApplyPaletteShader.h
  src/openrct2-ui/drawing/engines/opengl/ApplyTransparencyShader.cpp
  src/openrct2-ui/drawing/engines/opengl/ApplyTransparencyShader.h
  src/openrct2-ui/drawing/engines/opengl/DrawLineShader.cpp
  src/openrct2-ui/drawing/engines/opengl/DrawLineShader.h
  src/openrct2-ui/drawing/engines/opengl/DrawRectShader.cpp
  src/openrct2-ui/drawing/engines/opengl/DrawRectShader.h
  src/openrct2-ui/drawing/engines/opengl/OpenGLAPI.h
  src/openrct2-ui/drawing/engines/opengl/OpenGLDrawingEngine.cpp
  src/openrct2-ui/drawing/engines/opengl/OpenGLShaderProgram.cpp
  src/openrct2-ui/drawing/engines/opengl/OpenGLShaderProgram.h
  src/openrct2-ui/drawing/engines/opengl/SwapFramebuffer.cpp
  src/openrct2-ui/drawing/engines/opengl/SwapFramebuffer.h
  src/openrct2-ui/drawing/engines/opengl/TextureCache.cpp
Labels: squash merge

#24080 Add time since last inspection to Rides List window
  data/language/en-GB.txt
  distribution/changelog.txt
  src/openrct2-ui/UiStringIds.h
  src/openrct2-ui/windows/RideList.cpp
Labels: changelog

#24409 Autodetect Steam installs of RCT Classic
  distribution/changelog.txt
  src/openrct2/config/Config.cpp
  src/openrct2/platform/Platform.Android.cpp
  src/openrct2/platform/Platform.Linux.cpp
  src/openrct2/platform/Platform.Win32.cpp
  src/openrct2/platform/Platform.h
  src/openrct2/platform/Platform.macOS.mm
Labels: changelog

#24444 Anchor object load error text to title bar
  distribution/changelog.txt
  src/openrct2-ui/windows/ObjectLoadError.cpp
Labels: changelog

#24440 #ieeesoc fix: resolve issue where shortcut keys were not localised
  distribution/changelog.txt
  src/openrct2-ui/UiStringIds.h
  src/openrct2-ui/input/ShortcutInput.cpp
Labels: changelog, squash merge

#24464 Refactor window visibility cache and fix viewport visibility
  distribution/changelog.txt
  src/openrct2-ui/drawing/engines/opengl/OpenGLDrawingEngine.cpp
  src/openrct2/drawing/X8DrawingEngine.cpp
  src/openrct2/interface/Viewport.cpp
  src/openrct2/interface/Viewport.h
  src/openrct2/interface/Window.cpp
  src/openrct2/interface/Window.h
  src/openrct2/interface/WindowBase.h
Labels: changelog

#24433 Prevent some unnecessary window invalidations
  distribution/changelog.txt
  src/openrct2-ui/interface/Window.cpp
  src/openrct2-ui/scripting/CustomWindow.cpp
  src/openrct2-ui/scripting/ScViewport.hpp
  src/openrct2-ui/windows/ClearScenery.cpp
  src/openrct2-ui/windows/EditorInventionsList.cpp
  src/openrct2-ui/windows/Footpath.cpp
  src/openrct2-ui/windows/NewRide.cpp
  src/openrct2-ui/windows/Park.cpp
  src/openrct2-ui/windows/Ride.cpp
  src/openrct2-ui/windows/RideConstruction.cpp
  src/openrct2-ui/windows/Scenery.cpp
  src/openrct2-ui/windows/Staff.cpp
  src/openrct2-ui/windows/Viewport.cpp
  src/openrct2/interface/Viewport.cpp
  src/openrct2/ride/Ride.h
  src/openrct2/ride/RideRatings.cpp
  src/openrct2/ride/RideRatings.h
  src/openrct2/ride/Vehicle.cpp
Labels: changelog

#24478 Fix #24447: Refresh the shortcut window when changing language
  distribution/changelog.txt
  src/openrct2-ui/windows/ShortcutKeys.cpp
Labels: changelog

#24470 Fix #20158: Animated scenery DATs with frame offsets draw random sprite at end of their animation
  distribution/changelog.txt
  src/openrct2/object/SmallSceneryObject.cpp
Labels: changelog

#24488 Invalidate screen on reload from object selection window
  distribution/changelog.txt
  src/openrct2-ui/windows/EditorObjectSelection.cpp
Labels: changelog

#24491 Translate NSIS installer
  distribution/changelog.txt
  distribution/windows/install.nsi
  distribution/windows/language/install_en.nsi
  distribution/windows/language/install_nl.nsi
Labels: squash merge

#24504 Fix #23289: Dodgems and Flying Saucers can spawn on top of each other when opened
  distribution/changelog.txt
  src/openrct2/entity/EntityBase.h
  src/openrct2/entity/EntityRegistry.cpp
  src/openrct2/ride/Ride.cpp
Labels: changelog

#24521 Add the ability to temporarily load objects without registering them
  distribution/changelog.txt
  src/openrct2/object/ObjectManager.cpp
  src/openrct2/object/ObjectManager.h
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/rct2/S6Importer.cpp
Labels: changelog

#24531 Move TD46 stuff to own file
  src/openrct2/libopenrct2.vcxproj
  src/openrct2/rct1/T4Importer.cpp
  src/openrct2/rct12/RCT12.cpp
  src/openrct2/rct12/RCT12.h
  src/openrct2/rct12/TD46.cpp
  src/openrct2/rct12/TD46.h
  src/openrct2/rct2/T6Exporter.cpp
  src/openrct2/rct2/T6Importer.cpp
Labels: squash merge

#24378 Prevent ride and stall statistics from overflowing
  distribution/changelog.txt
  src/openrct2/entity/Guest.cpp
  src/openrct2/entity/Peep.cpp
  src/openrct2/management/Finance.cpp
  src/openrct2/ride/Ride.cpp
  src/openrct2/ride/Ride.h
Labels: changelog

#24345 Use the intended bounding box for vehicle sprite fallbacks
  distribution/changelog.txt
  src/openrct2/paint/vehicle/VehiclePaint.cpp
Labels: changelog
