Repository OpenRCT2/OpenRCT2, pull requests merged in 2025-06, with the labels that each got.

#24567 Fix flat to steep wooden mine supports not connecting to flat supports
  distribution/changelog.txt
  resources/tracks/support/wooden/mine/flat_to_steep_1_1.png
  resources/tracks/support/wooden/mine/flat_to_steep_1_2.png
  resources/tracks/support/wooden/mine/flat_to_steep_1_3.png
  resources/tracks/support/wooden/mine/flat_to_steep_1_4.png
  resources/tracks/support/wooden/mine/steep_to_flat_4_1.png
  resources/tracks/support/wooden/mine/steep_to_flat_4_2.png
  resources/tracks/support/wooden/mine/steep_to_flat_4_3.png
  resources/tracks/support/wooden/mine/steep_to_flat_4_4.png
Labels: changelog

#24411 Get minimap and screenshot images from scenario meta objects
  CMakeLists.txt
  data/language/en-GB.txt
  distribution/changelog.txt
  openrct2.deps.targets
  src/openrct2-ui/UiStringIds.h
  src/openrct2-ui/windows/Options.cpp
  src/openrct2-ui/windows/ScenarioSelect.cpp
  src/openrct2/command_line/ParkInfoCommands.cpp
  src/openrct2/config/Config.cpp
  src/openrct2/config/Config.h
  src/openrct2/libopenrct2.vcxproj
  src/openrct2/object/ObjectFactory.cpp
  src/openrct2/object/ObjectLimits.h
  src/openrct2/object/ObjectList.cpp
  src/openrct2/object/ObjectManager.cpp
  src/openrct2/object/ObjectTypes.cpp
  src/openrct2/object/ObjectTypes.h
  src/openrct2/object/ScenarioMetaObject.cpp
  src/openrct2/object/ScenarioMetaObject.h
  src/openrct2/object/ScenarioTextObject.cpp
  src/openrct2/park/ParkPreview.cpp
  src/openrct2/rct1/S4Importer.cpp
  src/openrct2/rct2/Limits.h
  src/openrct2/rct2/RCT2.h
  src/openrct2/rct2/S6Importer.cpp
  src/openrct2/scenario/Scenario.cpp
  src/openrct2/scenario/ScenarioSources.cpp
  src/openrct2/scripting/bindings/object/ScInstalledObject.cpp
Labels: changelog

#24559 Disable scenario options rather than hiding them
  data/language/en-GB.txt
  distribution/changelog.txt
  src/openrct2-ui/windows/EditorScenarioOptions.cpp
Labels: testing required, changelog

#24631 Make changelog format display diff in unified format
  scripts/check-changelog-formatting
Labels: squash merge

#24629 Fix #24617: Prevent hired boat with 0 speed causing division by 0
  distribution/changelog.txt
  src/openrct2/ride/Vehicle.cpp
Labels: changelog

#24569 Add first translations batch to NSIS
  distribution/changelog.txt
  distribution/windows/install.nsi
  distribution/windows/language/install_de.nsi
  distribution/windows/language/install_fi.nsi
  distribution/windows/language/install_fr.nsi
  distribution/windows/language/install_gl.nsi
  distribution/windows/language/install_hu.nsi
  distribution/windows/language/install_it.nsi
  distribution/windows/language/install_ko.nsi
  distribution/windows/language/install_pt.nsi
  distribution/windows/language/install_ru.nsi
Labels: changelog

#24640 Remove sorting by difficulty in the scenario selector
  data/language/en-GB.txt
  distribution/changelog.txt
  src/openrct2-ui/UiStringIds.h
  src/openrct2-ui/windows/Options.cpp
  src/openrct2-ui/windows/ScenarioSelect.cpp
  src/openrct2/config/Config.cpp
  src/openrct2/config/Config.h
  src/openrct2/scenario/Scenario.h
  src/openrct2/scenario/ScenarioRepository.cpp
Labels: changelog
